[2016-01-04 17:03] PrimeBagel commented on #380
@JsonCrave a vpn is much better than a proxy and I'm not sure how to make the bots use the Facebook bonus. I am experienced with Java but I'm not familiar with JavaScript but I'm sure it's possible

[2016-01-04 17:04] camilleeyries commented on #380
Dsl... Mon bot ne fonctionne plus. Suite aux récentes modifications d'agario, je ne peut plus utiliser différentes ip pour me connecter à Agar... Dsl. Mais si tu veut toujours des bots "low-cost" tu peut aller voir du côté de l'extension Chrome "agario-powerups". Le développeur a sorti une version bêta...

J'envoie des nouvelles si il se passe quelque chose.

Bon en journée je go au travail :D😄

[2016-01-04 17:04] camilleeyries commented on #380
Ah !! On dirait que qu'un a trouvé la solution sur l'autre Channel !

Envoyé de mon iPhone

[2016-01-04 17:07] PrimeBagel commented on #380
@camilleeyries could you translate that please?

[2016-01-04 17:09] PrimeBagel commented on #380
I keep seeing all these agar bots and talk of paid services and it pisses me off when you can just change one line of code and use a vpn to get bots for free

[2016-01-04 17:23] jwilde35 commented on #380
You have cracked this logic! good job, and the person who told us this is
very nice. Srry forgot the name

On Monday, January 4, 2016, PrimeBagel <notifications@github.com> wrote:

[2016-01-04 17:27] PrimeBagel commented on #380
@jwilde35 you're welcome :)

[2016-01-04 18:00] PrimeBagel commented on #380
This works on PUBLIC servers! Here is how you truly get unlimited bots for FREE!
1) download agario power ups
2) find the folder where chrome stores extensions and open the agario power ups one (Google this)
3) open the agar.io.js file in notepad
4) search for mAB and change the first variable you see to whatever you want
5) search the chrome store for the browsec vpn extension and install it
6) e

[2016-01-04 18:05] PrimeBagel commented on #380
@SamGamesYT I think I know what you did wrong. The variable I was talking about appears like this "mAB = 4" When I said change it to whatever you want I meant change the number of bots it is set to so if you want 50 bots change it to "mAB = 50"

[2016-01-04 18:13] PrimeBagel commented on #380
Also you must get the browsec vpn from the chrome store for the bots to work on public servers

[2016-01-04 19:28] JsonCrave commented on #380
its not gonna work if u edit the file, chrome has disabled that, so you gotta create a extension (option in developer mode) and then delete thumb.db and _manifest

[2016-01-04 19:51] PrimeBagel commented on #380
@JsonCrave chrome disregards thumbs it's just a file generated for folders set specifically for pictures and you have to rename _metadata to metadata I'm not sure if you should delete it

[2016-01-04 19:55] PrimeBagel commented on #380
I made a modded one with 25 bots here https://www.dropbox.com/s/48rswdog8czzv8r/Agario%20Powerups.zip?dl=0 You can use this one in chrome developer mode. Make sure you get the browsec vpn. You can edit the number of bots by changing what the first mAB is set to in the agar.io.js

[2016-01-04 19:57] PrimeBagel commented on #380
@JsonCrave how can chrome tell if you edited the file or not, it can't stop you. Please explain

[2016-01-04 20:01] PrimeBagel commented on #380
Nevermind I looked it up yeah I guess chrome does verify extensions just use the link above

[2016-01-04 20:05] Sonicmaster13 commented on #380
Hello, I just released a new video for version 1.3.2 on my website. All I did was remove the confusion for removing the token so you don't need to do that any more. The new download is on my YT channel: MrSonic Master

[2016-01-04 20:07] Sonicmaster13 commented on #380
Oh and hopefully later today I will be making a sneak peek of our version 2.0 which gives 30 bots on party mode mode that all spawn with something like 135 mass. It's sooo op lol.

[2016-01-04 20:08] Sonicmaster13 commented on #380
The 135 mass comes from the bots signing in with Facebook where triple mass boost is active and I have maxed out on normal spawn mass (43).

[2016-01-04 20:10] PrimeBagel commented on #380
@Sonicmaster13 how do you get the Facebook bonus to work on bots

[2016-01-04 20:18] Sonicmaster13 commented on #380
You don't want to know it took for friking ever I can tell you some hints though

[2016-01-04 20:26] PrimeBagel commented on #380
@Sonicmaster13 please tell me

[2016-01-04 20:50] JsonCrave commented on #380
@PrimeBagel deleted it worked for me, renaming it makes it that chrome cant read the file and therefore blocks u from adding it. (for me atleast)

[2016-01-04 20:53] JsonCrave commented on #380
@PrimeBagel now that your way on how to get bots is public, everyone will be using it and agar will be broken, if i were you i would delete the comments.

[2016-01-04 21:00] PrimeBagel commented on #380
Yeah I probably should but I saw people selling bots and I didn't think that was right either

[2016-01-04 22:00] Sonicmaster13 commented on #380
Ok so the Facebook login and XP system are in opcode 82/case 32 and to login you need the cookies stored in Agar.io by facebook.

[2016-01-05 03:45] PrimeBagel commented on #380
@Sonicmaster13 thank you that helped me a lot. I'm thinking of making a extension where 100 non-facebook bots feed you until you get to 600 mass then 50 facebook bots will kick in feed you and the 100 non-facebook bots will now feed one of the 50 facebook bots thats the closest to them

[2016-01-05 08:04] 5p1Ky commented on #380
@PrimeBagel That's so difficult you know ... Do you know JavaScript or not ?

[2016-01-05 08:13] PrimeBagel commented on #380
@5p1Ky I've learned Java but I'm teaching myself JavaScript. I'm just trying to get bots to use the Facebook bonus right now because they recently changed how it works

[2016-01-05 08:16] SamGamesYT commented on #380
@PrimeBagel i have my own suicidal bots if you wanna work together ???

[2016-01-05 08:22] PrimeBagel commented on #380
@SamGamesYT sure I'd be happy to

[2016-01-05 08:23] SamGamesYT commented on #380
Add me on skype: samuel.snell1

[2016-01-05 08:27] SamGamesYT commented on #380
@PrimeBagel ^

[2016-01-05 08:29] PrimeBagel commented on #380
I don't have skype :(

[2016-01-05 08:29] SamGamesYT commented on #380
Can you get it ? Please @PrimeBagel

[2016-01-05 08:29] PrimeBagel commented on #380
Ok

[2016-01-05 08:30] PrimeBagel commented on #380
I'll do it in the morning

[2016-01-05 08:30] SamGamesYT commented on #380
Okay

[2016-01-05 08:31] SamGamesYT commented on #380
These are my bots i am not using Agar-Powerups I use Node.js and i am making a website https://www.youtube.com/watch?v=J4jJz766c3s

[2016-01-05 08:40] PrimeBagel commented on #380
You're bots look nice. What do you need help with?

[2016-01-05 08:55] SamGamesYT commented on #380
I only can get 5 bots on multiplayer. The Others get Connection Refused can you help? @PrimeBagel

[2016-01-05 11:46] JsonCrave commented on #380
Samgames ill help you, added on skype

[2016-01-05 11:57] SamGamesYT commented on #380
@henopied hey dude i have bots right they work perfectly fine on private server but multiplayer i only can have 5 Can you help me please

[2016-01-05 12:44] BordChinChin opened #507 "Large blob bug."
Hello, First of all i love using your bot. But, There is one problem: I saw this in earlier thread and you seemed to fix it, could you to it for this version too?  screenshot: https://gyazo.com/50d6f2fbdb8af850fde75cb8dfedf8f0
If you could fix it it would be Fantastic!
Sorry for bad english, Its not my native language. :)

[2016-01-05 12:49] 5p1Ky commented on #380
@SamGamesYT I know the problem ... On Agario (client side) you can only handle 5 players on one IP. So you + the 4 bots (and that's why Szymon Marczak do only 4 bots. The only things you can do to have more bots is to handle your bots in server side... So that's more difficult to program.. :(

[2016-01-05 12:53] SamGamesYT commented on #380
@5p1Ky Can you please help me add me on skype : samuel.snell1

[2016-01-05 12:55] Drflash55 commented on #505
Not the place to ask for this...

[2016-01-05 12:55] Drflash55 commented on #506
You didn't include enough details to describe your problem...

[2016-01-05 12:56] Drflash55 commented on #507
This issue has already been noticed...
Duplicate of #452

[2016-01-05 12:57] Drflash55 commented on #504
To remove this, either remove the extension from Google Chrome, or turn it off in the extension's dashboard.

[2016-01-05 13:10] SamGamesYT commented on #380
Does Anyone Know how to fix it and willing to help please i am willing to pay

[2016-01-05 14:46] PrimeBagel commented on #380
@SamGamesYT try installing a vpn. I would recommend browsec but I think it's only available in chrome

[2016-01-05 14:48] PrimeBagel commented on #380
I changed the number of bots in agario powerups and the browsec vpn lets me run 130 bots in a public server without dropping any

[2016-01-05 14:50] SamGamesYT commented on #380
i lag when i have vpn on though can you give me a link to a good server host for the bots

[2016-01-05 14:54] PrimeBagel commented on #380
Idk I like to run them on my home network. What's your download speed? Mine is 230mb per second you also need a good computer that can process data fast

[2016-01-05 14:57] PrimeBagel commented on #380
I always use the vpn though. I've tried many but browsec is definitely the best for agario bots

[2016-01-05 14:57] SamGamesYT commented on #380
i have good computer my download speed is like 20 mbps I have no nbn in my area. Me and you wanna buy servers and run bots together i have website and all that

[2016-01-05 15:03] PrimeBagel commented on #380
Well I don't really need to buy servers, I just use bots for fun and I don't really want to sell

[2016-01-05 15:04] PrimeBagel commented on #380
Google fiber is going to come to my city sometime too

[2016-01-05 15:05] SamGamesYT commented on #380
Well i am gonna buy servers can u help me set it up please

[2016-01-05 15:55] 5p1Ky commented on #380
@PrimeBagel So what do you need to do ? Just install Browsec, then the modify script of Agario powerups, the bots and then it work ? Or you need to set some modifications with Browsec ? :)

[2016-01-05 16:53] PrimeBagel commented on #380
@5p1Ky thats all you have to do if you want unlimited bots but what I really want to do is merge browsec and agario powerups into one extension so the bots will work on vpn and I want to make the other bot modifications I was talking about for personal use and I don't plan on giving it out to people as my own

[2016-01-05 17:09] Zephyr-Vi commented on #380
I have successfully coded my OWN feeder bot in python, take a look at: http://i.imgur.com/O3fI4XR.png, console output: http://i.imgur.com/sGGK7vt.png It isn't complete due to the fact that I have to manual set the coordinates but I am currently working on that I average around 100 - 150 bots :)

[2016-01-05 17:11] SamGamesYT commented on #380
can i have it @Zephyr-Vi ?

[2016-01-05 17:11] Zephyr-Vi commented on #380
@SamGamesYT It isn't complete and I literally don't know you..

[2016-01-05 17:12] SamGamesYT commented on #380
@Zephyr-Vi Could i test it ?

[2016-01-05 17:12] Drflash55 commented on #380
@Zephyr-Vi

Neato. Will you sell this for Profit, or will it be free, like Szymon's is?

[2016-01-05 17:22] Drflash55 commented on #503
Not a valid issue...

_I sound like a bot right now._

[2016-01-05 17:22] Drflash55 commented on #499
Not a valid issue...

[2016-01-05 17:22] Zephyr-Vi commented on #380
@Drflash55 It actually depends on how I feel to be honest, it took alot of effort to get it working where as after looking out how Szymon's bots connected I don't think I will.

@SamGamesYT I am perfectly capable of testing it myself.

[2016-01-05 17:23] Drflash55 commented on #498
Not a valid issue...

[2016-01-05 17:23] Drflash55 commented on #492
Not a valid issue...

[2016-01-05 17:23] Drflash55 commented on #494
This is not the place to talk about this kind of material...

[2016-01-05 17:26] Zephyr-Vi commented on #380
<h3>Updates</h3>
Bot can now go <b><u>ANY</u><b> mode (FFA, Experimental, Party, Teams). :)

[2016-01-05 17:27] jwilde35 commented on #380
Wait, how, that makes no sense, ip connect?

On Tuesday, January 5, 2016, Zephyr Vi Britannia <notifications@github.com>
wrote:

[2016-01-05 17:28] Zephyr-Vi commented on #380
@jwilde35 I'm not going to say anything about the method I use to do so.

[2016-01-05 17:39] JsonCrave commented on #380
agar.io powerups updated and prevents us from using the old build lol rip.

luckely i bypassed it :)

[2016-01-05 17:40] PrimeBagel commented on #380
@Zephyr-Vi interesting agar powerups just had an update today that says the same thing

[2016-01-05 17:42] PrimeBagel commented on #380
@Zephyr-Vi did you leave the token out or how?

[2016-01-05 17:47] PrimeBagel commented on #380
@JsonCrave the new update has some great features though, I would give it a try

[2016-01-05 17:48] Zephyr-Vi commented on #380
@PrimeBagel To be honest I had the "bypass" 2 days ago but I just added it right now, to my bot. :P

[2016-01-05 17:49] jwilde35 commented on #380
Can I have it?? My skype is Jeremy.wilde2

On Tuesday, January 5, 2016, Zephyr Vi Britannia <notifications@github.com>
wrote:

[2016-01-05 17:52] jwilde35 commented on #380
I'm not at home right now so can't accept right now

On Tuesday, January 5, 2016, J Wilde <jwilde35@gmail.com> wrote:

[2016-01-05 17:55] Zephyr-Vi commented on #380
I'll make a video soon to show the bot in action. :smile:

[2016-01-05 17:56] jwilde35 commented on #380
Phone's almost dead, turning data off for an hour until I'm home, bye

On Tuesday, January 5, 2016, Zephyr Vi Britannia <notifications@github.com>
wrote:

[2016-01-05 18:02] SHJ234 commented on #489
Hi,
Is this fixed yet or not ?

[2016-01-05 18:11] PrimeBagel commented on #380
@Zephyr-Vi the thing that sucks about using bots in FFA is that literally everyone crowds around you

[2016-01-05 18:16] MRebhan commented on #506
Can't tell if troll, or just stupid. Probably troll.

[2016-01-05 18:17] Zephyr-Vi commented on #380
@PrimeBagel I just split kill them tbh.

[2016-01-05 18:41] 5p1Ky commented on #380
@PrimeBagel Szymon changed his sript so now there isn't "mAB =4"... :( So where can I change the number of bots please ? :)

[2016-01-05 18:46] JsonCrave commented on #380
@5p1Ky dont update it then

[2016-01-05 19:03] 5p1Ky commented on #380
Just update ... :(

[2016-01-05 19:13] DrTheGoat commented on #380
@Zephyr-Vi Do you want to compare bots?

[2016-01-05 19:36] Sonicmaster13 commented on #380
Lol I can help with all of what you guys were saying.

[2016-01-05 19:39] Sonicmaster13 commented on #380
I can show where the message disabling the older versions is and how to remove it. The bot value, however,  has been obfuscated so it will be harder to modify.

[2016-01-05 19:50] DrTheGoat commented on #380
@Sonicmaster13 anyone can do that

[2016-01-05 19:52] Sonicmaster13 commented on #380
Actually not, as some people above were having trouble.

[2016-01-05 20:10] PrimeBagel commented on #380
@5p1Ky @JsonCrave @Sonicmaster13 @DrTheGoat he put in hexadecimal. Use this website: http://numbermonk.com/hexadecimal/100

[2016-01-05 20:11] jwilde35 commented on #380
i am not good at this add me on skype jeremy.wilde2

On Tue, Jan 5, 2016 at 2:53 PM, Sonicmaster13 <notifications@github.com>
wrote:

[2016-01-05 20:20] 5p1Ky commented on #380
I change code to 50 bots but when I charge Agar.io it gives me a white screen... :( Szymon do everything he can to private other guys picked him his script :(

[2016-01-05 20:23] PrimeBagel commented on #380
I'll check it out

[2016-01-05 20:31] jwilde35 commented on #380
how do i use the old versions sorry im new to this

On Tue, Jan 5, 2016 at 3:24 PM, PrimeBagel <notifications@github.com> wrote:

[2016-01-05 20:41] jwilde35 commented on #380
nevermind its easy

On Tue, Jan 5, 2016 at 3:11 PM, J Wilde <jwilde35@gmail.com> wrote:

[2016-01-05 21:06] PrimeBagel commented on #380
@5p1Ky did you set it to mAB = 0x32;

[2016-01-05 21:22] Zephyr-Vi commented on #380
@DrTheGoat How would we compare bots?

[2016-01-05 21:40] 5p1Ky commented on #380
OMG That's work I changed the number of bots in RSAgartoolz.tk's script so I don't have the white screen ! 100 bots thank you very much @PrimeBagel ! Next step is to add 100 bots in Szymon's script because he do a big job with minimap and all of that ... A big thanks to him ! ;) So That's the hour to go to bed, good night everyone and thank you for all ! ;p

[2016-01-05 21:57] PrimeBagel commented on #380
@5p1Ky for 100 bots set it to mAB = 0x64;

[2016-01-05 22:11] camilleeyries commented on #380
You can always do : mAB = 100;

Envoyé de mon iPhone

[2016-01-05 22:16] PrimeBagel commented on #380
@camilleeyries no you can't the new agario powerups update uses hexadecimal. @5p1Ky tried setting it to a number and he got a white screen

[2016-01-05 22:18] camilleeyries commented on #380
Try yourself, it work

Envoyé de mon iPhone

[2016-01-05 22:18] PrimeBagel commented on #380
http://numbermonk.com Has a nice list hexadecimal

[2016-01-05 22:20] camilleeyries commented on #380
When i use the bots (around 50 ) i laaaaaaaaaaaaag...
There is a solution ?

Sorry my english is very very very bad

[2016-01-05 22:22] 5p1Ky commented on #380
@PrimeBagel @camilleeyries No I have white screen what I set it to mAB = 0x32 I didn't try mAB = 100 but I think there is a white screen because Szymon do a file where there is a code who says a white screen if the extension is modified... :(

[2016-01-05 22:25] 5p1Ky commented on #380
Ça marche ? Ben désolé ça doit être moi alors qui est pas bien fais le truc mais je reverrai ça demain... ;) Tu voudrais pas m'ajouter sur Skype ? Qu'on se fasse une partie avec 100 bots chacun ️ haha ^^

[2016-01-05 22:26] 5p1Ky commented on #380
Ta seule solution est de passer à la fibre ️haha XD

[2016-01-05 22:27] camilleeyries commented on #380
Hm... It is strange. Normaly ( ça se dit ???[FR]) the code can't know if it is modified, no ?

(My english is poor.)
(Really)
(Go sleeping)
(Really)

[2016-01-05 22:29] PrimeBagel commented on #380
@5p1Ky @camilleeyries oh sorry I misunderstood, I think the problem is you modified the extension from where chrome stores them. You have to take it out and load it as a developer extension

[2016-01-05 22:30] camilleeyries commented on #380
Ok mdr mais j'ai la fibre en plus !

Je pense que tu peut jeter un coup d'œil à la console des erreurs.

Skype: camille.eyries

Ps: je vais peut être me mettre près de la box avec le cable pour jouer désormais... Ou c'est tout simplement mon mac de mi-2010 qui supporte pas.

Je vais dormir.

[2016-01-05 22:30] 5p1Ky commented on #380
C'est possible que le dev de Agario Powerups est créé un fichier type avec un autre à côté qui dit "si ces deux là ne correspondent pas alors affiche moi un écran blanc ... ;) ou quelque chose du genre .. :)

[2016-01-05 22:31] PrimeBagel commented on #380
I have the new files on Dropbox if you want them

[2016-01-05 22:31] camilleeyries commented on #380
Yeah ! I have always reason 😹😎😎🤓😄:D

Envoyé de mon iPhone

[2016-01-05 22:32] 5p1Ky commented on #380
Bonne nuit a toi ! Salut ! ;)

[2016-01-05 22:32] camilleeyries commented on #380
Possible... Mais la quand même on rentre dans de la paranoïa. Heureusement que les kikoolol ne traînent pas sur github sinon le jeu serait mort ;)

Envoyé de mon iPhone

[2016-01-05 22:34] camilleeyries commented on #380
No thanks it is ok. @5spik3 et si on crééais(?) une team Agar.io de cheater ? GtH 📲 AfterThat611 ✅

[2016-01-05 22:35] camilleeyries commented on #380
Mrc a plus ( sur Skype peut être)

[2016-01-05 22:35] 5p1Ky commented on #380
@PrimeBagel No thank you but I have the extension "give me CRX" so right click, download and that's all ! :) I think I just fail in recoding the .js file ... I will re do it Tomorrow :)

[2016-01-05 22:38] 5p1Ky commented on #380
Ouep ça serai sympa ! ;) (att je vais t'envoyer mon Skype!)

[2016-01-05 22:40] PrimeBagel commented on #380
@5p1Ky are you sure because me and my friend tried it and it worked fine

[2016-01-05 22:45] 5p1Ky commented on #380
No That's me I failed when I recode the file ... I redo it tomorrow and I think it will work ! ;)

[2016-01-05 22:50] 5p1Ky commented on #380
@camilleeyries Je vais me créer un nouveau Skype (demain) pour tout ce qui est gaming psk j'ai pas envie de donner mon vrai Skype en public.. Je te tiens au courant ! Ciao (une bonne fois pour toute ! 😂)

[2016-01-06 03:59] PrimeBagel commented on #380
I figured out how to make the bots to work with the facebook bonus! I modded the latest agario powerups to use the new code so that it will run 100 bots with the bonus through a vpn from my laptop at home and it works great! https://youtu.be/GmS6GMjQbgg

[2016-01-06 04:08] PrimeBagel commented on #380
Im earning xp like crazy too

[2016-01-06 04:11] SamGamesYT commented on #380
@PrimeBagel Hey dude can i pay you to have what you have got ?

[2016-01-06 06:08] PrimeBagel commented on #380
![screenshot 1](https://cloud.githubusercontent.com/assets/16532091/12136068/8b0bd0da-b409-11e5-8921-08429c3f5580.png)
My new high score is over 90,000!

[2016-01-06 06:20] PrimeBagel commented on #380
Fuck that I just got my high score to 150000

[2016-01-06 06:34] 5p1Ky commented on #380
Oh that's funny ! Me I have a problem, whn I charge the page it gives me white sceen, and when I look the errors, there is "console.log("Find " + W0 + a2);" who gives me error...  Please help ^^

[2016-01-06 06:38] SamGamesYT commented on #380
@5p1Ky i can help

[2016-01-06 06:39] SamGamesYT commented on #380
instead of doing that code do this: if(ball.name == 'Write you agar.io name here') return  bot.client.moveTo(ball.x, ball.y);

[2016-01-06 06:48] PrimeBagel commented on #380
@5p1Ky whats your email, i can give you the program

[2016-01-06 06:53] 5p1Ky commented on #380
Thanks @SamGamesYT but I don't understd what I need to do (I'm french ^^) ... @PrimeBagel my email is pub.indesirable31@gmail.com ! ;) Thank you if you sens me files ! :)

[2016-01-06 06:57] PrimeBagel commented on #380
@5p1Ky I send you the links :)

[2016-01-06 07:02] 5p1Ky commented on #380
Thank you I will look at this this afternoon ! I hope it will works ! ^^ Have à good day ! :)

[2016-01-06 07:03] PrimeBagel commented on #380
lol its 1:02 am here but thank you i hope you enjoy

[2016-01-06 07:04] PrimeBagel commented on #380
Longer video featuring the facebook bots:
https://youtu.be/ZkS538r27GU

[2016-01-06 07:23] camilleeyries commented on #380
Wow !You can send me script also please? Let's break down the games xD

[2016-01-06 07:24] camilleeyries commented on #380
My email is Camille.eyries@gmail.com

Envoyé de mon iPhone

[2016-01-06 07:28] PrimeBagel commented on #380
Oh well I gave him the non Facebook bot one, I can send you that? I don't really want to give out the Facebook bots

[2016-01-06 07:30] camilleeyries commented on #380
Please please please :( 🐱😿

Envoyé de mon iPhone

[2016-01-06 07:31] PrimeBagel commented on #380
Which one are you asking for because I don't want to give that other one out

[2016-01-06 07:31] camilleeyries commented on #380
I have already created a robot non-facebook...

[2016-01-06 07:34] camilleeyries commented on #380
I would like the facebook robot...I promise I do no video explanatory for the Facebook robot or the othet robot!

[2016-01-06 07:37] PrimeBagel commented on #380
I just had an idea, instead of selling bots to people, I could sell these Facebook bots for xp purposes because I leveled up from 43 to 60 in an hour

[2016-01-06 07:38] PrimeBagel commented on #380
@camilleeyries well I could teach you maybe but you would need to write the code

[2016-01-06 07:39] camilleeyries commented on #380
I think that it is better not to distribute such robots, pay or not.

Envoyé de mon iPhone

[2016-01-06 07:42] camilleeyries commented on #380
Thank you ! I'll look at the code of agario-client to try to understand how to insert the token Facebook

[2016-01-06 07:43] PrimeBagel commented on #380
@camilleeyries well I wouldn't distribute it, I was thinking I could run it for people so they could gain xp

[2016-01-06 07:45] camilleeyries commented on #380
Hm... Ok.But avoid destroying the game anyway :)

[2016-01-06 07:49] camilleeyries commented on #380
I will try to put this piece of code somewhere :D

[2016-01-06 07:51] PrimeBagel commented on #380
@camilleeyries oh yeah that was very useful but it uses some node functions that are written a little differently in powerups. If you find where they do the buffer stuff in agario powerups, you just need to add the auth buffer stuff from agario-client to it but write it in the way powerups writes it

[2016-01-06 07:55] PrimeBagel commented on #380
@camilleeyries I'm going to email you

[2016-01-06 07:56] camilleeyries commented on #380
Ok...I'll try that. I hope it will not be too complicated :)

Envoyé de mon iPhone

[2016-01-06 07:57] camilleeyries commented on #380
Ok cool :)

[2016-01-06 08:14] PrimeBagel commented on #380
@camilleeyries hey when you're done, we can destroy a server together lol :)

[2016-01-06 08:14] 5p1Ky commented on #380
Oh please PrimeBagel can you share the code ... Jist for me and Camille Eyries we will not share it to other people please ...  :)

[2016-01-06 08:24] 5p1Ky commented on #380
Ok @PrimeBagel, I saw that that was not you who find Where and how to connect bots on Facebook acount, so please, cqn hou share it ? :)

[2016-01-06 08:34] PrimeBagel commented on #380
@5p1Ky don't you want to learn the code lol

[2016-01-06 08:47] PrimeBagel commented on #380
@5p1Ky I still had to learn how the auth worked, how both programs worked to read it out of one program and rewrite it in the way the other program would handle it and I was able to learn a lot from it. I learned how to use and call some methods I've never even used before until now.

[2016-01-06 08:50] PrimeBagel commented on #380
That's what coding is all about

[2016-01-06 09:03] PrimeBagel commented on #380
![image](https://cloud.githubusercontent.com/assets/16532091/12138890/f867e3b8-b421-11e5-8e95-0a1fb68daf82.png)
Here's what those bots did to my agario stats

[2016-01-06 09:04] AgarioPowerups commented on #380
Guys, please don't share Your modded Agar.io Powerups (You can give it to Your friends, but don't share it to the Internet). I wanted to talk with rsagartoolz, but the mail send@RSagartoolz.tk doesn't work...

@PrimeBagel Your bots are better then I programmed them. Can I know in what language You programmed it? Did You just use VPN (+ JavaScript)? And can I know how did You connect all bots to Yo

[2016-01-06 09:05] PrimeBagel commented on #380
@AgarioPowerups I've been wanting to talk to you for some time :) can I email you?

[2016-01-06 09:07] PrimeBagel commented on #380
I'd be happy to give you the code and talk about it :)

[2016-01-06 09:09] AgarioPowerups commented on #380
@PrimeBagel Sure! sz.marczak@gmail.com

[2016-01-06 09:42] 5p1Ky commented on #380
Please can I just have the code go connect bots with facebook ? (Not th entire code, just facebook)

[2016-01-06 09:42] 5p1Ky commented on #380
To not go *

[2016-01-06 10:03] PrimeBagel commented on #380
@5p1Ky you can check it out here https://github.com/pulviscriptor/agario-client

[2016-01-06 11:31] 5p1Ky commented on #380
This is the script for facebook ?

[2016-01-06 11:48] jwilde35 commented on #380
@PrimeBagel can i have the fix for agar powerups? my e-mail is jwilde35@gmail.com

[2016-01-06 11:53] PrimeBagel commented on #380
@5p1Ky it has it in there. It explains how the auth works and has examples that you can try. The script for Facebook requires an auth token that you are going to have to manually set each time because these tokens only work for one hour and then you have to request a new one. That's why I can't just give you code, you have to understand how to get the auth token anyway

[2016-01-06 12:02] 5p1Ky commented on #380
Oh okay I understand you ! ;) But how agar helper's dev gets facebook account for everytime ? (I'm not sure it's english sry ..)

[2016-01-06 12:04] camilleeyries commented on #380
I'll create a version that detects the token facebook... I think that's possible.

[2016-01-06 12:10] PrimeBagel commented on #380
@5p1Ky I just looked him up on YouTube and I didn't see that, but even if he did, he would have to get the new auth token each time

[2016-01-06 12:17] PrimeBagel commented on #380
@camilleeyries yeah we need that for sure but I think Szymon is working on it too

[2016-01-06 12:25] SamGamesYT commented on #380
@AgarioPowerups What they do is they but web browser vpn on and they set the amount of bots in stead of 4 they make it 40 or whatever they want and they go to agar.io with there vpn on and 50 bots join

[2016-01-06 12:28] PrimeBagel commented on #380
@SamGamesYT I already send him an email about the vpn stuff, including the FB bot code he wanted to know about

[2016-01-06 12:30] SamGamesYT commented on #380
@PrimeBagel Yeah nice i know how to do that but when i have VPN on it lags my internet xD

[2016-01-06 12:35] SamGamesYT commented on #380
@PrimeBagel Want to work on it together i can help :)

[2016-01-06 12:39] PrimeBagel commented on #380
@SamGamesYT I already got to work

[2016-01-06 12:42] SamGamesYT commented on #380
i can help update it and all that with ya @PrimeBagel

[2016-01-06 12:45] PrimeBagel commented on #380
@SamGamesYT no it belongs to Szymon, not me. I modify it for personal use only and I don't really need help tbh

[2016-01-06 12:46] SamGamesYT commented on #380
Well can i have the files to use it for personal use too ?

[2016-01-06 12:54] PrimeBagel commented on #380
@SamGamesYT Did you read what agario powerups posted. I'm not supposed to share it. I can't just let anybody have these crazy bots. I haven't let anybody have it yet and I don't want to share it. You can watch the destruction it causes here: https://youtu.be/GmS6GMjQbgg

[2016-01-06 12:56] PrimeBagel commented on #380
This video is even worse: https://youtu.be/ZkS538r27GU

[2016-01-06 13:39] camilleeyries commented on #380
@primebagel please you can send me the piece of the script to change I just made at least 20 test and I still can not connect to the bots to Facebook :(

[2016-01-06 14:01] PrimeBagel commented on #380
@camilleeyries can you email me what your doing so I can help you. primebagel@gmail.com

[2016-01-06 14:07] camilleeyries commented on #380
ok check your mail

[2016-01-06 14:59] Drflash55 commented on #380
@PrimeBagel
So, wait... You're using a VPN extension, which allows multiple bots to connect to you?
On what device are you using it on? The one in the video, or a separate laptop?

[2016-01-06 15:05] Drflash55 commented on #502
This is not a valid issue...

[2016-01-06 15:07] jovanshelomo opened #508 "not working for dolphin browser"
dolphin show pop-up like this:
Tampermonkey detected a problem which prevents the add-on from running properly.
Please report this to support@dolphin.com if it persists. Thanks. Close

[2016-01-06 15:27] PrimeBagel commented on #380
@Drflash55 yeah the browsec vpn from the chrome store and I was running it on my laptop in the video

I've seen you around on here, you really know your stuff. What's your email, I trust you with the code

[2016-01-06 15:29] Drflash55 commented on #380
@PrimeBagel
dr.flash55@gmail.com

That's my email... Mail it over, I'll install it when I get home from High School.

[2016-01-06 15:34] jwilde35 commented on #380
I would like to have it too but it is ok if you don't want to give it to
me... You probably don't know me well enough if at all

On Wednesday, January 6, 2016, Drflash55 <notifications@github.com> wrote:

[2016-01-06 15:58] jwilde35 commented on #380
My e mail is jwilde35@gmail.com

On Wednesday, January 6, 2016, J Wilde <jwilde35@gmail.com> wrote:

[2016-01-06 16:04] Drflash55 commented on #380
I've received the extension, @PrimeBagel .
I'll test it out when I get home.

[2016-01-06 16:24] DrTheGoat commented on #380
@PrimeBagel May I have a look?

[2016-01-06 16:25] 5p1Ky commented on #380
Hey @PrimeBagel, I search everywhere on the internet and don't find how to run bots with facebook... So please, I test my last chance, can you sens me the link ? I promise I willn't do enything with it ! I am great with photo/video montage, of you want I cqn make you something, like a logo or an intro .... :) my mail : pub.indesirable31@gmail.com

[2016-01-06 16:30] Drflash55 commented on #380
Wow... So many people are asking for it now...

@PrimeBagel, you've attracted a bunch of 'hawks' here. Not sure that was your intention or not...
But, word has gotten out that you've given it out to me. They came for you.

[2016-01-06 16:31] jwilde35 commented on #380
I give up...

On Wednesday, January 6, 2016, 5p1Ky <notifications@github.com> wrote:

[2016-01-06 16:31] DrTheGoat commented on #380
@Drflash55 Its true but I wouldn't classify myself as a "hawk"

[2016-01-06 16:34] jwilde35 commented on #380
I wouldn't either, I just want to have something to have fun with.

On Wednesday, January 6, 2016, DrTheGoat <notifications@github.com> wrote:

[2016-01-06 16:34] Adamcj commented on #380
Well not to 'prey' in on this script but only so many email notifications I can ignore without getting this :P I'd love to grab a copy if you'd be willing, I'd be up to bug testing for you or aiding you with any future tests.
Adamcieslakjones@gmail.com

[2016-01-06 16:35] jwilde35 commented on #380
^^^^^^ exactly

On Wednesday, January 6, 2016, Adamcj <notifications@github.com> wrote:

[2016-01-06 16:54] Drflash55 commented on #380
Another word for 'hawk' is a 'leecher'.

There's tons trying to grab free Roblox Hacks, and they just use it for their own needs. Don't even care about the owner who made it.

Pretty sure you people here are not like 'leechers'.

[2016-01-06 17:08] PrimeBagel commented on #380
@Drflash55 yeah I don't want to take chances with these guys. I don't need 10+ people testing it anyway.

[2016-01-06 17:10] DrTheGoat commented on #380
@Drflash55 would a lecher make there own code? Also @PrimeBagel I would like to test your bots v mine

[2016-01-06 17:11] Drflash55 commented on #380
@DrTheGoat You don't understand...
I didn't imply that you were a leecher.
I simply stated what a leecher was, and what they did.

Then assumed that people here are not really leechers.

[2016-01-06 17:12] DrTheGoat commented on #380
@Drflash55 Okay then

[2016-01-06 17:14] jwilde35 commented on #380
I just use them I don't distribute them

On Wednesday, January 6, 2016, DrTheGoat <notifications@github.com> wrote:

[2016-01-06 17:14] PrimeBagel commented on #380
@DrTheGoat what can your bots do?

[2016-01-06 17:16] DrTheGoat commented on #380
@PrimeBagel Play with me and I will show you

[2016-01-06 17:19] PrimeBagel commented on #380
Did you write them yourself?

[2016-01-06 17:19] DrTheGoat commented on #380
@PrimeBagel yes

[2016-01-06 17:20] Drflash55 commented on #380
@DrTheGoat That's nice...

I wish I could make some myself, but I know nothing about coding Javascript and working with NodeJS.

[2016-01-06 17:24] PrimeBagel commented on #380
@Drflash55 why don't you take a class at school?

[2016-01-06 17:25] Zephyr-Vi commented on #380
I've made a [b]few[/b] modification and this now the amount I get:

[1452101027]: There are 471 bots running @783/threads.

[2016-01-06 17:26] camilleeyries commented on #380
![capture d ecran 2016-01-06 a 18 24 34](https://cloud.githubusercontent.com/assets/13921610/12149247/f43a8454-b4a2-11e5-8ff0-601209cc6d90.png)

working on bots @PrimeBagel

[2016-01-06 17:30] jwilde35 commented on #380
I wish I could make the bots, my school is not very good with teaching this
stuff. I'm on a robotics team and I do the programming though, so that's fun

On Wednesday, January 6, 2016, Camille Eyriès <notifications@github.com>
wrote:

[2016-01-06 17:32] DrTheGoat commented on #380
@Zephyr-Vi can I contact you?

[2016-01-06 17:32] Zephyr-Vi commented on #380
@PrimeBagel Good job, if you don't mind so you just send the op code 81 and login with fb/google + account? Nice, I'll implement this into my bot :)

[2016-01-06 17:32] Zephyr-Vi commented on #380
@DrTheGoat uh, sure.

[2016-01-06 17:34] DrTheGoat commented on #380
@Zephyr-Vi do you have skype?

[2016-01-06 17:34] jwilde35 commented on #380
Can I just have the FBI login and I can implement it into my tests, I'm
trying to teach myself and probably can implement it into agar.io powerups

On Wednesday, January 6, 2016, Zephyr Vi Britannia <notifications@github.com>
wrote:

[2016-01-06 17:35] jwilde35 commented on #380
Face book instead of FBI lol

On Wednesday, January 6, 2016, J Wilde <jwilde35@gmail.com> wrote:

[2016-01-06 17:39] Zephyr-Vi commented on #380
@DrTheGoat yeah, whats urs

[2016-01-06 17:41] DrTheGoat commented on #380
@Zephyr-Vi Ill email it to you, since its more secure (whats your email)

[2016-01-06 17:42] Zephyr-Vi commented on #380
@DrTheGoat to be honest I don't want to say my email because I'll get spam etc

[2016-01-06 17:43] DrTheGoat commented on #380
@Zephyr-Vi make a temp one

[2016-01-06 17:44] jwilde35 commented on #380
Yeah I just got a spam from some guy that couldn't speak English, I don't
spam tho

On Wednesday, January 6, 2016, Zephyr Vi Britannia <notifications@github.com>
wrote:

[2016-01-06 17:52] Adamcj commented on #380
In terms of coding, I have made advanced projects in simple languages such
as autoit but I wouldn't class that as being able to program (more about
the complex logic then the code), what would you guys recommend I learn
(and where if you've any good places) to do more complex operations such as
how you guys are working with the the server and everything? I'd done C++
at college but this was for ga

[2016-01-06 17:54] camilleeyries commented on #380
I think we can have the medal of the longest topic on github /D congratulations everybody !!!!!!!!!

[2016-01-06 18:04] Zephyr-Vi commented on #380
@DrTheGoat Email: Marned66@gustr.com

[2016-01-06 18:56] 5p1Ky commented on #380
@camilleeyries Peux tu me donner ton skype stp j'aimerai parler avec toi EN FRANCAIS !! :D

[2016-01-06 18:58] 5p1Ky commented on #380
@camilleeyries Ou si tu ne veux pas donner ton skype en public (comme moi ^^) envoie moi ton nom skype par mail : pub.indesirable31@gmail.com

[2016-01-06 19:04] camilleeyries commented on #380
Je te l'avais passé non ?

Camille.eyries

[2016-01-06 19:10] camilleeyries commented on #380
Je vient de le donner 0.o

Envoyé de mon iPhone

[2016-01-06 20:01] PrimeBagel commented on #380
@Zephyr-Vi @jwilde35 you can find out how to do the Facebook auth here: https://github.com/pulviscriptor/agario-client

[2016-01-06 20:08] jwilde35 commented on #380
but that's the problem i have no idea what he's talking about because i am
just a kid... and i can't take classes because THERE ARE NONE... lol

On Wed, Jan 6, 2016 at 3:02 PM, PrimeBagel <notifications@github.com> wrote:

[2016-01-06 20:09] jwilde35 commented on #380
just send me the bot and ill learn how to do it from there

On Wed, Jan 6, 2016 at 3:08 PM, J Wilde <jwilde35@gmail.com> wrote:

[2016-01-06 20:12] Sonicmaster13 commented on #380
Why do you elan Facebook anyways?

[2016-01-06 20:12] Sonicmaster13 commented on #380
Want*

[2016-01-06 20:23] PrimeBagel commented on #380
@jwilde35 dude if you don't understand the code now, how will giving it to you help? That link I gave you has examples, a written document and the code in it. The developer of agario powerups purposely makes the code hard to read whereas in agario-client, it couldn't be simplier.

[2016-01-06 20:33] PrimeBagel commented on #380
@jwilde35 this is why I don't give the code out to random people who don't know what they're talking about

[2016-01-06 20:34] jwilde35 commented on #380
i just want to use it, i won't distribute it or anything... all i wanted
was to have fun in agar.io... sorry

On Wed, Jan 6, 2016 at 3:24 PM, PrimeBagel <notifications@github.com> wrote:

[2016-01-06 20:37] jwilde35 commented on #380
all i want to use it tho... you can make it extremely hard to edit and give
it to me, because all i want to do is play agar.io!

On Wed, Jan 6, 2016 at 3:33 PM, PrimeBagel <notifications@github.com> wrote:

[2016-01-06 20:39] jwilde35 commented on #380
@primebagel i do not understand why you can't just be nice and teach me or
give me a copy...

On Wed, Jan 6, 2016 at 3:33 PM, PrimeBagel <notifications@github.com> wrote:

[2016-01-06 20:43] jwilde35 commented on #380
i think coding is not right for me... i like to try, its fun, but i can never get it to work, and when i do, someone or something breaks it forever...

[2016-01-06 21:11] PrimeBagel commented on #380
@jwilde35 because I literally don't know you, you said you knew how to code and I tried to help but in reality you just complained because you didn't understand a thing. Well no one is going to work hard at something and give it to the guy who doesn't even care. You even referred to those guys who were speaking French as spam in your inbox just because it wasn't in English. What makes you think yo

[2016-01-06 21:13] stevomitric opened #509 "Player Location"
I'm new to "GitHub" and i didn't know where else to post this that you can see.

So i'm trying to make suicidal bot that will just go into the other players mouse (not location).
I've successfully implemented the bot in Python (i can make it go on given location on a party server)
I can send up to 5 bots with same IP on same server (luckily i have multiple servers).

So I've seen your "AposLaunche

[2016-01-06 21:27] Drflash55 commented on #380
Well, I guess that's that.

[2016-01-06 21:44] 5p1Ky commented on #380
@PrimeBagel I haven't any base with coding except I have already do a mini game for calculator... (Not with graphical interface just text..) So I want to learn coding in JavaScript to understand what you are talking about... (I know, it's too long .. :( ) So please can you say me what language you think I have to learn (without any base) .. I think HTML then JavaScript but I'm not sure .. :)

[2016-01-06 21:57] Drflash55 commented on #380
@PrimeBagel, I've tested it...

It works like a charm.
The extension allows me to get 20 Bots in a party server (I think), and they all have a mass of 49.

Only problem, is the FPS drops.

My laptop can't handle the amount of mass I can get...

[2016-01-06 22:19] PrimeBagel commented on #380
@5p1Ky I would learn JavaScript because that's what you really want to learn right. I don't really use html at all

[2016-01-06 22:28] 5p1Ky commented on #380
Ok thank you ;) But first I will learn HTML for my utilities ... I don't want to learn directly JavaScript because I think I will not understand all things in JavaScript.. :) But thanks for the help ! :)

[2016-01-06 22:48] PrimeBagel commented on #380
Anyone want to play agario? lol

[2016-01-06 22:49] mchappychen commented on #380
@5p1Ky Use codecademy, that's how I learned javascript.
var a= 345;
document.write(a);    //--> this will write out 345
if(a==345){
  document.write("This is 345!");
} else {
 document.write("This isn't 345");
}

function b(){
   document.write("Hello!");
}
b();   //--> this will do everything in function b so it will write Hello!

in games, for example if you were to start a game, it could be lik

[2016-01-06 22:51] PrimeBagel commented on #380
@mchappychen @5p1Ky yes I second that, code academy is amazing and free too!

[2016-01-06 22:52] PrimeBagel commented on #380
@mchappychen do you mean the vpn and the mAB variable?

[2016-01-06 22:54] mchappychen commented on #380
well now that agario powerups requires u to update it to a new version, I used a modified (one that's pretty old) version of agario powerups, it was posted on youtube and someone shared the files. You can't make your bots split on that version, but I was still able to modify the number of suicide bots. No facebook mass :( I'm not even close to that level. and you basically taught me what a vpn doe

[2016-01-06 23:00] PrimeBagel commented on #380
@mchappychen the new version is great. In the new update, the mAB variable appears in hexadecimal like this: mAB = 0x4; but it doesn't have to be in hexadecimal, changing it to any number such as: mAB = 20; will still work the same way it did before

[2016-01-06 23:07] mchappychen commented on #380
really? wow. I guess I'll try that later. I have AP essay test tomorrow and I gotta memorize 9 free response qs.

[2016-01-06 23:08] PrimeBagel commented on #380
New FB bots vid: https://www.youtube.com/watch?v=reDPXXNoexw

[2016-01-06 23:09] PrimeBagel commented on #380
@Drflash55 so now that you've tested the FB bots, what could I do to make it even better.

[2016-01-06 23:36] shyon-k commented on #489
@SHJ234 No, not yet

[2016-01-06 23:49] mchappychen commented on #380
Dude, your bots are already the ultimate nightmare weapon in agar.io Nothing else in agar has ever been far more destructive! I'm pretty sure this is going to raise some questions to miniclip as well on updating agar. I can't visualize anything stronger than this except probably using fast public wifi in multiple places to reduce lag and increase bot number. Also you were right, the new agario pow

[2016-01-07 00:06] jwilde35 commented on #380
i feel hopeless... im trying to learn to code and all anyone is giving me is a bunch of crap... btw those "french guys" were swearing when i said "i do not distribute the bots, i just play them"

[2016-01-07 00:16] jwilde35 commented on #380
@PrimeBagel do you think i am not trying to learn code already?? sometimes, just SOMETIMES, i do things right, but its too scarce to even get any rewards out of it... now even you hate me...

[2016-01-07 00:23] mchappychen commented on #380
@jwilde35  are you having trouble understanding PrimeBagel's method on modifying Agario Powerups's extension?

[2016-01-07 00:28] jwilde35 commented on #380
yes

[2016-01-07 00:28] jwilde35 commented on #380
very much so

[2016-01-07 00:28] mchappychen commented on #380
Let me make a video and show you how. I'll make it simple.

[2016-01-07 00:31] jwilde35 commented on #380
thanks so much

[2016-01-07 00:45] FuZx commented on #380
Hello everyone I am new here and I went over the chat many times... I am looking for agarbots and I tried the best to do my own. I took the extension that was linked here in the chat but they all had some issues, like that they could not connect with facebook. I did everything and I connected the bots with browsec. I got a 100 bots thanks to the 0x64 but the only issue was the login in facebook. A

[2016-01-07 00:59] mchappychen commented on #380
@jwilde35 I've sent it to your gmail. Check it out.

[2016-01-07 01:08] Piehthyte commented on #380
@mchappychen mind sending the video to me as well? I couldn't begin to know where to edit the amount of bots :/ Also that would be a great idea! Either that or zeach cobbler with agariopowerups

[2016-01-07 01:24] PrimeBagel commented on #380
@mchappychen Wow! thanks for making a tutorial. I'm curious to see it. Can you send it to me primebagel@gmail.com

[2016-01-07 01:27] PrimeBagel commented on #380
@FuZx if you have questions please email them to me here: primebagel@gmail.com

[2016-01-07 01:33] DeltaEnemy commented on #380
@mchappychen Can you send to me too? my email is: leoofficevps@gmail.com

[2016-01-07 01:45] mchappychen commented on #380
Done, forwarded it :D

[2016-01-07 01:48] DeltaEnemy commented on #380
@mchappychen My trouble is facebook mass bot, but thank you anyway!

[2016-01-07 01:49] FuZx commented on #380
@primebagel i emailed you and @mchappychen may I also have a look please my email: imfuzx@gmail.com Thanks alot

[2016-01-07 01:57] mchappychen commented on #380
sure, i sent it.

[2016-01-07 02:01] jwilde35 commented on #380
so, anyone have a tutorial on how to do the facebook login bot???

[2016-01-07 02:35] PrimeBagel commented on #380
@jwilde35 lol why would that be available 24 hours later?

[2016-01-07 03:29] Sonicmaster13 commented on #380
@mchappychen Lol send me a copy as well i wanna see the maker did: clockgears13@gmail.com

[2016-01-07 03:31] Piehthyte commented on #380
@mchappychen If you wouldn't mind me as well! :p piehthyte@fesarius.org

[2016-01-07 11:15] jwilde35 commented on #380
@PrimeBagel "if you cant say nothin nice, dont say nothin at all"

[2016-01-07 12:09] mchappychen commented on #380
lol, that probably won't work on the internet. Piethyte I sent it, and Sonic I thought u were good at programming. Didn't you make rstoolz?

[2016-01-07 14:30] PrimeBagel commented on #380
@mchappychen:  @sonicmaster13 stole rstoolz it's just an old version of agario powerups he wants to sell right now. He changed the bot name so it advertises his website and a bunch of other crap.

[2016-01-07 14:50] Drflash55 commented on #380
@mchappychen

Someone tried to, it was called "The Ultimate Mod" but it didn't work properly, because Szymon ceased work of the script, because it infringed the ROU policy.

[2016-01-07 14:52] Drflash55 commented on #508
Huh...
A browser for iOS...

Not sure if @Apostolique made this useable with the Dolphin Browser...

Heck, I've never even heard of this browser before.

[2016-01-07 16:35] 43AB commented on #380
@PrimeBagel
Hello bagel your robot has the very look good I want to congratulate you abbord has . If the beta test is open I am willing to test it and make video yt i only 20 subscribers . My email is " 43abnkg@gmail.com " pending a positive response lol. You have your bot code in any language . I am developer html and css I start a so if you have a site I'm doing . Good luck thereafter oh yes and

[2016-01-07 16:50] Zephyr-Vi commented on #380
@PrimeBagel You need to stop giving it out tbh, because it'll soon or later be leaked and then agar.io might rewrite it to make it more complex, just a possibility. Oh and do you have skype, I'd like to know how to connect Google+ account instead, unless you don't know then it's cool.

[2016-01-07 17:10] 5p1Ky commented on #380
Hey guys, do you know how can I run my bots in an other computer (and an other internet connection) ? Because I don't have any server and I think it's possible to create a "server" with an other computer... So I hope I will not lag like now ! ^^

[2016-01-07 17:22] camilleeyries commented on #380
J'ai plein de lags aussi ^^ le meilleur moyen je pense est d'utiliser agario-client... Mais je sais pas comment ajouter les vpn de browsec dessus

I have a lot of lags also ^^ the best way I think is to use client-agario... But I don't know how to add the vpn from browsec on

[2016-01-07 18:07] 5p1Ky commented on #380
@camilleeyries Je t'ai envoyer une invite skype mais sans reponse ... :(

[2016-01-07 18:17] Drflash55 commented on #380
@Zephyr-Vi Yes, a possible leakage can happen very easily if you give it out to too many people.

@PrimeBagel removed all conversations from this issue...

Guess that means I should remove all comments that talked about him... Pretty sure he did this for a reason.

[2016-01-07 18:54] camilleeyries commented on #380
Je m'appelle camosFR

Envoyé de mon iPhone

[2016-01-07 19:36] Sonicmaster13 commented on #380
Also, yes I am good at programming (at least I Like to think I am..) but as I had said I just want to see what you did.

[2016-01-07 20:26] 43AB commented on #380
@Sonicmaster13 have you skype

[2016-01-07 21:03] Sonicmaster13 commented on #380
@43AB Yes.

[2016-01-07 21:26] Jedarc opened #510 "2016 don't work"
2016 don't work

[2016-01-07 21:31] 43AB commented on #380
@Sonicmaster13
can you give it to me

[2016-01-07 22:12] DOMJx commented on #380
@Zephyr-Vi @camilleeyries @PrimeBagel i need help, im struggling setting up a vpn or help me to bypass the 5ip block.

[2016-01-07 22:21] Piehthyte commented on #380
Just get browsec, I've had it for quite a while and it does pretty much everything you would want a vpn to do. @DOMJx

[2016-01-07 22:30] mchappychen commented on #380
Sonic dude, you got your bots to connect to facebook already!

[2016-01-07 22:59] Sonicmaster13 commented on #380
@mchappychen ... Yes, as i said twice already, i just want to see what you have done to make this work i wanna see the way you did it.

[2016-01-07 23:16] DOMJx commented on #380
@Piehthyte Thank you! @Mchappychen help me with it or gimme the code i find the way

[2016-01-07 23:25] jwilde35 commented on #380
hey is @mchappychen gives it to you he better give it to me and all of us too that's the problem...

[2016-01-07 23:26] jwilde35 commented on #380
if**

[2016-01-08 01:20] PrimeBagel commented on #380
@jwilde35 I never gave it to him, and no one needs to give you anything

[2016-01-08 01:51] DOMJx commented on #380
im lagging everytime i run the bots why im lagging is because my network cant handle that amount of bots or i have something wrong? my network specs are 30dwn/l 2up/l

[2016-01-08 01:52] PrimeBagel commented on #380
I'm going to make this clear now, I have two trustworthy friends on here that I gave the code to. I have deleted my comments because this is getting really annoying. Just because I gave it to my friends doesn't mean I'm going to give it to a bunch of people I don't even know. Don't contact me about me about selling it, testing it, etc. I simply wrote the facebook connection code and put it into Ag

[2016-01-08 02:08] mchappychen commented on #380
kudos @PrimeBagel

[2016-01-08 02:17] DOMJx commented on #380
@PrimeBagel look at my question, bots use my own connection or vpn because  i lag out trying to use 100 bots with normal fb mass

[2016-01-08 02:20] DOMJx commented on #380
@PrimeBagel u know a guy called Terjanq? https://www.youtube.com/watch?v=VjOe_Xyq6vw

[2016-01-08 02:28] PrimeBagel commented on #380
@DOMJx Dude your money makes your internet better. I don't know anyone named Terjang and his bots don't have the facebook bonus anyway.

[2016-01-08 02:29] DOMJx commented on #380
@PrimeBagel it does he have his own extension and around 100 bots he made that gameplay for fun but hes famous in turkey server

[2016-01-08 02:31] PrimeBagel commented on #380
He was using agarplus.io, it's not his extension

[2016-01-08 02:34] DOMJx commented on #380
its a edited version of Agarplus,io if u want to take a loot at the left side, he can run his bot from the extension and select mouse following or into cell he already make another edit into the ext and named it Terjang is public for everyone.

[2016-01-08 02:35] DOMJx commented on #380
But bots doesnt work for everyone only for people does have another plugin what goes with it.

[2016-01-08 02:41] PrimeBagel commented on #380
Nevermind I just looked him up http://www.agarforums.io/topic/507-agar-plus-news-update-mass-fixed/

[2016-01-08 02:43] PrimeBagel commented on #380
It doesn't surprise me, I know there are others out there that know how to code this stuff but it doesn't feel like it sometimes.

[2016-01-08 02:43] Drflash55 commented on #380
So, @PrimeBagel. You think @AgarioPowerups will most likely implement the Facebook Function into his bot?

[2016-01-08 02:47] PrimeBagel commented on #380
Yes, I would like to see it. It's only going to be available to beta testers right now

[2016-01-08 02:53] DOMJx commented on #380
https://gyazo.com/828a149ee5ef8f8085352ae2b528bc68

[2016-01-08 08:15] charanguero03 opened #511 "bots 25"
ajjajaj

[2016-01-08 08:15] charanguero03 opened #512 "bots 25"
jjaaja

[2016-01-08 11:51] 43AB commented on #380
@Sonicmaster13 plz give me your skype

[2016-01-08 12:40] jovanshelomo commented on #508
You can see in bot.jlynx.net it has an option for Android and its need dolphin browser.

[2016-01-08 16:42] derejcar commented on #380
Has anyone actually  **bold** made**bold**  an agar, bot? I mean, Ik @AgarioPowerups has, but have any of you?

[2016-01-08 16:42] derejcar commented on #380
Has anyone actually  **bold** made**bold**  an agar, bot? I mean, Ik @AgarioPowerups has, but have any of you?

[2016-01-08 16:43] derejcar commented on #380
Has anyone actually  **bold** made**bold**  an agar, bot? I mean, Ik @AgarioPowerups has, but have any of you?

[2016-01-08 16:43] derejcar commented on #380
Has anyone actually  **bold** made**bold**  an agar, bot? I mean, Ik @AgarioPowerups has, but have any of you?

[2016-01-08 16:43] derejcar commented on #380
Has anyone actually  **bold** made**bold**  an agar, bot? I mean, Ik @AgarioPowerups has, but have any of you?

[2016-01-08 16:43] derejcar commented on #380
Has anyone actually  **bold** made**bold**  an agar, bot? I mean, Ik @AgarioPowerups has, but have any of you?

[2016-01-08 16:43] derejcar commented on #380
Has anyone actually  **bold** made**bold**  an agar, bot? I mean, Ik @AgarioPowerups has, but have any of you?

[2016-01-08 17:31] PrimeBagel commented on #380
@derejcar a few people here have but I think they all got help from one another. Personally I don't see a need to make one from scratch when there are free ones available if you just want to play with them and stuff

[2016-01-08 19:11] stevomitric commented on #509
Unfortunately looking at your AposLauncher code i realized that you try to establish a whole new connection with agar.io in javascript.
I've found a new project that lets you use the given variables in agar.io without connecting separately to the server. https://github.com/xzfc/agar-expose
I can now send players location every 50 seconds to the server and my bots can now crash into the player. Alt

[2016-01-08 19:39] Sonicmaster13 commented on #380
@Derejcar Yes I have made agario facebook bots that are free. They will be released soon and I am accepting very few beta testers as of now.

[2016-01-08 20:17] 43AB commented on #380
@Sonicmaster13  gg for the bot plz can i ask a question in private message go in skype or facebook

[2016-01-08 20:17] 43AB commented on #380
@Sonicmaster13 im sub in your channel

[2016-01-08 20:35] DwarfPuncher commented on #380
@43AB derp

On Fri, Jan 8, 2016 at 2:17 PM, 43AB <notifications@github.com> wrote:

[2016-01-08 21:02] 43AB commented on #380
@DwarfPuncher  :)

[2016-01-08 21:27] DwarfPuncher commented on #380
is jasikanicolepi the person who made this issue is he still watching?

[2016-01-08 22:42] Drflash55 commented on #511
This is not a valid issue.

[2016-01-08 22:42] Drflash55 commented on #510
You didn't provide enough details to explain your problem.

[2016-01-09 09:45] Johnderuloz commented on #380
Made my own bots with nodejs, need someone to invest to me for buying Servers!
Skype:John.deruloz
Gonna make website and profit will be shared.

[2016-01-09 11:08] SamGamesYT commented on #380
@Johnderuloz i add you skype mine is samuel.snell1, i can buy you servers and web hosting i really want to help! and willing to spend money towards it add me or accept me on skype

[2016-01-09 12:08] Zephyr-Vi commented on #380
@PrimeBagel  Do you have Skype, I'd like to know how to connect Google+ account instead of a FB account.

[2016-01-09 14:45] hurt34 commented on #380
I did 100/100 bots. but does not come quickly bots.
please help me. How could quickly bots (minions)
my English is bad.

[2016-01-09 14:46] SamGamesYT commented on #380
@hurt34 i can help add me on skype samuel.snell1

[2016-01-09 16:33] WTFDexys opened #513 "500 BOTS"

[2016-01-09 16:33] WTFDexys commented on #513
500 BOOTS

[2016-01-10 04:01] SamGamesYT opened #515 "How do i make bots split with a button?"
How do i make bots split with a button?

[2016-01-10 04:14] pissedOffUser opened #516 "Can someone please fix this thing like im so pissed right now >. <"
like anyone   soon!

[2016-01-10 10:27] xXxACHEFxXx opened #517 "How can i deinstall this Bot..."

[2016-01-10 10:28] xXxACHEFxXx commented on #517
Hello Community

i just downloaded the Bot and ki have to say. its crap.... its not working and it zooms always in on the biggest player on the server after 1 minute..So pls can someone say how i this can deinstall..

Thank you.

[2016-01-10 10:47] SamGamesYT opened #518 "How do i make proxies for the bots?"
How do i make proxies for the bots? i want like 30 bots in 1 ip how do i change proxy? please help!

[2016-01-10 15:42] cold566 opened #519 "problem"
it is,
 not working what i can do pls tell me!!!

[2016-01-10 19:43] DeltaEnemy commented on #380
Guys, i did 100/100 bots with 132 Mass with Browsec, but it's so lag :S anyone can help me to bypass 5 bots/ip in a node.js server?  (Sorry for my bad English, I'm from Brazil)

http://i.imgur.com/PrYOk7C.png

[2016-01-10 20:37] nobody006 commented on #380
how do you guys edit the agar power ups extension to get more than 20 bots? do you just go into the efedcgdhahoncejkihgfnecicebndbhc file?

[2016-01-10 20:56] Johnderuloz commented on #380
@DeltaEnemy I can, add me on skype: John.deruloz

[2016-01-10 21:05] 43AB commented on #380
@DeltaEnemy your bot has bonus fb ??

[2016-01-10 21:12] PrimeBagel commented on #380
@DeltaEnemy good job :)

[2016-01-10 22:02] DeltaEnemy commented on #380
@43AB Yes... @PrimeBagel Thanks :) @Johnderuloz I Will add you on skype...

[2016-01-10 23:52] mchappychen commented on #517
Yes, I can help you de-install it.
So you installed it on Tampermonkey on Google chrome right? If you click on the tampermonkey button on the top right, and click DASHBOARD, you can see the stuff u installed. There's a trashcan button for each things u installed and u can delete them.

Also if you're good at teaming and you want to team with other good players, you can go to agarplus.io and instal

[2016-01-11 00:45] nobody006 commented on #380
you guys know why the game lags when you get 20 bots? is it because of browsec? computer? wifi? I notice that sometimes it does not lag at all and sometimes its unplayable...

[2016-01-11 00:54] PrimeBagel commented on #380
@nobody006 definitely not browsec. I have no problem at all. Which area are you lacking in? Sounds like it's time to upgrade

[2016-01-11 01:17] nobody006 commented on #380
@PrimeBagel my "lag" problem is that my cell (and the bots) do not seem to immediately recognize my mouse position and follow it. sometimes my cell just stops. Also my disk, CPU, and memory seem to be unaffected by agar.io.

[2016-01-11 01:17] PrimeBagel commented on #380
@DeltaEnemy but you didn't write it in node right?

[2016-01-11 01:20] PrimeBagel commented on #380
@nobody006 that doesn't happen to me. What's your internet speed?

[2016-01-11 01:22] SamGamesYT commented on #380
@PrimeBagel  Lol this is my internet speed http://beta.speedtest.net/result/4984576929

[2016-01-11 01:28] LegendaryJH opened #520 "Screen change color? Or one cell large?"
Okay so I am using this bot, and after a while (70-120 seconds) My whole screen changes color. I think this is due to a glitch in the code making a cell much larger than it actually is. Any suggestions?

http://imgur.com/SLVtJev

[2016-01-11 02:00] nobody006 commented on #380
@PrimeBagel
Download Speed: 22.71 Mbps (2838.5 KB/sec transfer rate)
Upload Speed: 1.96 Mbps (244.4 KB/sec transfer rate)
Latency: 21 ms
Jitter:  1 ms

[2016-01-11 02:18] mchappychen commented on #380
I'm the same with nobody006. It's very laggy so what I do is just stay in 1 place and activate the bots. When someone comes near, I have to stop the bots before runnig away or else I can't move. I'm pretty sure it's my house internet. I bet if I take my comp to school and screw with my school's internet instead, it'll be better.

[2016-01-11 02:20] LegendaryJH commented on #519
Be more specific

[2016-01-11 02:22] mchappychen commented on #520
You know the weirdest thing about this glitch (Everything that uses aposLauncher has it btw) is that the largest cell(s) has chinese characters. I don't think this is just a glitch by Miniclip's update of agar, but some asian hackers who somehow injected something in it. Apostolique is definitely not asian, I've seen his facecam on twitch.

[2016-01-11 02:23] BlazePixel commented on #380
I joined this Issue/Chat a while ago trying to test agar.io bots and learn to code javascript.

If someone needs a tester or a helper/researcher, just contact me at nlucasa07@gmail.com. :D

[2016-01-11 02:24] BlazePixel commented on #380
@AgarioPowerups Is it okay if i try to modify your script as long as i don't release it to the public?

[2016-01-11 02:26] BlazePixel commented on #380
just wondering...

[2016-01-11 02:37] PrimeBagel commented on #380
@BlazePixel that's what I was told

[2016-01-11 02:38] PrimeBagel commented on #380
@nobody006 your upload kills you. Upload speed is very important when running bots on your computer

[2016-01-11 03:00] nobody006 commented on #380
@PrimeBagel Is there a way I can increase the upload speed?

[2016-01-11 03:02] BlazePixel commented on #380
@PrimeBagel Thx

[2016-01-11 03:38] PrimeBagel commented on #380
You could upgrade your internet plan

[2016-01-11 11:16] Johnderuloz commented on #380
Looking for someone to make a tamper script or extension fo my bots  and looking for beta testers

[2016-01-11 11:17] SamGamesYT commented on #380
@Johnderuloz  i can help add me on skype: samuel.snell1

[2016-01-11 12:45] Drflash55 commented on #380
This is how fast my school's internet is.
http://www.speedtest.net/my-result/4987047033

Here it is in image form.

![My School's Internet Speed](http://www.speedtest.net/result/4987047033.png)

[2016-01-11 13:09] hurt34 commented on #380
@Drflash55  pls bot ?

[2016-01-11 15:05] PrimeBagel commented on #380
@DrFlash55 my school is the exact same lol

[2016-01-11 15:05] PrimeBagel commented on #380
Actually mine is megabytes

[2016-01-11 16:17] 43AB commented on #380
@DeltaEnemy  add me on skype "agar43ab"

[2016-01-11 20:19] Drflash55 commented on #513
This is not an issue.
And, this is not the proper place to talk about that.

[2016-01-11 20:20] Drflash55 commented on #516
You didn't include enough details to describe your problem.

[2016-01-11 20:20] Drflash55 commented on #518
This is not the proper place to talk about that.

[2016-01-11 20:22] Drflash55 commented on #520
It's due to the lag latency between the servers and the script.
When AposBot can't get a proper read on what's happening, it draws in random cells.

Apparently, they're always romanized characters, for some strange reason.

[2016-01-11 20:22] Drflash55 commented on #515
This is not the proper place to talk about that.

[2016-01-11 22:13] The-Daniex opened #521 "no work"
because it serves the bot ?

http://prntscr.com/9oxy62

http://prntscr.com/9oxyla

[2016-01-11 23:09] mchappychen commented on #520
This bot used to be the dank a few months ago. Then after raga and suicide bots, the dank today is world-record botting.

[2016-01-11 23:14] davidmann4 commented on #380
i also started a repo for a feeder bot:

https://github.com/davidmann4/agario-feeder-bot

feel free to contribute!

[2016-01-12 01:31] BlazePixel commented on #380
I ran the scan and figured out: MY INTERNET SUCKS!

[2016-01-12 01:31] BlazePixel commented on #380
lol

[2016-01-12 02:50] AmazingGamerBoy commented on #380
To get megabits to megabytes you need to decide by 8

[2016-01-12 02:51] AmazingGamerBoy commented on #380
Decide*

[2016-01-12 02:51] AmazingGamerBoy commented on #380
Devide*

[2016-01-12 02:52] AmazingGamerBoy commented on #380
Speel check SUCKS!

[2016-01-12 02:53] AmazingGamerBoy commented on #380
*Spell - just like that

[2016-01-12 06:49] pissedOffUser commented on #516
XD   lol   u know what the problem is,  ur just gonna redirect me to issue 452 >. <  like  yo   someone please fix the giant cell bug

[2016-01-12 09:25] 47stay commented on #380
Terjanq extension script link pls

[2016-01-12 10:48] JsonCrave commented on #380
@47Stay Its a private script.

[2016-01-12 11:14] davidmann4 commented on #518
I made a repo for a headless bot with proxy support

https://github.com/davidmann4/agario-feeder-bot

feel free to contribute

[2016-01-12 11:17] davidmann4 commented on #460
I made a github repo for feeder bots: https://github.com/davidmann4/agario-feeder-bot

[2016-01-12 14:02] thisismo commented on #380
@PrimeBagel can you please tell me how to the mouse position in agar.io coordinates? (Client-side)

[2016-01-12 14:05] PrimeBagel commented on #380
I am not Terjanq and I don't know anyone named Terjang. I wrote the Facebook code.

Sent from my iPhone

[2016-01-12 14:13] davidmann4 commented on #380
@Zephyr-Vi  do you run them all from one ip or do you use proxies? would be nice if you could contribute your knowhow to the open source agario-feeder-bot

[2016-01-12 14:17] 43AB commented on #380
@davidmann4 your bot have the fb token

[2016-01-12 14:17] 43AB commented on #380
??

[2016-01-12 14:18] camilleeyries commented on #380
There is terjanq:

https://m.youtube.com/watch?v=NmrHdjiEJuU

[2016-01-12 14:19] davidmann4 commented on #380
no fb token! what does it change ?

[2016-01-12 14:23] camilleeyries commented on #380
Fb token = more massif for bots.

[2016-01-12 15:01] PrimeBagel commented on #380
@davidmann4 if your bot runs inside of chrome, use the browsec vpn. It works like magic. That seems to be what you are looking for.

[2016-01-12 15:14] xXxACHEFxXx commented on #517
thank you so much my friend.
i hope you have a good day.

[2016-01-12 15:15] davidmann4 commented on #380
@PrimeBagel no it is a headless one (runs inside the console)

you find it on github:  agario-feeder-bot

[2016-01-12 16:14] PrimeBagel commented on #380
@davidmann4 oh well idk

[2016-01-12 17:35] 43AB commented on #380
@Johnderuloz warning jhon try inect me

[2016-01-12 21:55] mchappychen commented on #380
I could run 210 bots with my school's connection with no lag.

[2016-01-12 22:34] yairnet commented on #380
Has been published source code ? :dancer:

[2016-01-12 22:35] davidmann4 commented on #380
@yairnet sourcecode of a working bot is found here: https://github.com/davidmann4/agario-feeder-bot

[2016-01-12 22:38] yairnet commented on #380
thx david,
how much bots can run from 1 ip?

[2016-01-12 22:51] davidmann4 commented on #380
5

[2016-01-12 22:57] yairnet commented on #380
You have time connect to me on TeamVIewr for helps
i can send you money on paypal if you need :)

i not find how send privte msg :(

[2016-01-12 23:47] yairnet commented on #380
Which version of Node recommended ?

I have errors in installing msgpack

[2016-01-13 10:03] Johnderuloz commented on #380
Looking for someone to make tamper script for our bots!

[2016-01-13 10:45] davidmann4 commented on #380
@Johnderuloz  do you have a repo? contact me on: daaavid.mann@gmail.com

[2016-01-13 11:13] yairnet commented on #380
David This code follows the mouse ?

[2016-01-13 11:14] 47stay commented on #380
agario-feeder-bot watch link pls

[2016-01-13 11:26] Johnderuloz commented on #380
Script is not a repo, Made my own suicide bots with proxies, looking for someone to make a extension for spilling etc.. skype: John.deruloz

[2016-01-13 12:07] camilleeyries commented on #380
0.12 install nvm and do nvm install 0.12

Envoyé de mon iPhone

[2016-01-13 22:47] mchappychen commented on #380
Terjanq is playing with multiple clans with his bots. I think he's spreading the bots rapidly. RIP agar.io for the new years.

[2016-01-13 22:48] DeltaEnemy commented on #380
@Johnderuloz I have 132 mass bot, please add me on skype: leonzcamargo... Preview: https://www.youtube.com/watch?v=8j3lbSDVx_s

[2016-01-14 00:02] sebasgamer commented on #484
Tnx grax🙋

2015-12-10 21:50 GMT-05:00 Jean-David Moisan <notifications@github.com>:

[2016-01-14 00:47] BlazePixel commented on #380
Tf? I just saw these hackers (I think, actually probably) with 5000000+ mass...

[2016-01-14 05:28] PrimeBagel commented on #380
I like how you put it into agar plus

Sent from my iPhone

[2016-01-14 09:04] AmazingGamerBoy commented on #380
Johnderuloz I believe you tricked SamGamesYT to install a rat in his system? And why on earth did you suddenly stop talking to me on Skype?

[2016-01-14 10:00] 47stay commented on #380
feeding bot script tampermonkey pls

[2016-01-14 13:11] mchappychen commented on #380
Here is your feeding bot scrip @47stay https://chrome.google.com/webstore/detail/agario-powerups/efedcgdhahoncejkihgfnecicebndbhc
:P

[2016-01-14 13:38] 47stay commented on #380
4 only bot 100 only bot pls

[2016-01-14 14:56] 43AB commented on #380
@AmazingGamerBoy yeah  he send me a rat he is a noob lol

[2016-01-14 17:18] wertercatt opened #522 "Agario Main Menu refuses to go away"
The main menu for Agario refuses to go away. I click "Play" and I can see the bot for a little bit, but the menu always comes back.

[2016-01-14 17:53] thisismo commented on #380
Can someone please tell me how to get the cells position? Also mouse position in agario coordinates if possible? (Clientside)

[2016-01-14 17:57] davidmann4 commented on #380
@thisismo you could inject into the websocket like https://github.com/dimotsai/agar-mini-map

[2016-01-14 18:27] SCLeoX commented on #520
._. Anyway to fix this?

[2016-01-14 20:30] DeltaEnemy commented on #380
Can someone help me to connect more than 5 bots in node.js using https://github.com/pulviscriptor/agario-client ?

[2016-01-14 20:36] davidmann4 commented on #380
@DeltaEnemy I have a working example at https://github.com/davidmann4/agario-feeder-bot/

feel free to add new features!

[2016-01-14 21:33] AmazingGamerBoy commented on #380
@43AB Yeah he got access to his FB account and I think he was trying to get my credit card details as well. Guts, John is a fraud, he is a scam that syeals! Don't trust him!

[2016-01-14 21:33] AmazingGamerBoy commented on #380
@43AB Yeah he got access to his FB account and I think he was trying to get my credit card details as well. Guts, John is a fraud, he is a scam that syeals! Don't trust him!

[2016-01-14 21:34] AmazingGamerBoy commented on #380
*Guys

[2016-01-14 21:34] AmazingGamerBoy commented on #380
Steals*

[2016-01-14 21:54] maurito1 opened #523 "Hola"

[2016-01-14 21:58] 47stay commented on #380
@davidmann4 Video Link Pls setup

[2016-01-14 23:07] JsonCrave commented on #380
@davidmann4 where do i put ur script? didnt say

[2016-01-14 23:29] mchappychen commented on #380
Guys, there was this post about how rasterization improves graphics speed or something, and agar.io is included.
chrome://flags/#enable-gpu-rasterization
I tested it, and I actually lagged a lot less afterwards. Do you guys know if there's a way to enhance rasterization, or is it just an on/off feature?

[2016-01-14 23:44] PrimeBagel commented on #380
@davidmann4 @DeltaEnemy I see how you added the proxies into a txt. You can get a whole list of them here: http://multiproxy.org/txt_all/proxy.txt

[2016-01-15 00:01] JsonCrave commented on #380
@davidmann4 says it requires msgpack when i try to run it?

[2016-01-15 00:11] Drflash55 commented on #516
@pissedOffUser Honestly, your problem could've been anything else.
Issue #452 is a well known problem.

So, if there were ANY other problems INSTEAD of the one that's well AWARE, I'd like to hear that.

[2016-01-15 00:17] mchappychen commented on #520
Unless you want to spend hours of frustrating time to fix it yourself, I don't think apostolique is wanting to concentrate on fixing this. He's in school so he's busy with his own work. But....

If you're good at teaming and you want to team with other good players, you can go to agarplus.io and install that onto tampermonkey. You can play with your friend on the same server with a minimap to show

[2016-01-15 00:30] JsonCrave commented on #380
Agar made it so if you connect with a ws:// code, it wont give you facebook mass, which is smart, cause many bots connect with ws://

[2016-01-15 01:33] Drflash55 commented on #380
So, Miniclip just patched most of the bots that used the ws:// code.

People are gonna have to find a way around that.

[2016-01-15 01:50] JsonCrave commented on #380
@Drflash55 making pots connect with key(party code) is possible

[2016-01-15 04:07] AmazingGamerBoy commented on #380
Anyone here looking for loads of cheap agario suicide/feed bots, check out this site to get in contact with us! http://agarfeeder.com/

[2016-01-15 06:29] pissedOffUser commented on #516
touché    lol but like is this bot not gonna get updated anymore ????

[2016-01-15 12:59] claytonvds opened #524 "mine does not work"

[2016-01-15 12:59] #524 closed

[2016-01-15 13:00] claytonvds commented on #524
min does not work

[2016-01-15 14:25] PrimeBagel commented on #380
How do you know they patched it? It's unusual for miniclip to patch stuff. I was having Facebook problems the other day but they fixed it in half an hour.

Sent from my iPhone

[2016-01-15 14:47] Drflash55 commented on #516
@pissedOffUser He hasn't updated anything in about two months...

Probably, he's planning on something big, or he's just forgotten about it, and it still working on his Python script called RoboCup.

[2016-01-15 15:57] mchappychen commented on #380
They didn't patch it for me. I can connect to a ffa server using ws://code with my facebook mass still.

[2016-01-15 18:02] 43AB commented on #380
@mchappychen what your b code plz

[2016-01-15 21:03] AmazingGamerBoy commented on #380
Hi everyone! If anyone is interested in our Over Powered agar bots there is currently a live demo here! Facebook and triple mass boost for bots will be added soon! http://agar.io/#EU2SB

[2016-01-15 23:48] AmazingGamerBoy commented on #380
Announcement! Our bots are not free, you can only get a 1 minute demo to see if it works. If you are interested in our bots, please visit our website: http://agarfeeder.com/ -or- join our skype group: http://agarfeeder.com/ -Thanks Guys!-

[2016-01-16 00:46] mchappychen commented on #380
Dang boy, go advertise on reddit or agarforums. So 1-minute tests starts in 10 hours?

[2016-01-16 02:03] AmazingGamerBoy commented on #380
I knew someone was gonna say something sooner or later, and yes about the demo, we have so many peeps I can't give a longer trial, it's just to see if it works.

[2016-01-16 07:22] PrimeBagel commented on #380
lol @43AB is never going to stop asking for stuff.

[2016-01-16 08:29] 43AB commented on #380
@PrimeBagel  I created my bot  i have 100 bots  but for the token facebook im strulling .
If you given me the code it s cool

[2016-01-16 08:31] 43AB commented on #380
@AmazingGamerBoy Go in skype if you want create site

[2016-01-16 10:20] #508 closed

[2016-01-16 13:51] 5p1Ky commented on #380
Hi everyone ! I have a question, I have searched everywhere on the internet but don't find what I'm searching ... :( My question is : Can anyone share to me the diamond special caracter for my Agario pseudo ? Because I saw it in différent server but don't find it .. :( I'm sorry for this question because it hasn't any report with this forum but I want this caracter.. :)

[2016-01-16 14:24] 5p1Ky commented on #380
Oh that's okay I found it ! :) 💎

[2016-01-16 20:56] zoowapp commented on #380
@43AB for 42/132 mass bots? if u give me the script for bots i can try to get it to work skype is noobmatics

[2016-01-16 21:02] 43AB commented on #380
@zoowapp go

[2016-01-16 21:02] 43AB commented on #380
@zoowapp what is your skype

[2016-01-16 22:59] thisismo commented on #380
Can someone tell me how to get more than 5 bots? My current four bots are serverside. I'd really appreciate it. Greetings from Germany :)

[2016-01-16 23:02] thisismo commented on #380
Nevermind my comment, i've commented before reading and I'm currently not able to delete it.

[2016-01-16 23:04] davidmann4 commented on #380
@thisismo hallo aus österreich! ich arbeite an einem bot der proxy support hat - also 5+ clients unterstützt!
join me on skype: https://join.skype.com/eQuN52iQVzZg

[2016-01-16 23:12] Faicu commented on #380
@thisismo 1 IP = 5 bots, so you need some proxies...

[2016-01-16 23:17] Faicu commented on #380
@thisismo can you give me your skype? want ask you something!

[2016-01-16 23:21] 47stay commented on #380
100/100 bot script url pls :( setup

[2016-01-17 00:15] rockydog92 commented on #516
How do I get the latest update?  It wont let me play it because there's a giant box saying that there's an update for bot.user.js http://prntscr.com/9r1pne   Please Help!!

[2016-01-17 11:34] yairnet commented on #380
FREE BOTS HERE: https://github.com/davidmann4/agario-feeder-bot
dont forget give star﻿

[2016-01-17 15:44] Rocky54 opened #525 "How I can use mini bots free?"
I saw that you can use mini bots here: https://bagar.io/en/ but I dont have money :D
How I can use it free?)

P.S. Sorry for my English

[2016-01-17 16:00] 5p1Ky commented on #380
Does anyone know how to run bots on server side ?

[2016-01-17 21:28] camilleeyries commented on #380
Salut ! Agario-feeder-bot est en cours de developpement...
Envoyé de mon iPhone

[2016-01-17 21:34] pissedOffUser commented on #516
click the highlighted text

[2016-01-18 00:21] marseck commented on #380
How can connect the facebook account to bots with the tampermonkey script?
sorry for my english :c

[2016-01-18 01:34] rockydog92 commented on #516
I did, it just brought me to the page with all the code for the bot.

[2016-01-18 03:15] matanat1234 opened #526 "9j"
ij

[2016-01-18 03:15] matanat1234 commented on #526
kmk ,

[2016-01-18 13:20] yairnet commented on #380
https://www.youtube.com/watch?v=qhrFx5LNE74
LOOK :+1:

[2016-01-18 15:43] Johnderuloz commented on #380
Selling 132 mass bots! skype: John.deruloz

[2016-01-19 01:32] AppIns opened #527 "No XP"
I sign in with Facebook, deploy the bot, and then I don't get xp, which is the only reason I would use this bot.

#### Don't get me wrong, I *LOVE* this bot...
...but no xp and the random huge cells kind of ruin it for me.

[2016-01-19 05:27] PrimeBagel commented on #380
I hate to say it but that's probably the stupidest thing you could do

Sent from my iPhone

[2016-01-19 05:33] SamGamesYT commented on #380
@Johnderuloz IS SCAMMING DONT ANSWER HE IS SCAMMING!!!!!!!!

[2016-01-19 05:43] PrimeBagel commented on #380
Hey me and my friend saw you and your bots in a server today :)

Sent from my iPhone

[2016-01-19 05:44] SamGamesYT commented on #380
@PrimeBagel Yeah Look at my channel https://www.youtube.com/channel/UCnc8pUoE0y-FCEZx6VnZkHw

[2016-01-19 06:06] PrimeBagel commented on #380
Yes I see that was fun, how many servers do you have and how many bots can you run?

Sent from my iPhone

[2016-01-19 06:14] SamGamesYT commented on #380
@PrimeBagel 1 server and i can probs run 400 bots

[2016-01-19 06:16] PrimeBagel commented on #380
Wow they drop on my laptop you have some crazy servers

Sent from my iPhone

[2016-01-19 06:18] SamGamesYT commented on #380
@PrimeBagel Hahaha thanks man

[2016-01-19 06:20] PrimeBagel commented on #380
Hey I noticed sorryiwin contacted you, you should contact him back or lol screw TYT right?

Sent from my iPhone

[2016-01-19 06:23] SamGamesYT commented on #380
Nah Man @PrimeBagel Might be in Tyt Clan i know some members that are trying to get me in :D

[2016-01-19 06:24] PrimeBagel commented on #380
Oh well I'm happy for you. I like to take over Sirius's streams and eat him with my bots

Sent from my iPhone

[2016-01-19 06:29] SamGamesYT commented on #380
@PrimeBagel Thanks Man, TyT Winx made a video with them https://www.youtube.com/watch?v=C_hdFE0ludw and here are some people that say agar.io has been hacked xD   https://www.youtube.com/watch?v=AJADlNFzmGU and there are other vids xD

[2016-01-19 06:33] PrimeBagel commented on #380
Nice that's funny lucky you I need to play on North Americas servers more often but they have been laggy. All the famous people play there but my clan is going to take over them because my trusted coleaders all got bots and stuff
Sent from my iPhone

[2016-01-19 07:30] PrimeBagel commented on #380
Wait Sam you did not make those bots, DrGoat did and that's not what you told Winx. You just helped buy the servers. You need to set this straight because that video says you have complete ownership and that is definitely not true.

Sent from my iPhone

[2016-01-19 08:51] PrimeBagel commented on #380
@SamGamesYT I'm pretty disappointed I don't know why DrGoat did business with you…

Sent from my iPhone

[2016-01-19 10:51] hurt34 commented on #380
help me pls,
problem = minimap

[2016-01-19 14:29] PrimeBagel commented on #380
Ok what's the problem with your map?

Sent from my iPhone

[2016-01-19 14:34] hurt34 commented on #380
problems running these boots, but does not come

[2016-01-19 14:41] PrimeBagel commented on #380
So you want your bots on the minimap, I don't understand?

Sent from my iPhone

[2016-01-19 14:43] hurt34 commented on #380
@PrimeBagel
skype address you give
bot open but does not come and I could not connect the minimap(bots)

[2016-01-19 14:51] PrimeBagel commented on #380
Chrispierce99

Sent from my iPhone

[2016-01-19 17:26] DrTheGoat commented on #380
@PrimeBagel Thanks for noticing that sam stole all my work, Then leaked it

[2016-01-19 18:02] LilMohannad commented on #380
how to start the bot

[2016-01-19 18:06] DrTheGoat commented on #380
@LilMohannad What bots are these?

[2016-01-19 18:51] PrimeBagel commented on #380
@DrTheGoat where can I contact you?

Sent from my iPhone

[2016-01-19 19:52] DrTheGoat commented on #380
@PrimeBagel You have my skype

[2016-01-19 20:01] PrimeBagel commented on #380
@DrTheGoat no you have mine, I don't have yours. Mine is chrispierce99.

Sent from my iPhone

[2016-01-20 00:49] thegreat1200 opened #528 "How to get IP"
How do I get the IP of the connected server?

[2016-01-20 00:57] thegreat1200 commented on #528
Just found it

[2016-01-20 00:57] #528 closed

[2016-01-20 02:37] thegreat1200 opened #529 "getPlayer() position"
On personal servers the getPlayer() function sends wrong position, is there a way to fix this?

[2016-01-20 02:46] Nuklear01 commented on #380
alright i've created my own bots using nodejs and they work perfectly fine on private servers but when i try to use on multiplayer none of it work...this is my first attempt at java script and i dont understand!! cna someone help pls im confused as hell.

[2016-01-20 02:52] Nuklear01 commented on #380
I've read the whole conversation and i've tried my hand at this, i dont understand anything of what you said   about fb, i'd like to try my hand at it but alot of it is jibberish to me. I'm not asking for the code or anything (that takes the satisfaction out of it) but can anyone please teach me a bit about this? i'm completely stumped.

Je parle aussi francais.-J'ai essaye apres avoir vu cette co

[2016-01-20 04:21] PrimeBagel commented on #380
Agario limits 5 bots per ip. Use proxies or a vpn

Sent from my iPhone

[2016-01-20 04:23] PrimeBagel commented on #380
David Mann made a feeder bot in Node JS so he would know more about getting proxies to work in node with agario than me

Sent from my iPhone

[2016-01-20 05:05] pissedOffUser commented on #516
then u click raw then update

[2016-01-20 06:07] SamGamesYT commented on #380
Guys I NEVER STOLE HIS WORK I find it mean to do that i have created my own bots for my personal use not for others to use. I MADE MY OWN BOTS i have Pulviscriptor To Help me do it! So Stop saying i did steal them fuckin hell

[2016-01-20 07:10] PrimeBagel commented on #380
SamGames shut the fuck up. You shut DrGoat out from skype. You took all of DrGoat's code. You were someone so stupid you didn't even know how to get the player mouse position. You had to manually set coords because you have zero coding experience. All this stuff is in agar.io/main_out. How the hell do you think the game gets the mouse coords. This why I don't trust stupid YouTubers like you who ju

[2016-01-20 07:36] isLynx commented on #380
@PrimeBagel I agree with you 100% , i feel for DrGoat who created all this and some retarded kid that dont even know about coding stole it. Even worse is he is already selling it. Good news is agariopowerups got those huge bots now and its 100% free <3
so fuck you Sam.

[2016-01-20 11:06] salahxbox commented on #380
guys i have done some changes for personal use in agar powerups but when I want to use it in agar.io it doesn't open or it get white page while playing.any help please? and sorry for my bad english!

[2016-01-20 12:24] Nuklear01 commented on #380
@SamGamesYT how does anyone know you didnt steal the bots??? Everything shows you probably did

[2016-01-20 12:55] thisismo commented on #380
@Faicu just ask here! :)

[2016-01-20 13:03] mchappychen commented on #380
@isLynx Good news that agariopowerups got those huge bots for free? The world is going to end!

[2016-01-20 13:03] thegreat1200 commented on #529
Or can I get the position without the launcher

[2016-01-20 14:27] PrimeBagel commented on #380
@mchappychen lol we have bam now

[2016-01-20 14:51] 5p1Ky commented on #380
@PrimeBagel Can you just tell me how to run the "hacked version" I made (with 100 bots) of Agario Powerups because when I load the site, it gives me white screen ... I have to change another things ? :)

[2016-01-20 14:53] PrimeBagel commented on #380
Agario is kinda ruined now. I kinda wish I never made that Facebook script. I feel really bad right now

Sent from my iPhone

[2016-01-20 14:55] PrimeBagel commented on #380
Oh he made it so if you edit it, it will not work anymore. Like I just formatted it into lines and stuff and it won't work. I will decode it and check it out because this interests me but I'm not going to share how to fix this. Im glad it can't be edited right now.

Sent from my iPhone

[2016-01-20 18:20] Nuklear01 commented on #380
RIP agario :P still don't understand that Facebook script tho... I might try to look into the agar power ups script if I get really confused or desperate

[2016-01-20 21:33] v195or95 opened #530 "Agar.io"

[2016-01-20 22:34] thegreat1200 commented on #530
...

[2016-01-21 00:36] Althoriq commented on #380
link 132 mass bot pls XD

[2016-01-21 02:27] mchappychen commented on #380
@Althoriq Here you go :) http://blasze.tk/P43RIU

[2016-01-21 03:22] zoowapp commented on #380
@MarkDsonYT nice ip logger, @Althoriq dont click it, btw ur gonna get banned lol gtfo kid

[2016-01-21 08:19] PrimeBagel commented on #380
Good thing I always use vpn xD

Sent from my iPhone

[2016-01-21 17:18] JsonCrave commented on #380
@AgarioPowerups Lol fuck are you talking about? Legal actions?
You realise botting is against the TOS?
Now shut the fuck up and think about how you ruined this game.

[2016-01-21 17:37] 5p1Ky commented on #380
@PrimeBagel Did you find the solution to don't hae the white screen or not ? :)

[2016-01-21 19:19] PrimeBagel commented on #380
Dude I'm not gonna share it this time

Sent from my iPhone

[2016-01-21 19:22] PrimeBagel commented on #380
Nick I'm working on my own bot that's gonna be free in the chrome store and it will be even worse. It won't only just have features to help you win but I'm going to add features for fun such as bots spawn and chase players with less mass than them.

Sent from my iPhone

[2016-01-21 19:47] davidmann4 commented on #380
Guys @AgarioPowerups is right he did not released his code with a licence so you guys can use it so you are not allowed to redistribute it. You can not simply open it and copy & paste it to github and say it is yours.

[2016-01-21 19:49] davidmann4 commented on #380
@JsonCrave please referr the place in the TOS where they say botting is not allowed - I could not find anything about it.

[2016-01-21 19:52] PrimeBagel commented on #380
The game is not ruined yet and yes David Mann is right. It is copyrighted, I have seen others post stolen code on their github too. That is wrong. The bot I'm currently making my own from scratch. It will also be copyrighted.

Sent from my iPhone

[2016-01-21 20:06] 5p1Ky commented on #380
@PrimeBagel I would be very happy if I could do a logo/html website for your bots ! :D

For the agario powerups extension, I don't want your code, just to know how to run it without having a white screen when I load the page... When I changed the amount of bots of the last agario powerups' code, it gives me white screen too ... And I said it on github and you just send me the files by eMail ! (of

[2016-01-21 20:13] davidmann4 commented on #380
@PrimeBagel just use my MIT licenced bot? In the near future it will have all features you can imagine. And if something is missing you can jsut add it.

I see no point in cooking your own soup.

[2016-01-21 20:16] PrimeBagel commented on #380
Dude the update has Facebook bots. What do you expect. I'm not going to email it to you and I already made a logo for my extension and everything.

Sent from my iPhone

[2016-01-21 20:18] PrimeBagel commented on #380
Your bot can't do much now. I'm a developer. I have my own ideas and I want to create them. When I get a job someday, I will show them my projects. Yours isn't even a chrome extension. Just let me make my own

Sent from my iPhone

[2016-01-21 20:22] MarkDsonYT commented on #380
@5p1Ky It's okay if PrimeBagel doens't help you. I think I've heard someone else, like tropophobia who publicly showed a video on how to crack it. search it up and you'll see.

[2016-01-21 20:23] PrimeBagel commented on #380
I plan to finish it in a month and it will have more features than you think. I'm not going to wait years on yours when I can do it myself. Agario will probably die out by then because Miniclip aka Moneyclip doesn't want to do anything with it. Programming is something I enjoy doing and I will do it.

Sent from my iPhone

[2016-01-21 20:29] zoowapp commented on #380
@PrimeBagel I like your attitude, sounds like a good future (: . If you could teach me some of this that would be cool, i am a noob coder but get tohe hang of things quick, and just wondering, do u just have to add proxies to get more bots? i could supply premium proxies for ur service if u want

[2016-01-21 20:34] 5p1Ky commented on #380
@PrimeBagel I just want to no how you run the last version of agario powerups with a big amount of bots, running with Browsec ... Please I just want to have fun with 50 bots... :(

[2016-01-21 20:37] 5p1Ky commented on #380
@MarkDsonYT I don't find any guy nama " tropophobia" who make a video on how to hack it ... :(

[2016-01-21 20:38] PrimeBagel commented on #380
You are cooking your own soup now anyway. There are other bots on github you could have added to. Don't tell me to not make my bot and just add to yours. I already started on my bot and it will be better than yours. I am going to add to the bot I created because I have one now. The reason why I added to agario powerups was because I didn't have my own and it has so much more features than every ot

[2016-01-21 20:44] zoowapp commented on #380
@PrimeBagel where can i contact u?

[2016-01-21 20:46] OwnThat commented on #380
Have Anyone a link with more than 10 + 132 mass bots ?

[2016-01-21 20:46] PrimeBagel commented on #380
Zoowapp. I'm not going to do proxies because I want everyone to have my bots and that won't work out if everyone has it in the same server. I might just alert the user that they need to get a vpn from the chrome store if they try to run more than 4 bots. I will limit it to 10

Sent from my iPhone

[2016-01-21 20:49] 5p1Ky commented on #380
@PrimeBagel Can you answer my question ?

I just want to know how you run the last version of agario powerups with a big amount of bots, running with Browsec ... Please I just want to have fun with 50 bots... :(

[2016-01-21 21:10] PrimeBagel commented on #380
Spiky I'm not, I'm working on my own now

Sent from my iPhone

[2016-01-21 21:10] PrimeBagel commented on #380
Zoowapp skype Chrispierce99

Sent from my iPhone

[2016-01-21 21:11] PrimeBagel commented on #380
There is no link for that and I'm not going to give one

Sent from my iPhone

[2016-01-21 21:13] PrimeBagel commented on #380
It's up to you to figure that out. I won't tell you

Sent from my iPhone

[2016-01-21 23:30] MarkDsonYT commented on #380
No offense prime bagel buddy, but agar.io is laggy to the level of satan. Did you see how the number of players connected to each servers had decreased dramatically. A quarter of those players are probably bots. I don't know if you're script can handle the lag anymore since agariopowerups destroyed it. Miniclip aint gonna give no beef about it cuz "oh hey look we have plenty more games that can ma

[2016-01-22 01:27] MarkDsonYT commented on #380
Do you guys recommend enabling rasterization to improve agar lag?

[2016-01-22 02:33] MastaCoder commented on #380
@PrimeBagel You honestly sound like the most ignorant person I have met. GitHub is a place for people to share projects, teach each other new things, and assist each other with the community. You coming in here with that nasty attitude insulting people that worked hard on something for the community and saying yours are better doesn't mean crap. You can blab all day about how great your bots are,

[2016-01-22 03:00] MarkDsonYT commented on #380
Are you kidding me? He's a legend in this thread. I'd say he is the most committed person to this thead after Kristolph. First time he came on here, he exposed a method on how to get unlimited bots for free using agario powerups. He did that because he felt like people were getting ripped off on bots, but he deleted it because he discovered after a while that it will cause great damage to the agar

[2016-01-22 05:29] PrimeBagel commented on #380
@MarkDsonYT thank you!

@MastaCoder I think I have already shared enough. The people here are desperate like you said, that is why I'm not sharing it anymore. Your speech makes no sense. My goal is not to ruin Agario but to rather create something essential, that everyone will want to have. I'm not even through yet, I told you I have big plans. I'm sorry that I over reacted but I literally can't s

[2016-01-22 05:32] PrimeBagel commented on #380
It was just the little comment he added on a separate line of it's own. "I see no point in cooking your own soup." That's what got me. What's wrong with cooking? I will do as I please.

[2016-01-22 05:35] PrimeBagel commented on #380
![screenshot 9](https://cloud.githubusercontent.com/assets/16532091/12503189/84c00b52-c097-11e5-94bd-07e93feba00f.png)
Here is the stupid crap I have to deal with.

[2016-01-22 10:48] JsonCrave commented on #380
you guys realise that if he would tell you guys this, every single one in agar.io would roam around with 100 facebook mass bots? use ur fucking brains, please.

[2016-01-22 11:27] JsonCrave commented on #380
@PrimeBagel why would you give youtubers the bot? they are just promoting it, also scorpion and his friends come in ts everyday and ask for bots ...

[2016-01-22 11:38] Johnderuloz commented on #380
Selling 132 mass script with over 50 proxies! Skype: John.deruloz

[2016-01-22 14:28] PrimeBagel commented on #380
John weren't you the guy who sent those 2 other guys "rats"

Sent from my iPhone

[2016-01-22 14:32] SamGamesYT commented on #380
yes he puts rats in to computers

[2016-01-22 14:41] PrimeBagel commented on #380
John can you just leave? Why not go to some virus forum or something?

Sent from my iPhone

[2016-01-22 15:00] PrimeBagel commented on #380
Sorry it was only to Scorpion. He's an adult and I trust him but not all of his clan members though. He won't give it to them. I've played with his clan for a while and I thought the attention now would benefit me later when I release my own bot. Agario Powerups has visual force in their code so when an update comes out, he will still have to rely on me. I won't share it with anyone else. Remember

[2016-01-22 15:25] PrimeBagel commented on #380
Promoting bots was the point actually

Sent from my iPhone

[2016-01-22 15:40] jwilde35 commented on #380
@primebagel who's making fun on foreign people now?? Lol "most devoted
member 2016" we are fucked as a race

On Friday, January 22, 2016, PrimeBagel <notifications@github.com> wrote:

[2016-01-22 15:43] PrimeBagel commented on #380
What are you talking about?

Sent from my iPhone

[2016-01-22 15:45] DOMJx commented on #380
RIP Facebook Mass, lets find the fix on this.

[2016-01-22 15:45] DOMJx commented on #380
MoneyClip did something with the bots, finally.

[2016-01-22 15:49] PrimeBagel commented on #380
But moneyclip has to do something, right? Not us

Sent from my iPhone

[2016-01-22 15:49] PrimeBagel commented on #380
Wait really

Sent from my iPhone

[2016-01-22 15:51] DOMJx commented on #380
@PrimeBagel yeap they fixed it, i feel good for agar and bad for me, because i really enjoy playing with bots x'x.

[2016-01-22 16:04] SamGamesYT commented on #380
lol i fixed it i bypass it https://www.youtube.com/watch?v=CTp469kfqQE

[2016-01-22 16:08] DOMJx commented on #380
They did some changes like, every minute same party code is a different server, u cant connect to the a party with the same FB Login.

[2016-01-22 16:14] DOMJx commented on #380
+ Dont try with Google Plus is the same as facebook, doesnt work.

[2016-01-22 16:17] jwilde35 commented on #380
Remember that kids game that everyone used to play, ROBLOX, yeah for some
reason I've started playing that again... If you want to play my username
is jwilde24... I feel like a child again

On Friday, January 22, 2016, DOMJx <notifications@github.com> wrote:

[2016-01-22 16:24] MarkDsonYT commented on #380
yep, they patched agario-powerups lolololol. The lag is so much better, but I can't even get 1 bot :P I'm happy miniclip did this, I thought agar was destroyed yesterday.

[2016-01-22 16:27] MastaCoder commented on #380
@PrimeBagel @MarkDsonYT Where did I say in my comment to release the code? I just stated that you should stop complaining about beggars and how good you think your own code is. I got this script for bots to work more than 1 - 2 weeks ago, I just never had time to expand on it because of my exams.

You don't need Agariopowerups to make a working bot script. If you take what @davidmann4 created and

[2016-01-22 16:28] MastaCoder commented on #380
And no I am not planning on releasing my script. Most likely for personal use and if I get to work on it a lot, then I might sell it such as raga.pw. Not sure yet, I don't want to ruin the game and I don't want to leave this useful code for no use ;)

[2016-01-22 16:36] PrimeBagel commented on #380
Makan Day you were complaining about me not sharing it and Jesus Christ I'm making my own bot from scratch. You are right, I don't need powerups. Understand that please. My own bot dude

Sent from my iPhone

[2016-01-22 16:42] PrimeBagel commented on #380
I am going to make it good and I will say it's good if I want to. Why can't you hear the word good?

Sent from my iPhone

[2016-01-22 16:49] PrimeBagel commented on #380
Are you new here or what? David Mann suggested I give up on my project and he gave me a dumbass comment about making my own soup. I'm defending myself. I will not discontinue it. Why do you have to give me crap too?

Sent from my iPhone

[2016-01-22 17:01] PrimeBagel commented on #380
It's fine if you misunderstood, I don't want people to get the wrong idea. I will not take credit for agario powerups, I told everyone here that many times and I said that I just wrote a little 8 lines of code. This is one of the reasons I want to make my own bot. I want something that I can call all mine. I don't want any help on it from anyone. I also stood up for DrGoat when Sam stole his code.

[2016-01-22 17:04] MastaCoder commented on #380
k.

End of story.

[2016-01-22 17:10] PrimeBagel commented on #380
I'm sorry… I get pretty defensive.

Sent from my iPhone

[2016-01-22 17:19] PrimeBagel commented on #380
Wait hold on I'm not done. So you go complain about me not sharing it and you give me a whole speech about how github is a place about sharing stuff and helping people and now you tell me you have your own bot but your not going to share it? You are such a hypocrite.

Sent from my iPhone

[2016-01-22 17:23] DOMJx commented on #380
@PrimeBagel u know what we are trying? facebook account for every bot, crazy but works Credit to Terjanq for the idea.

[2016-01-22 17:26] PrimeBagel commented on #380
So are you sure it works like that. Or is it just the same Facebook account on the same ip won't work?

Sent from my iPhone

[2016-01-22 17:27] SamGamesYT commented on #380
Good Luck u have to buy mass for everyone ...... and u have to get the token every 2 - 1 hours

[2016-01-22 17:31] DOMJx commented on #380
Doesnt work we already tryed, but we are looking for a bug or something otherwise we need to make a  account for each

[2016-01-22 17:32] SamGamesYT commented on #380
I Have Already Bypassed

[2016-01-22 17:34] PrimeBagel commented on #380
What? I don't buy anything and my script automatically gets the auth token. That's not the problem, apparently you can only use 1 Facebook account for each bot now.

Sent from my iPhone

[2016-01-22 17:35] PrimeBagel commented on #380
Haha Sam sure…

Sent from my iPhone

[2016-01-22 17:37] PrimeBagel commented on #380
Sam, if you don't understand what's happening, it shows that you don't know what your talking about.

Sent from my iPhone

[2016-01-22 17:37] MastaCoder commented on #380
I did say end of story but seems like you didn't get it.

I never stated to release your own bots. I clearly said Github is a place for sharing and such, and that you shouldn't blab about your own bots and get all defensive on everything that people say.

Now this is the last time I'm going to say this:
END OF FUCKING STORY.

[2016-01-22 17:37] SamGamesYT commented on #380
@PrimeBagel im gonna upload a video tommorow of me using it ;)

[2016-01-22 17:45] PrimeBagel commented on #380
Makan Day, why did you blab about yours. You should really lead by example. Who cares if we talk about bots anyway? That's what this topic is about. Everyone here wants to talk about bots. It won't be the end until you actually reply something non-hypocritical and smart so I can agree to it. I don't enjoy spending 5 minutes writing a smart ass comment back but I don't enjoy letting you get the las

[2016-01-22 17:47] PrimeBagel commented on #380
So what your saying now is that your speech about github was meaningless?

Sent from my iPhone

[2016-01-22 17:48] PrimeBagel commented on #380
No I will defend myself. No one talks shit about me and gets away with it.

Sent from my iPhone

[2016-01-22 17:53] DrTheGoat commented on #380
@PrimeBagel I dont think sam can make a bypass if he cant make his own bots

[2016-01-22 18:00] PrimeBagel commented on #380
Yeah he doesn't even know how to get the mouse position.

Sent from my iPhone

[2016-01-22 18:00] SamGamesYT commented on #380
Yeah i got the mouse pos ;)

[2016-01-22 18:02] DrTheGoat commented on #380
@SamGamesYT Not in any of your videos of "your bots"

[2016-01-22 18:02] PrimeBagel commented on #380
From DrGoat yes.

Sent from my iPhone

[2016-01-22 18:03] SamGamesYT commented on #380
They Glitch out they follow mouse then they follow cell back and forth im getting there

[2016-01-22 18:03] DrTheGoat commented on #380
@SamGamesYT Steams legit

[2016-01-22 18:08] PrimeBagel commented on #380
Sam if you set it to one option or the other with if{}else{}, that should never happen. You can stop lying now.

Sent from my iPhone

[2016-01-22 18:09] DrTheGoat commented on #380
@PrimeBagel I think he thinks my ai for the bots is follow mouse

[2016-01-22 18:11] PrimeBagel commented on #380
Ok it could be just lag, I wouldn't call it a glitch.

Sent from my iPhone

[2016-01-22 18:11] DrTheGoat commented on #380
@PrimeBagel When my files where stolen the ai did that

[2016-01-22 18:18] PrimeBagel commented on #380
Artificial intelligence?

Sent from my iPhone

[2016-01-22 18:20] DrTheGoat commented on #380
@PrimeBagel Such as run from players and collect food

[2016-01-22 18:27] PrimeBagel commented on #380
Oh that's awesome

Sent from my iPhone

[2016-01-22 18:45] Nuklear01 commented on #380
well i'm only just figuring out how to do the fb line... so fuck that right? Anyways its better like this. No rip for agario today!

[2016-01-22 19:12] PrimeBagel commented on #380
So do the non-facebook bots still work?

Sent from my iPhone

[2016-01-22 19:18] DOMJx commented on #380
Yeap they still @PrimeBagel

[2016-01-22 19:33] PrimeBagel commented on #380
Ok some people were saying the number of bots was reduced by 60% but that doesn't make sense because all the Facebook bots would just be regular bots unless they are denied from spawning.

Sent from my iPhone

[2016-01-22 20:16] MastaCoder commented on #380
k have fun with that @PrimeBagel ;)

[2016-01-22 21:16] MarkDsonYT commented on #380
@primebagel they decrease to 2 bots so yeh it took miniclip 1 night to stop agariopowerups. I'm impressed. I'm talking about client based. Server or proxies still works

[2016-01-23 01:07] davidmann4 commented on #380
@DrTheGoat contribute AI code to https://github.com/davidmann4/agario-feeder-bot to proof your story about the AI

[2016-01-23 01:32] BlazePixel commented on #380
@PrimeBagel I really like your dedication to this discussion/issue/idea. I am a "noob" coder, I was wondering if we could get in touch because i want to learn code and develop my own bot. :D

[2016-01-23 01:34] BlazePixel commented on #380
If im correct, i hear you can get banned now from agar.io.

[2016-01-23 01:39] PrimeBagel commented on #380
David Mann shut up. You just proved my point earlier. You just want others to write a bot for you by challenging them and writing smart ass comments to discourage them because you know they have already accomplished other stuff and you want it in your bot. Do you know how to code? Do you even want to write something yourself? We aren't stupid and that's not how you get people to help you.

Sent fr

[2016-01-23 01:49] PrimeBagel commented on #380
Sure my skype is chrispierce99 you can ask for help anytime just don't be like that dumbass David Mann who doesn't ask for help and instead tries to get people to write stuff for him by discouraging people because he doesn't know how to do anything.

Sent from my iPhone

[2016-01-23 01:53] PrimeBagel commented on #380
Wow I'm using my clan account. I hope they don't ban you for using bots. I've been running the non Facebook bots now because I really don't want to make 50 accounts. Idk I will look into the Gplus login to see if they have only made changes to the Facebook system.

Sent from my iPhone

[2016-01-23 03:14] zoowapp commented on #380
@Johnderuloz check skype rn

[2016-01-23 08:06] PrimeBagel commented on #380
So I got google plus to work on the bots but it didn't change anything. I still only get one bot. I found a solution but it will take time.

[2016-01-23 08:40] DrTheGoat commented on #380
@PrimeBagel Shounds good, Would you share they idea or keep it for yourself ;)

[2016-01-23 09:41] davidmann4 commented on #380
@PrimeBagel not at all correct, you guys just brag with stuff you guys do not even have and I make fun of you.

I obtained a copy of your bot - no AI inside. So please stop scamming people,

[2016-01-23 10:01] Zephyr-Vi commented on #380
@PrimeBagel They've add what they should of added ages ago each Google+ token connects 1 bot I guess from what you've said and even you create more tokens it'll probably overwrite the previous token.

tl;dr: fb and google+ is patched deal with it

[2016-01-23 11:21] davidbigglehorn1995 commented on #380
@davidmann4 i agree, so much BS.

[2016-01-23 11:25] DrTheGoat commented on #380
@davidmann4 What version of my bot would that be?

[2016-01-23 14:28] Drflash55 commented on #525
This is not the place to talk about that kind of stuff.

[2016-01-23 14:29] Drflash55 commented on #526
This is not an issue.

[2016-01-23 14:31] Drflash55 commented on #380
Well, you can't get 132 mass bots anymore, but you can still at least get your bots.
Learn to live with this.

[2016-01-23 17:14] DOMJx commented on #380
we already tested 10 bots each bot with a fb account work perfectly, the problem mass bonus.

[2016-01-23 17:16] SamGamesYT commented on #380
@DOMJx Hey Dude i have like Mouse Cords etc do u wanna work together or something my bots follow mouse i can help u guys out too! here is a vid with me using my bots https://www.youtube.com/watch?v=CTp469kfqQE

[2016-01-23 17:16] SamGamesYT commented on #380
@DOMJx Add me on skype samuel.snell1

[2016-01-23 17:19] SamGamesYT commented on #380
Nice can u help me with my bots and i can help u with making bots follow mouse! here is a vid on my bots https://www.youtube.com/channel/UCnc8pUoE0y-FCEZx6VnZkHw, Add me on skype samuel.snell1 @DOMJx

[2016-01-23 17:27] PrimeBagel commented on #380
David Mann stop lying I gave no one my bot.

Sent from my iPhone

[2016-01-23 17:29] PrimeBagel commented on #380
@davidbigglehorn1995 Oh are you David #2

Sent from my iPhone

[2016-01-23 17:30] SamGamesYT commented on #380
@PrimeBagel go to skype :P

[2016-01-23 17:31] PrimeBagel commented on #380
@DOMJx Yes I didn't think of that. All your bots have to level up and no more bonus either

Sent from my iPhone

[2016-01-23 17:31] SamGamesYT commented on #380
@PrimeBagel i have Follow mouse working :D

[2016-01-23 17:32] davidmann4 commented on #380
@PrimeBagel  it is on pastebin and everyone has it http://pastebin.com/rEDF5wri

[2016-01-23 17:41] PrimeBagel commented on #380
David Mann I don't even have pastebin. I'm making an extension with a copy of agar.io's html and I'm editing a fresh copy of agarios main_out. You can't just find stuff on the Internet and say it's mine. It could be yours dumbass.

Sent from my iPhone

[2016-01-23 17:53] davidmann4 commented on #380
@PrimeBagel no reason to be so mad. From the discussion it looked like you and drgroat do it together. Some goes for you: proofs or it did not happen.

[2016-01-23 22:23] azuknowit commented on #380
Hi guys, I've noticed that there have been a lot of people who want to get free bots and here I'll tell you my experiences with 3 different botting extensions.

Agar.io powerups: excellent setup, great tools, no lag. The bots run smoothly and efficiently. The most polished of the 3.

Freeagarbots.tk: slightly cruder compared to Agar.io powerups but has an increased amount of bots (135). A great fr

[2016-01-23 22:27] 5p1Ky commented on #380
noooooooob XD

[2016-01-23 22:43] azuknowit commented on #380
anyone know the activation code for KrissV2 bots?

[2016-01-23 22:51] azuknowit commented on #380
About 1/4 of the comments were people looking for free bots so i decided to give them a few ideas

[2016-01-23 22:51] azuknowit commented on #380
anyone know the activation code for KrissV2 bots?

[2016-01-23 22:52] thisismo commented on #380
@azuknowit What are you talking about? sz.marczak has only coded agario-powerups.

[2016-01-23 22:59] BlazePixel commented on #380
@PrimeBagel When it says connecting, It says check your internet connection or you may have been banned.

[2016-01-23 23:04] PrimeBagel commented on #380
@davidmann4 yes I'm mad and I work alone but DrGoat is my friend

[2016-01-23 23:05] PrimeBagel commented on #380
@davidmann4 I will be uploading proof today

[2016-01-23 23:07] azuknowit commented on #380
in the zekebot.tk and Freeagarbots.tk the bot code says at the start that sz.marczak@gmail.com  would have to take legal action if you illegally distribute the code

[2016-01-23 23:07] PrimeBagel commented on #380
So I made like 2 google plus accounts but google started asking me for phone verification so I found some email service on tor and made 50 accounts there and I decided to stick with facebook.

[2016-01-23 23:07] PrimeBagel commented on #380
@azuknowit thats because those guys stole the code

[2016-01-23 23:07] azuknowit commented on #380
true

[2016-01-23 23:08] azuknowit commented on #380
he still coded it tho

[2016-01-23 23:08] PrimeBagel commented on #380
@azuknowit yep it was stolen

[2016-01-23 23:09] azuknowit commented on #380
the couldn't even be bothered to to change the start

[2016-01-23 23:09] PrimeBagel commented on #380
I got to make like 12 facebook accounts and I stopped there to test them but I will make more

[2016-01-23 23:10] azuknowit commented on #380
this is what it says
This extension (Agar.io Powerups) is developed by (C) Szymon Marczak.
 If You will copy this extension or copy any feature from this extension I will be forced to take legal action aganist You.

[2016-01-23 23:12] azuknowit commented on #380
a very limited topic (823 comments)

[2016-01-23 23:58] thisismo commented on #380
They have just copied the whole code?

[2016-01-24 00:00] thisismo commented on #380
You can also see it on the name. It says 'This extension (Agar.io Powerups)...'

[2016-01-24 00:50] MarkDsonYT commented on #380
you know what else? :) Here's what agarbot.ovh has: http://87.98.132.227/js/injector2.js

[2016-01-24 00:55] MarkDsonYT commented on #380
Also this: http://87.98.132.227/js/script_prod.txt

[2016-01-24 01:44] BlazePixel commented on #380
what is the http://87.98.132.227/js/script_prod.txt

[2016-01-24 02:45] PrimeBagel commented on #380
@MarkDsonYT I decoded that agarbot.ovh page http://87.98.132.227/js/injector2.js
Here is the link: https://www.dropbox.com/s/zm0wcg9m1q9toea/decode.txt?dl=0

[2016-01-24 03:10] MarkDsonYT commented on #380
This is interesting:      ws://server.agarbot.ovh

[2016-01-24 04:26] AmazingGamerBoy commented on #380
1) How did u get this code 2) I think agarbot.ovh has bypassed Facebook limits, so any code that may help within that script?

[2016-01-24 04:42] PrimeBagel commented on #380
@AmazingGamerBoy lol they just posted it and I decoded it. It only took 2 seconds. The code told you how to decode all the rest of the code

[2016-01-24 04:42] AmazingGamerBoy commented on #380
Where did they post it?

[2016-01-24 04:43] PrimeBagel commented on #380
@AmazingGamerBoy a few comments above. It was that website http://87.98.132.227/js/injector2.js

[2016-01-24 04:44] AmazingGamerBoy commented on #380
Any signs of how they use Facebook login, or how they bypassed it maybe?

[2016-01-24 04:45] PrimeBagel commented on #380
@AmazingGamerBoy they must have multiple accounts

[2016-01-24 04:45] PrimeBagel commented on #380
I made 12 for my bots and it works

[2016-01-24 04:46] PrimeBagel commented on #380
but I really dont want to start over with all my bots at level 1

[2016-01-24 04:47] PrimeBagel commented on #380
I was gonna make a new video and then I thought crap well i'd have to get these to level 5 to prove it

[2016-01-24 04:47] AmazingGamerBoy commented on #380
I saw a chat where this moderator said that they didn't make multiple account but i cant find it now

[2016-01-24 04:54] PrimeBagel commented on #380
@AmazingGamerBoy he lied theres no other way. I tried gplus too and that didn't work. It's pretty obvious when you see a ton of bots with different skins in game.

[2016-01-24 04:59] PrimeBagel commented on #380
So I got that code to work but it gives me this

[2016-01-24 05:00] PrimeBagel commented on #380
![screenshot 10](https://cloud.githubusercontent.com/assets/16532091/12534571/11504378-c225-11e5-83ed-d3a2346adf01.png)

[2016-01-24 08:14] azuknowit commented on #380
cool, keep working at it, and eventually you will figure it out

[2016-01-24 08:15] azuknowit commented on #380
true, the skins make it really obvious

[2016-01-24 09:56] AgarioPowerups commented on #380
@azuknowit You said, that I made freeagarbots.tk and zekebot.tk. That's NOT true. I didn't make it! They copied just my extension and made some changes. "This extension (Agar.io Powerups) is developed by (C) Szymon Marczak.
If You will copy this extension or copy any feature from this extension I will be forced to take legal action aganist You. ". As I said, they copied my extension and left the c

[2016-01-24 10:09] davidmann4 commented on #380
@AgarioPowerups is right - people can not just take (c)ed code and handle it like open source. There are rules.

@AgarioPowerups if I can somehow help you with dealing with this add me on skype. I really like to this kind of stuff.

david.mann.rsa

[2016-01-24 11:45] 5p1Ky commented on #380
@PrimeBagel I saw in 3 Party agarbot.ovh bots. On the website, they posted a comment who says that some bots have the facebook connect. So in the game, all bots were connected in a facebook account, but not the same for all bots ... We have to find the limit of facebook bots in one game ... I think it's 3 (not on the same IP but on the same game)..

If you want, for your bots, I can create a lot o

[2016-01-24 12:16] liviubunduchi opened #531 "frree"

[2016-01-24 13:29] MarkDsonYT commented on #380
@5p1Ky it's already been discovered that it's 1 facebook acc per party.

[2016-01-24 16:35] zoowapp commented on #380
@MarkDsonYT  @5p1Ky  I bought those bots, and most of them have fb mass not only 1 and @PrimeBagel they have to have ur ip for the bots to connect

[2016-01-24 17:09] Zephyr-Vi commented on #380
@PrimeBagel Agarbot.ovh is server side lol, it won't be cracked just by getting client code.

[2016-01-24 17:11] zoowapp commented on #380
If anyone has i script i will get premium proxies a bunch of them and maybe we can market them

[2016-01-24 17:17] Zephyr-Vi commented on #380
@zoowapp It's not hard to get proxies m8

[2016-01-24 18:44] PrimeBagel commented on #380
So I looked through the code and I understand how agarbot.ovh works. It's all server side. They have the client send the auth token to the computer. Now you can have only 1 FB account for each bot in game otherwise they will redirect you but this auth token can be used in another game too. So what they do is steal their customer's auth tokens. That explains why they don't have to log in 50 account

[2016-01-24 21:59] MarkDsonYT commented on #380
So basically agarbot.ovh steals your facebook accounts? That's so awesome :P

[2016-01-24 22:01] PrimeBagel commented on #380
No just the auth tokens. Facebook gives you access to auth tokens. It's not the other way around.

Sent from my iPhone

[2016-01-24 22:06] PrimeBagel commented on #380
So if your a customer, they take your auth token and it could be used for bots on 20 other servers. They named their bots "Mega Bots" in game but not all of the mega bots were big. This is because the auth tokens expire every hour. Everything I've seen makes sense now.

Sent from my iPhone

[2016-01-24 22:06] thisismo commented on #380
@zoowapp you're welcome. All I need is someone to buy proxies and vserver by example :D Because I'm 15 :D

[2016-01-24 22:08] thisismo commented on #380
@Zephyr-Vi really? all the public proxies are slow as fuck.

[2016-01-24 22:10] thisismo commented on #380
@PrimeBagel you're a legend :)

[2016-01-24 22:12] OwnThat commented on #380
how can I create the page ? http://87.98.132.227/js/injector2.js

[2016-01-24 22:14] PrimeBagel commented on #380
Thanks. So as the AmazingGamerBoy said he saw a chat saying that they didn't make any accounts, that means they took the auth tokens. When I looked in the code, I saw it call a function to send the token somewhere.

Sent from my iPhone

[2016-01-24 22:34] thisismo commented on #380
Sometimes the ToS is really useful :D
http://agarbot.ovh/tos.php

"If you use our bots you authorize us to use your facebook token for our bots. (Don't worry we have no access to your facebook.)"

[2016-01-24 22:39] PrimeBagel commented on #380
@thisismo oh well I guess that settles it. So the question is how do I automatically log in to 50 accounts or how would I get access to other peoples auth tokens. Agario Powerups could easily do the same thing as agarbot.ovh in some new update.

[2016-01-24 22:42] PrimeBagel commented on #380
This really sucks because I wanted to create a extension that could spawn 100 bots and sit around until someone with 10 mass comes by and then target them but now I really can't do that anymore.

[2016-01-24 22:45] zoowapp commented on #380
@thisismo i can help you with that, i have the proxies and a centos vps send me the script on skype @noobmatics and i will try to set them up

[2016-01-24 23:54] 5p1Ky commented on #380
@PrimeBagel Did you read my comment ? I can create and level up 50 facebook account for you, and I don't want any return !

[2016-01-25 01:27] PrimeBagel commented on #380
That's alright the login I made isn't automatic so you have to log in and out of each one on the website. Idk you don't have to.

Sent from my iPhone

[2016-01-25 02:42] zoowapp commented on #380
Ok here i am. If anyone has a working bot script I'm willing to buy multiple servers or premium proxies to market these bots and get bank. We could beat the price of all companies and therefor sell a shit ton of plans at a low price with high profit

[2016-01-25 02:53] iNewLegend commented on #380
https://www.youtube.com/watch?v=sYKev6aHdD0&feature=youtu.be
4MIN TAKEOVER SERVER

[2016-01-25 02:56] zoowapp commented on #380
@iNewLegend  Couple questions, how did u set up the bots, did they come with facebook mass, and how was it all done? I failed at installing @davidmann4 bots and need a tutorial, thanks

[2016-01-25 03:55] PrimeBagel commented on #380
It makes me wonder when it was recorded but it looks awesome with random skins

Sent from my iPhone

[2016-01-25 05:21] thisismo commented on #380
I think it was recorded before the patch

[2016-01-25 08:00] azuknowit commented on #380
Hi AgarioPowerups, it's true that at first i thought that you coded Zekebot.tk and Freeagarbots.tk but in the comments straight afterwards i was implying that the code was stolen. I must say that overall, the bots (before the patch) and the other tools that you have created were the best of them all

[2016-01-25 08:08] azuknowit commented on #380
Hi @AgarioPowerups, it's true that at first i thought that you coded Zekebot.tk and Freeagarbots.tk but in the comments straight afterwards i was implying that the code was stolen. I must say that overall, the bots (before the patch) and the other tools that you have created were the best of the ones that i have used so far (I'm still looking for free bots with less lag)

[2016-01-25 08:23] azuknowit commented on #380
And on the topic of looking for free bots, I have downloaded the @davidmann4 bots, but i am terrible at figuring out how to apply them (as a chrome extension). anyone able to help me with this?

[2016-01-25 10:58] Althoriq commented on #380
https://github.com/davidmann4/agario-feeder-bot win 32 work?

[2016-01-25 11:52] thisismo commented on #380
@azuknowit agario powerups bots were lag free because they were running locally. More than 4 bots cannot be client-side instead they have to be server-side which brings a standart delay /lag with it.

[2016-01-25 13:51] thisismo commented on #380
Why am I lagging this hard if I'm running the server with the bots locally?
http://www.speedtest.net/my-result/5027420724

[2016-01-25 14:28] PrimeBagel commented on #380
But now the limit of bots is 2 plus you. I don't think agario powerups accomplished anything from this.

Sent from my iPhone

[2016-01-25 14:40] thisismo commented on #380
Oh yes you're right xd I forgot this. :D

[2016-01-25 16:33] SamGamesYT commented on #380
Hey Guys i have finished making my awesome update on my Client Script Please Come and look and tell me what u think of my update on my bots! my next thing is to make fb accounts for my bots! here is the video: https://www.youtube.com/watch?v=XDdHBDH1Kjg&feature=youtu.be

[2016-01-25 16:35] PrimeBagel commented on #380
The video is private

Sent from my iPhone

[2016-01-25 16:35] SamGamesYT commented on #380
Yes Can u still see it ?

[2016-01-25 16:36] PrimeBagel commented on #380
It says it's private and tap to retry

Sent from my iPhone

[2016-01-25 16:42] SamGamesYT commented on #380
Okay Try now

[2016-01-25 17:20] Althoriq commented on #380
http://agarhelper.com/htmlclient/base.js?v=34 @SamGamesYT

[2016-01-25 17:20] Althoriq commented on #380
tutorial please

[2016-01-25 17:23] SamGamesYT commented on #380
I made my script... Me and a friend did

[2016-01-25 17:25] Althoriq commented on #380
send tutorial T^T i have script agar helper

[2016-01-25 17:25] Althoriq commented on #380
but I can not use it

[2016-01-25 20:49] thisismo commented on #380
You cannot expect that everyone does a tutorial for you. This is a forum for coders, so you need at least some basic knowledge. For bots you do not just need the client script. You need to write a server. Look at pulviscriptors agario-client he has written a great readme and his examples are easy to understand.

[2016-01-25 21:08] TechMuchHD commented on #380
hello i read this whole post today lmao what ever happened to the hacker?

[2016-01-25 21:08] juliopeyrot commented on #380
same

[2016-01-25 21:10] juliopeyrot commented on #380
its not working  http://agarhelper.com/htmlclient/base.js?v=34

[2016-01-25 21:15] juliopeyrot commented on #380
it is a grey screen with agario but i cant touch anything

[2016-01-25 23:16] zoowapp commented on #380
@davidmann4 please make a youtube walkthrough to install it please the directions are too OP for me. @PrimeBagel  add me on skype @noobmatics

[2016-01-25 23:41] davidmann4 commented on #380
@zoowapp i am super busy - when the repo has around 50 stars I will make some tutorials.

if anyone could fix the bugs in the meantime that would be great.

[2016-01-25 23:41] zoowapp commented on #380
https://gyazo.com/71f3f70a4cc854474ecc77c595237897
https://gyazo.com/e6799d83fbd42f99e622e8d6a2609d45
DAvid the douchebag being unhelpful when i ask for help get exposed

[2016-01-25 23:52] zoowapp commented on #380
OKay guys go to zekebot.tk 30 free bots  pay with a shar easy just load both unpacked extensions and voilla free working bots for the first time

[2016-01-26 23:11] techpulse commented on #380
wow are there no apps for such http://agarhelper.com/register.php instead of buying? i though github was free & open :)

i would pay for the source of the bot, so i could do it private usage..

[2016-01-27 00:28] MastaCoder commented on #380
@zoowapp You can't be serious xD

[2016-01-27 02:08] MarkDsonYT commented on #380
LOOOL @zoowap You're right, that's proof on how unhelpful and douchebaggy david is xD

[2016-01-27 02:44] PrimeBagel commented on #380
Lol he could have just said it doesn't work on Windows

Sent from my iPhone

[2016-01-27 18:14] thisismo commented on #380
@techpulse if you like to i'd sell it

[2016-01-27 18:17] techpulse commented on #380
@thisismo how much and does it work like that, easily? public servers etc

[2016-01-27 21:01] Djebbarafik opened #532 "Rafik"
hi alll

[2016-01-27 22:04] thisismo commented on #380
yes, sure :) I really don't know how much :D

[2016-01-27 22:38] DaAwesomeRazor commented on #380
@KrissV2 @Sonicmaster13 @ @henopied  @davidmann4 @Apostolique

THE BOT PROGRAMMERS! :P

[2016-01-27 22:40] techpulse commented on #380
@thisismo  ok skype or something?

[2016-01-27 22:41] DaAwesomeRazor commented on #380
@techpluse would you like to buy a bot script. You can run bots on the servers and stuff. skype: santa.gaming(im one of the owners of rsagartoolz)

[2016-01-27 22:42] techpulse commented on #380
@DaAwesomeRazor  added

[2016-01-27 22:50] zoowapp commented on #380
@DaAwesomeRazor aye bro go on evil ts i will buy but fam gotta give me that discount

[2016-01-27 22:52] davidmann4 commented on #380
# There are free bots on github - do not get scammed by people asking for money:

https://www.youtube.com/watch?v=sYKev6aHdD0

[2016-01-27 22:53] techpulse commented on #380
@davidmann4  tried it, couldn't get it to work ._.

[2016-01-27 22:55] zoowapp commented on #380
@techpulse thisismo has good bots and for cheap he is almost done making them

[2016-01-27 22:59] davidmann4 commented on #380
@techpulse it changed a lot it is super easy now to install - and see already someone asking for money  :)

[2016-01-27 23:04] zoowapp commented on #380
@davidmann4 did you really change it? i am sorry i was moody before

[2016-01-27 23:05] techpulse commented on #380
@davidmann4  trying now ;)

[2016-01-28 06:02] pissedOffUser opened #533 "so like no update ? -_- getting real tired of waiting"

[2016-01-28 06:36] Piehthyte commented on #533
You do know Apostolique isn't here to service you in paticular? Developers need time to do things and if they are busy then they are busy. Be paitent or make it yourself. Either way the issue really isn't needed so you should probably close it now.

[2016-01-28 07:15] Zephyr-Vi commented on #380
It feels cooler when you make your own script. ;) [img]http://i.imgur.com/uVAKWAW.png[/img] High thread count, I know. I'd rewrite it in C#, if websocket-sharp didn't have a proxy mismatching error.

[2016-01-28 12:13] thisismo commented on #380
GG Zephyr. Couldn't really imagine how to write the agar client in C#

[2016-01-28 18:27] davidmann4 commented on #380
looks like python

[2016-01-28 21:05] MarkDsonYT commented on #380
@PrimeBagel If davidman's baby can't work on windows, we could just download virtualbox and run it right? I heard a lot of great things about virtualbox.

[2016-01-28 22:07] zoowapp commented on #380
Send me buisness offers, i have a server. skype is noobmatics

[2016-01-28 23:11] juliopeyrot commented on #380
davidman how do i do this

[2016-01-29 02:18] PrimeBagel commented on #380
I wouldn't use virtualbox because it will run much slower. I would just install Ubuntu along side Windows

Sent from my iPhone

[2016-01-29 09:39] salahxbox commented on #380
@davidmann4 please man make a tutorial on how to install your bots, it's too complicated for me to install it, i have done all steps but with no such result, i got a lot of errors wthin install package.json, it seems like i did somethinf wrong but i couldn't find it, thank you so much for the help and please make a video or an easy instructions.
sorry for my bad english

[2016-01-29 17:20] Zephyr-Vi commented on #380
Reverse engineered agarbot.ovh client to create a server which functions with it's client. :P <br> <img src="http://i.imgur.com/SdAbSg8.png" />

[2016-01-29 21:37] zoowapp commented on #380
@Zephyr-Vi  gg u da real mvp

[2016-01-29 21:40] techpulse commented on #380
@davidmann4  seems like i am not only one having issue installing yours, it's way too hard lol

[2016-01-30 02:31] LeoModZ commented on #380
Plz can someone give me the code for agar.io powerups on facebook=LeoYT

[2016-01-30 10:34] Danielhaltvik opened #534 "suck my dick"
wtf is not work

[2016-01-30 10:52] Zephyr-Vi commented on #380
I am now selling my code for £45 which means you only pay once, and then you have bots forever. :P

[2016-01-30 11:19] techpulse commented on #380
@Zephyr-Vi  whats the difference between yours, and the free one? :P

[2016-01-30 11:20] Zephyr-Vi commented on #380
@techpulse there isn't a free one

[2016-01-30 11:21] techpulse commented on #380
@Zephyr-Vi  https://github.com/davidmann4/agario-feeder-bot worked fine for me O.o

[2016-01-30 11:41] Zephyr-Vi commented on #380
@techpulse I've never used it but I assume that mine connections faster because it's a headless client

[2016-01-30 13:27] techpulse commented on #380
Explain what headless client means?

Also the main issue with all bots I think is proxies, need proxies and most are alreasdy banned. Honestly it worked perfectly fine.

Other than I need to put in the "ID" manually.

[2016-01-30 17:57] LeoModZ commented on #380
i meant script. so i can edit it. when i finish it i will let youz test it

[2016-01-30 19:46] mech101v commented on #380
@Zephyr-Vi Do you have a demo of said client?

[2016-01-30 20:09] Zephyr-Vi commented on #380
@mech101v No, I don't have a demo, because
1) People would abuse the fuck out of it.
2) It's simple to set up if you know what your doing. But most people here don't.
3) I would have to rewrite the whole thing to make it store each data in separate objects.
4) I'm too lazy to that right now.

[2016-01-30 21:45] davidmann4 commented on #380
@Zephyr-Vi @techpulse mine is:
* free
* headless
* super fast
* transportation algorithms
* algorithms to avoid stuff
* follow mouse
* split on command
* eject on command

cheers!

[2016-01-30 21:51] techpulse commented on #380
@davidmann4  yeah well i have lagging issues on the client side, even using a big dedicated server with 8 cores * 3.4GHz

[2016-01-30 21:51] techpulse commented on #380
not sure if that has anything to do with it anyways,

[2016-01-30 21:54] davidmann4 commented on #380
@techpulse wow, how many bots are you running?`

open an issue on the repo - I guess we can solve this by disabling stuff (algorithms soak memory)

[2016-01-30 21:56] techpulse commented on #380
yeh i did, no replies so far tho

32GB if ram also

[2016-01-30 22:07] DeltaEnemy commented on #380
Guys, Can anyone tell me a good site to buy proxies?

[2016-01-30 22:22] thisismo commented on #380
fineproxy.de

[2016-01-31 01:05] juliopeyrot commented on #380
tech how did u get yours to work

[2016-01-31 02:44] mech101v commented on #380
@Zephyr-Vi
Proxy requirements?
It runs like agarbot.ovh, as in I can run it on one computer with a client on an other computer?

[2016-01-31 06:52] anaconda217 opened #535 "Xp Issue"
I can sign into Facebook but it starts at 10 and I gain no xp,,,
I read other responses to the same problem but I can't figure it out...
Please help

[2016-01-31 11:18] boomboompower commented on #534
It does work.

[2016-01-31 11:23] boomboompower commented on #533
@Piehthyte is right.
@pissedOffUser please close this issue.

[2016-01-31 11:24] boomboompower commented on #531
@liviubunduchi As this is not a issue, can you please close this.

[2016-01-31 12:13] DanielLewis97NL commented on #380
@techpulse i have no issues running on a fairly cheap 20 dollar vps + good proxies.

https://embed.gyazo.com/f2cbe073bd2ce064db6854bdc7717c7f.gif

running about 200~ bots in spectator mode.

[2016-01-31 12:14] techpulse commented on #380
@DanielLewis97NL where do you get your proxies

[2016-01-31 12:22] Dante777z commented on #380
Finally I was able to run the bot of davidmann4, I had some crashes after of some minutes but I remove some lines of the error script and it works fine, I'm using a free proxy list (contains thousands) and adjusted 150 in "config.onboardingTimer" in config file and I can run hundreds of bots.

[2016-01-31 13:40] DanielLewis97NL commented on #380
@techpulse from the internet? You can check them using this: https://www.npmjs.com/package/proxy-checker

[2016-01-31 13:43] techpulse commented on #380
@DanielLewis97NL  obviously, but most are blocked already

[2016-01-31 13:44] techpulse commented on #380
@DanielLewis97NL any regex / domain for agario?=

[2016-01-31 13:50] techpulse commented on #380
=> false (status: 200, err: Body doesn't match the regex /<h1>Agar.io<\/h1>/.)

[2016-01-31 15:16] techpulse commented on #380
ok so according to that i have over 2000 working for agario, however when i try to use the feeder bot.. i feel i only get like 1/2 every 20 seconds, feels really slow comparing to videos i've seen

[2016-01-31 15:58] juliopeyrot commented on #380
Failed to load extension from: ~\Desktop\agario-feeder-bot-master
Manifest file is missing or unreadable.

[2016-01-31 15:59] juliopeyrot commented on #380
error i get

[2016-01-31 16:08] PrimeBagel commented on #380
It's not an extension. Load the user script in tampermonkey

Sent from my iPhone

[2016-01-31 16:11] MasonBurdette commented on #380
@Zephyr-Vi whats your skype?  im very interested.

[2016-01-31 17:24] DanielLewis97NL commented on #380
@techpulse what have you set your onboarding timer in the config? is it at 5000? If so, set it to 0 ms.

[2016-01-31 17:27] 5p1Ky commented on #380
@davidmann4 To run your agario hack, do I have to run the bots in my proxies ? (I don't have proxies)

[2016-01-31 18:25] davidmann4 commented on #380
# TUTORIAL VIDEO "HOW TO INSTALL FREE BOTS" https://www.youtube.com/watch?v=FVNNo93ZVGg

[2016-01-31 18:59] zoowapp commented on #380
@davidmann4 i installed added proxies but nothing happened

what do i do after proxies?

[2016-01-31 23:48] MarkDsonYT commented on #380
@davidmann4  Lol I got up to 3 bots by that. Thanks david. The rest of my 70-some bots disconnected by a connection refused error. I guess it's because I can't copy the proxies davidmann used. Is there a way to run them on your local host?

[2016-01-31 23:57] anaconda217 commented on #535
And now I can't sign into Facebook either

[2016-02-01 00:00] zoowapp commented on #380
@MarkDsonYT just use ur own proxys

[2016-02-01 00:09] MarkDsonYT commented on #380
163.44.119.72    I searched up free http proxy and this one worked :D

[2016-02-01 00:20] zoowapp commented on #380
@MarkDsonYT now load a bunch of them and u can get at least 100 cheers

[2016-02-01 02:06] MarkDsonYT commented on #380
Cheers :)

[2016-02-01 02:52] #533 closed

[2016-02-01 06:05] rosarioMiraggio opened #536 "Grazie"
Bots.Net

[2016-02-01 15:55] Zephyr-Vi commented on #380
@davidmann4 mine is:

free < got that
headless < got that
super fast < got that
transportation algorithms < you what?
algorithms to avoid stuff < find it dumb because they'll be slower
follow mouse < OBVIOUSLY
split on command < DITTO
eject on command < DITTO
cheers! < np man

[2016-02-01 17:45] AGARSWEYT commented on #530
good

[2016-02-01 18:48] 5p1Ky commented on #380
What do you think about this proxies ? http://www.sslproxies.org

[2016-02-01 21:35] loboere commented on #380
Now erase traces of this so we just enjoyed
not make tutorials of how to install

[2016-02-01 21:36] loboere commented on #380
only we have the power

[2016-02-01 22:06] MasonBurdette commented on #380
@Zephyr-Vi I would really like to speak with you, so if you could somehow give me your contact info that'd be great.

[2016-02-02 03:19] pissedOffUser commented on #534
no it doesnt -_-

[2016-02-02 03:31] Nuklear01 commented on #380
I have played with bots and have had my fun but now it ruins agario... I don't think it'll be long until someone finds a way to get a huge amount of bots with high mass and it'll ruin agario so please be content with 1-5 bots and don't go around lagging a server with tons of bots pls
( don't go all angry on me I'm just saying every godamn server out there has bots and its laggy as fuck )

[2016-02-02 09:43] Piehthyte commented on #534
For you, it doesn't. For everyone else it does! If you have an issue please file a proper issue report instead of being a temperamental child.

[2016-02-02 18:34] Zephyr-Vi commented on #380
@MasonBurdette Just drop your skype here.

[2016-02-02 21:01] zoowapp commented on #380
Zephyr add me on skype : noobmatics

[2016-02-02 23:33] MasonBurdette commented on #380
@Zephyr-Vi just look up masonburdette@outlook.com in skype

[2016-02-03 00:58] DaAwesomeRazor commented on #380
@MasonBurdette Botmega?

@Zephyr-Vi Btw Do  you have a deobfuscated version of agarbot.ovh. Im interested in seeing it.

[2016-02-03 01:13] techpulse commented on #380
i've seen someone selling facebook bots, where they have a lot of mass when they start.. how? lol

[2016-02-03 01:14] mech101v commented on #380
@Zephyr-Vi skype is mech101v

[2016-02-04 02:19] MasonBurdette commented on #380
@DaAwesomeRazor from what i know he just recreated the agarbot.ovh websocket server, by looking at the client script. (sorta like what you did with the minimap server)

[2016-02-04 03:39] pissedOffUser commented on #534
it does not work it is full of bugs and after about 100 seconds the whole screen turns blue

[2016-02-04 03:45] BlazePixel commented on #380
@techpulse ive actually seen them ingame, AFTER the patch. its insane!
.

[2016-02-04 08:31] azuknowit commented on #380
ikr

On Thu, Feb 4, 2016 at 2:45 PM, BlazePixel <notifications@github.com> wrote:

[2016-02-04 10:22] boomboompower commented on #534
@pissedOffUser as this is not an issue/not in a way a issue should be reported. Please close this issue.

[2016-02-04 10:54] boomboompower commented on #536
@rosarioMiraggio as this is not a legit issue, please close this.

[2016-02-04 10:54] boomboompower commented on #530
@AGARSWEYT as this is not a legit issue please close this.

[2016-02-04 10:55] boomboompower commented on #522
@wertercatt try reloading the page.

[2016-02-04 16:59] mgracer48 opened #537 "it doesn't seem like im gaining xp when using bot"
and i know it works without the bot

[2016-02-04 17:00] Zephyr-Vi commented on #380
@MasonBurdette That's correct.

[2016-02-04 17:03] zoowapp commented on #380
im collecting facebook accounts for my bots, if u help me i will give u a
day of 25 free bots

On Thursday, February 4, 2016, Zephyr Vi Britannia <notifications@github.com>
wrote:

[2016-02-04 18:37] 5p1Ky commented on #380
@zoowapp How can I contact you to help ou for the facebook accounts ?

[2016-02-04 18:42] 43AB commented on #380
@zoowapp what your skype
je suis fr

[2016-02-04 19:22] 5p1Ky commented on #380
Moi aussi je suis français !! :p

[2016-02-04 20:08] zoowapp commented on #380
skype: noobmatics

On Thursday, February 4, 2016, 5p1Ky <notifications@github.com> wrote:

[2016-02-04 20:15] techpulse commented on #380
yeah @BlazePixel  lol, people are selling it for really expensive though.. someone sells it on hackforums for $450.00 USD BitCoin, lifetime.

[2016-02-04 20:15] techpulse commented on #380
how do i unsubscribe my self from here? i am getting mails constantly! :palm_tree:

[2016-02-04 21:12] MasonBurdette commented on #380
@techpulse click "unsubscribe" located under the notifications tab, on the right side of your screen.

[2016-02-05 00:31] lolster223 opened #538 "Control"
the keyboard controls arent working

[2016-02-05 08:31] 43AB commented on #380
@zoowapp ok je vais tajoute

[2016-02-05 11:51] mayed505 commented on #380
@Zephyr-Vi Hello im interested getting your script bots is it for free?

Im trying to create cheap service like agarbot.ovh and raga.pw BUT! it would be cheaper like 25 bots for 4 hours = $1
Would be apperciated getting your source and maybe work together?? and splitting earnings?

[2016-02-05 12:46] Drflash55 commented on #380
I've been following this topic since September 8th of 2015.
It's now February, and now, since bots have been patched (sort of), I'm no longer interested in this.

It was nice to be apart of the conversation, but I'm losing my taste in Agar.io every day and so is my lust for bots. I still might play this from time to time, but I'm not as rampant as I was back in the Summer of 2015.

Thanks to every

[2016-02-05 12:55] Drflash55 opened #539 "Request for Apostolique"
@Apostolique Can you add me as a Collaborator for this repository?
I can help clean up issues that are considered as spam, and help with some of the stuff here for the repo.

Answer back here when you can.

[2016-02-05 16:13] ZEANER145 opened #540 "i cant play agario"
it says my wifi is down but i can still google and stuff like that

[2016-02-05 18:05] Zephyr-Vi commented on #380
@mayed505 "am now selling my code for £45 which means you only pay once, and then you have bots forever. :P", My internet is already 70 mbps, and I'm not interested in making a paying service. If I do it might even be 100% free, with a maximum amount of connections at 10 so only 10 people at a time! It would also include a 1 hour limit ever day!

[2016-02-05 21:56] Apostolique commented on #539
Okay!

[2016-02-05 22:02] #539 closed

[2016-02-05 22:07] Drflash55 commented on #534
@pissedOffUser Yes, Apostolique is aware of the phantom bugs issue and hasn't found out a way to fix it just yet...
Because this issue is already made aware, I'll redirect this issue to the earlier issue made, and close it.
#452

[2016-02-05 22:07] #534 closed

[2016-02-05 22:08] Drflash55 commented on #540
Then, it must be a problem with your connection.
If you want further help, please add more details to explain your problem.

[2016-02-05 22:09] MasonBurdette commented on #380
@Zephyr-Vi I would really appreciate it if you added me on skype.  just search masonburdette@outlook.com on skype.

[2016-02-05 22:09] Drflash55 commented on #538
There's no keyboard controls for this script. Go grab one from here instead, although, it's very odd to get used to.
https://chrome.google.com/webstore/detail/agario-ninja-advanced-con/pbobiamfiefihckgfbppiigkfbkbmhlm?hl=en

[2016-02-05 22:09] #538 closed

[2016-02-05 22:10] Drflash55 commented on #537
This has been a problem with Agar.io in general. They updated the facebook interface many times, so the bot is really outdated. Apostolique has to fix this in the future.

[2016-02-05 22:10] #537 closed

[2016-02-05 22:10] #536 closed

[2016-02-05 22:11] Drflash55 commented on #535
Refer to what I said in issue #537.

[2016-02-05 22:11] #535 closed

[2016-02-05 22:11] Drflash55 commented on #532
This is not a valid issue...

[2016-02-05 22:11] #532 closed

[2016-02-05 22:11] #531 closed

[2016-02-05 22:12] #530 closed

[2016-02-05 22:12] Drflash55 commented on #527
Refer to what I said in issue #537.

[2016-02-05 22:12] #527 closed

[2016-02-05 22:12] #526 closed

[2016-02-05 22:12] #525 closed

[2016-02-05 22:14] Drflash55 commented on #523
This is not a valid issue.

[2016-02-05 22:14] #523 closed

[2016-02-05 22:15] Drflash55 commented on #521
You need to grab AposLauncher as well in order to run AposBot, as that's the necessary tool to run the script in the first place.

[2016-02-05 22:15] #521 closed

[2016-02-05 22:16] #518 closed

[2016-02-05 22:16] Drflash55 commented on #517
This issue has been resolved, thus it's now being closed.

[2016-02-05 22:16] #517 closed

[2016-02-05 22:17] #513 closed

[2016-02-05 22:17] Drflash55 commented on #512
This is not a valid issue...

[2016-02-05 22:17] #512 closed

[2016-02-05 22:17] #511 closed

[2016-02-05 22:17] #507 closed

[2016-02-05 22:17] #505 closed

[2016-02-05 22:18] #503 closed

[2016-02-05 22:18] #502 closed

[2016-02-05 22:19] #492 closed

[2016-02-05 22:19] Drflash55 commented on #493
Duplicate of same issue.

[2016-02-05 22:19] #493 closed

[2016-02-05 22:19] #498 closed

[2016-02-05 22:20] Drflash55 commented on #485
This is not a valid issue.

[2016-02-05 22:20] #485 closed

[2016-02-05 22:20] #499 closed

[2016-02-05 22:20] Drflash55 commented on #500
This is not a valid issue.

[2016-02-05 22:20] #500 closed

[2016-02-05 22:20] #494 closed

[2016-02-05 22:22] #478 closed

[2016-02-05 22:22] #504 closed

[2016-02-05 22:23] Drflash55 commented on #506
Issue has not been active within a month, thus it's being closed.

[2016-02-05 22:23] #506 closed

[2016-02-05 22:23] Drflash55 commented on #480
Issue has not been active within a month, thus it's being closed.

[2016-02-05 22:23] #480 closed

[2016-02-05 22:23] Drflash55 commented on #455
Issue has not been active within a month, thus it's being closed.

[2016-02-05 22:23] #455 closed

[2016-02-05 22:23] Drflash55 commented on #475
Issue has not been active within a month, thus it's being closed.

[2016-02-05 22:23] #475 closed

[2016-02-06 01:32] DaAwesomeRazor commented on #380
Im making my own bot extension for free. ALso it will have 43 mass

[2016-02-06 05:19] mayed505 commented on #380
@Zephyr-Vi i want the script that the service like raga.pw and agarbot.ovh if ur gonna help me we will split earnings

[2016-02-06 11:14] xdxdxdd commented on #519
no me funi siona el bot esta pagina pon gan mejores cosas

[2016-02-06 13:52] Zephyr-Vi commented on #380
@mayed505 No.

[2016-02-06 15:36] #509 closed

[2016-02-06 15:36] #510 closed

[2016-02-06 15:37] #515 closed

[2016-02-06 17:37] 5p1Ky commented on #380
The creator of agar.io powerups did 10 facebook bots ! Just go to agario-powerups.com and go to the Demo sectio ! ;) Thay work perfectly ! :) But it works only 5 minutes .. :(

[2016-02-06 20:09] AgarioPowerups commented on #380
@5p1Ky That's not 10 Facebook bots - that's just only my private server. Demo means: https://en.wikipedia.org/wiki/Product_demonstration . You can test the extension without installing it.

@Zephyr-Vi Does the bots with proxy work? I tried and it just still connecting... Bots with Browsec doesn't work too (I heard about it). Agar.io made good security for proxy. Did You use agarnet (Python library

[2016-02-06 23:00] AmazingGamerBoy commented on #380
@Zephyr-Vi I could work with you, I could make you a website on http://agarfeeder.com, and then obtain a percentage in the business?

[2016-02-07 05:23] boomboompower commented on #516
So this will be closed?

[2016-02-07 05:24] boomboompower commented on #452
So many junk issues.

[2016-02-07 13:20] DanielLewis97NL commented on #380
@AmazingGamerBoy are you matthew from the skype group?

[2016-02-08 00:57] DaAwesomeRazor commented on #380
@AmazingGamerBoy How much would you pay for a bot script. I own rsagartoolz,tk and I have  a working socks script that you can easily run

[2016-02-08 01:22] mgracer48 commented on #380
$0

[2016-02-08 01:42] juliopeyrot commented on #380
can anyone help me make bots

[2016-02-08 02:06] AmazingGamerBoy commented on #380
@DaAwesomeRazor I said I'm not paying anything, I make a site, someone makes bot script and database and connect to site (fresh code), and on a percentage basis.

[2016-02-08 05:57] #516 closed

[2016-02-08 12:39] Drflash55 commented on #452
@boomboompower, this bot hasn't been worked on in over two months. I'm still wondering if  @Apostolique is planning on fixing some of the issues for this bot.

[2016-02-08 12:54] Drflash55 commented on #489
This issue has not been active within a month. Issue is being redirected to #537.
This is now closed.

[2016-02-08 12:54] #489 closed

[2016-02-08 23:44] flythiago commented on #380
http://pastebin.com/MgFeA0aM

[2016-02-08 23:55] DaAwesomeRazor commented on #380
@flythiago Thats agarbot.ovh code and it wont help so...

[2016-02-09 01:16] MasonBurdette commented on #380
@flythiago lel

[2016-02-09 02:00] AmazingGamerBoy commented on #380
I've seen their code, it's useless really

[2016-02-09 05:54] pissedOffUser commented on #452
could anyone try and take over?
 and keep this bot up to date ?

[2016-02-09 17:46] hahadsgdfsfs opened #541 "Agario Change color complete and than the game is over"
Today I tried the agario hack first i was so happy to use this hack but after 1 minute the game is closed

[2016-02-09 17:46] hahadsgdfsfs commented on #541
shit

[2016-02-09 17:46] #541 closed

[2016-02-10 01:20] flythiago commented on #380
Ok guys, sorry.

[2016-02-10 04:45] AmazingGamerBoy commented on #380
Just would like to celebrate us almost hitting 1000 comments in this chat!

[2016-02-10 04:46] AmazingGamerBoy commented on #380
I have to scroll down all this way to chat on my phone :(

[2016-02-10 12:40] Drflash55 commented on #541
This doesn't seem like a valid issue. Please be more descriptive with your problem.

[2016-02-10 14:32] 5p1Ky commented on #380
Lol it is veryyyyyyy loong ! XD

[2016-02-10 16:46] easyrider81 commented on #380
That's what she said

[2016-02-10 16:47] Djebbarafik commented on #532
what

[2016-02-10 16:53] FlexibleSwift commented on #380
Can someone send me a working bot? Like 55 or 100? I want to try them

On Wed, Feb 10, 2016 at 5:47 PM, easyrider81 <notifications@github.com>
wrote:

[2016-02-10 17:30] MasonBurdette commented on #380
@FlexibleSwift skype?

[2016-02-10 17:43] FlexibleSwift commented on #380
@MasonBurdette mirtre3

On Wed, Feb 10, 2016 at 6:31 PM, Mason Burdette <notifications@github.com>
wrote:

[2016-02-11 12:53] Drflash55 commented on #532
You heard me... This issue is not valid. If you don't have a problem to discuss about the bot, then don't bother making an issue on the page.

[2016-02-11 22:04] Zephyr-Vi commented on #380
@AgarioPowerups The bots with proxies work fine, I wrote the whole thing myself and don't use pyagar or agarnet. It's all done by the server, so I don't need to worry about using Browsec or Zenmate or what ever chrome extension you use for proxies.

@MasonBurdette Sent you a request ages ago. lol. idc

[2016-02-11 22:44] MasonBurdette commented on #380
@Zephyr-Vi ive coded working bots, dont need any1 now xD

[2016-02-12 12:54] MarkDsonYT commented on #380
Did syzmon get sued by miniclip? xD

[2016-02-12 17:05] easyrider81 commented on #380
Same, every server is full of huge people and massive lag.

[2016-02-12 17:43] AgarioPowerups commented on #380
@MarkDsonYT Yes, I was forced to delete the extension by Miniclip - I received a letter (by post and email) from Miniclip's solicitor. I'm closing the account.

[2016-02-12 18:12] MarkDsonYT commented on #380
xD Welp I guess raga is next.

[2016-02-12 18:18] coolharry2005 commented on #540
mine says 403 forbidden

[2016-02-13 11:12] 5p1Ky commented on #380
Hi everyone ! So know Agar.io Powerups is done, and I don't have the file of the last version of it (for Google Chrome) ... :( So if anyone has the file, can he post it on the internet or send me the file my mail/skype ? :) It would be great ! :D

[2016-02-13 14:52] DaAwesomeRazor commented on #380
I made a video on how to get free 70 bots. https://www.youtube.com/watch?v=TDwF-zDH5PQ

[2016-02-14 02:53] Sr3tXpl0 commented on #380
lol i have this: http://i.imgur.com/9XXj5uW.jpg , i want to open web site.... if anyone wants to help me textme on skype: pyboobs

[2016-02-14 07:44] FlexibleSwift commented on #380
I am very good at making ewbsites, i can help you

On Sun, Feb 14, 2016 at 3:53 AM, Sr3tXpl0 <notifications@github.com> wrote:

[2016-02-14 08:02] AmazingGamerBoy commented on #380
Same, I can help as well.

On Sun, Feb 14, 2016 at 6:45 PM, FlexibleSwift <notifications@github.com>
wrote:

[2016-02-14 08:03] AmazingGamerBoy commented on #380
yes, we hit 1000 comments lol

[2016-02-14 09:51] auxo-git commented on #380
Whats going on with the level 100 accounts?

[2016-02-14 11:09] Sr3tXpl0 commented on #380
@FlexibleSwift @AmazingGamerBoy contact me on skype

[2016-02-14 12:47] SzAmmi commented on #380
@MarkDsonYT This is my second account. If I will delete all "Infringing Publications" (as Miniclip said) before 19.02.2016 I will not pay any money. And I did it. They caught me by who.is. This is agarhelper.com: https://who.is/whois/agarhelper.com This is raga.pw: https://who.is/whois/raga.pw (fiction data probably, because he's Russian) agarbot.ovh: https://who.is/whois/agarbot.ovh Agarbots.net:

[2016-02-14 12:54] SzAmmi commented on #380
@MarkDsonYT "They caught me" - I meant they found me by who.is

[2016-02-14 23:05] MarkDsonYT commented on #380
bro that is some dank beef. If you're not going to make public bots, are you just moving on from agar.io to code other stuff now?

[2016-02-15 03:21] PrimeBagel commented on #380
Start a bot service on tor xD

Sent from my iPhone

[2016-02-15 03:24] PrimeBagel commented on #380
I tried to make bots run on the tor network but they kicked just about all of them, I then tried to go to the website in the tor browser and it showed me google's not a bot verification thing

Sent from my iPhone

[2016-02-15 05:02] AmazingGamerBoy commented on #380
Wait, is agarhelper.com being shutdown?

[2016-02-15 07:38] SzAmmi commented on #380
@MarkDsonYT I'll code other stuff too, but the agar.io game I so exciting, so I'm going to code something for agar.io (yes, without breaking the laws) and code other stuff too.

@PrimeBagel That's no sense. You can switch off the domain from who.is database (I don't know how to do it) and store the servers for example on Cyprus, as thepiratebay :D

@PrimeBagel Yes, Google doesn't want to search th

[2016-02-15 12:16] thisismo commented on #380
why are you breaking the miniclip law?
the agario tos(https://agar.io/terms.txt) says nothing about bots. just because of:
"3.	Advertise or sell any products, services or otherwise (whether or not for profit), or solicit others or use any skin for commercial purposes of any kind;"?

[2016-02-15 13:10] RagaReporter commented on #380
What exactly "law" were you breaking, according to Miniclip?
I think they are in trouble, because they know bots are simply an automated way of putting players into a game. Are you allowed to put players in a game? Yes. And there is no restriction to the amount (well 3 per ip) so you use diferent IPs for every player (bot). Any federal law against this? no.

I think Miniclip paid you Szymon, to sh

[2016-02-15 17:02] SzAmmi commented on #380
@thisismo @RagaReporter The solictior said, that I used their trademark "AGAR.IO" or "AGAR" without contacting them, I copied their artwork and copied their code.

@RagaReporter I say: Miniclip did NOT pay me anything for disabling this extension. They threatend me if I will not delete it, I will be forced to pay Miniclip money. And if I will not pay, the cost may increase. They wanted to make cou

[2016-02-15 17:47] DrTheGoat commented on #380
@SzAmmi It doesnt matter anyway agar just broke the cords system so bots wont work

[2016-02-15 18:00] SzAmmi commented on #380
@DrTheGoat Nope, my private bots still work (w/o changing the code), and I tried bots on FFA and it works (with some changes)! :D

[2016-02-15 18:32] MarkDsonYT commented on #380
dude someone coded a bot script that sends like 5 billion bots to a server. It's on Hero Tigar's stream right now. None of them move, but the whole map gets covered with dots, and everythign turns slow motion. It's insane.

[2016-02-15 18:37] SzAmmi commented on #380
@MarkDsonYT I see...

[2016-02-15 18:39] SzAmmi commented on #380
@DrTheGoat You're right, they changed cords system.

[2016-02-15 18:43] DrTheGoat commented on #380
@SzAmmi Anyway, What are you going to do now? (as in continue with agar.io or do something different)

[2016-02-15 18:45] SzAmmi commented on #380
@DrTheGoat I'm gonna make the extension for agar.io without breaking the laws.

[2016-02-15 18:46] 5p1Ky commented on #380
@SzAmmi So you will do an extension with... Something like agarplus.io ?

[2016-02-15 18:55] 5p1Ky commented on #380
F**** cords system ! 0000 bots now ... :(

[2016-02-15 19:06] Sonicmaster13 commented on #380
Yep, agario just patched all bots. RIP BOTS I am working on a fix with Razor and some more friends......

[2016-02-15 19:10] SzAmmi commented on #380
@Kp1Ky The extension will have all features as old Agar.io Powerups.
@Kp1Ky I agree with the your opinion about coords system.
@Sonicmaster13 I'm going to break it.

[2016-02-15 19:19] DaAwesomeRazor commented on #380
@SzAmmi  Did you do some sort of forumla to calculate it?

[2016-02-15 19:39] PrimeBagel commented on #380
You're right, I was thinking https://github.com/warlock/multitor would work, but I guess not.

Sent from my iPhone

[2016-02-15 19:44] SzAmmi commented on #380
@DaAwesomeRazor For now - nope. But I guess it's very simple. I copied the coords and I'm going to figure it out now. If I will find the formula, I will share it with You :)

[2016-02-15 19:54] DaAwesomeRazor commented on #380
@SzAmmi Thanks :D

[2016-02-15 19:55] 5p1Ky commented on #380
Yes they just changed cooords... I am not programming at all but I think you just have to change some statistics ! ^^

@SzAmmi I want to tell you that your (old :'( ) extension was very helpful, and THANK YOU a lot for that !! ;) YOU and only YOU was the first to do free bots and they was awesome ! Not like other extension which are very laggy ... A very big thanks to you ! ;) :p

[2016-02-15 20:06] DaAwesomeRazor commented on #380
Ok I am pretty sure the map size is still 7071.067811865476. SO i went bottom right and I subtracted my current x to what the x is supposed to be to find a diffrence. It seeme random and the offset is diffrent everytime

[2016-02-15 20:26] davidmann4 commented on #380
same as ogar scramble so this will work: https://github.com/davidmann4/agario-feeder-bot/issues/172

[2016-02-15 21:08] DaAwesomeRazor commented on #380
@davidmann4 not working

[2016-02-15 21:11] DaAwesomeRazor commented on #380
@davidmann4 NVM MAN YOUR A GOD!

[2016-02-15 21:19] q3wzeck commented on #380
@DaAwesomeRazor did you fixed coords for bots?

[2016-02-15 21:29] 5p1Ky commented on #380
Can anyone tell me the name of the text font which is used in Agar.io ?

[2016-02-15 21:33] SzAmmi commented on #380
@5p1Ky Ubutnu

[2016-02-15 21:50] RagaReporter commented on #380
Mr. Marczak, it's a once in a lifetime experience receiving a sue letter from MINICLIP themselves. Not everybody gets to experience that ;)

[2016-02-15 21:53] SzAmmi commented on #380
@RagaReporter I know, but I'm not happy.

[2016-02-15 21:53] Sonicmaster13 commented on #380
@q3wzeck it is a bit broken, but almost....

[2016-02-15 21:54] RagaReporter commented on #380
I understand! What ran through your mind when you first got the letter?

[2016-02-15 22:04] SzAmmi commented on #380
@RagaReporter "Probably the extension will never appear". "Why? Another services uses screenshots too, and name "AGAR" too, for example agarhelper.com . Why me?"

[2016-02-15 22:15] Sonicmaster13 commented on #380
We still need a fix for X and Y... Miniclip might win this war...

[2016-02-15 22:16] thisismo commented on #380
It was like really fun to team and play with bots. Even more if you programmed the bots yourself. But I think the new update is a good thing, so agar.io gets skill based again. Players with bots had a big advantages against players without bots. Also the lags are fixed which made agar.io unplayable sometimes.

[2016-02-15 22:17] thisismo commented on #380
Maybe they said their website is called Agarh Elper xd

[2016-02-15 22:25] issy123 commented on #380
@SzAmmi name it mitosis powerups :P they cant put copyrights on a word. But on the otherhand candy crush made an copyright on the word 'candy' wtf
"King’s filing was approved and today there are reports that developers are receiving emails from Apple if their games contain the word “candy” in the title"

What do you mean by private bots? Bots that runs on private servers?
The coords are scrambled

[2016-02-15 22:38] KrissV2 commented on #380
@SzAmmi dlaczego Ty ? bo złamałeś prawa autorskie, nazwałeś swój produkt Agar.io Powerups ... gdzie człon Twojego programu Agar.io jest zastrzeżony... agarhelper.com jest to ciągła nazwa (jedno słowo) a to już zupełnie coś innego.

[2016-02-15 22:41] RagaReporter commented on #380
@KrissV2  To ma sens, tak.

But how are you so sure AgarHelper doesn't include? It contains "agar". Also you modify main_out.js, no?

[2016-02-15 22:55] issy123 commented on #380
@RagaReporter if someone claimed "mother" you can still use grandmother, housemother, motherboard etc.

I think he means that
(I used google translate to find out what he said)

And about modifying you are right.

But agario powerups has many users 400k or something like that or way less but lets asume 400K than it affects agario huge, 400K * 4(now 2) bots 1600K bots XD

I would not complain about

[2016-02-15 23:04] RagaReporter commented on #380
issy123 I think you are right.

Btw, who is up to start a fundraiser for Szymon? He did something free for the community and risked his own safety for the people. I think the people should somehow pay back a bit. Who is with me?

[2016-02-15 23:08] RagaReporter commented on #380
Szymon you have 2 days to get fundraising on agariopowerups!  Yolo , take it to the limit! Risk dat siz. Just don't make a mistake with the timezones xD (19th feb)

[2016-02-16 07:26] SzAmmi commented on #380
@KrissV2 I'm writing in English, because I want to anyone can understand this. Read this document: https://scribd.com/doc/299337953/2016-02-05-Letter-and-Enclosures-to-Marczak?secret_password=4rlds3Tah7MIaJEm0vs4 . It isn't about using "AGAR", "AGAR.IO" in one name or more. If You will use similar name - they can make legal action against You.  You modified their code too - You stole it by this do

[2016-02-16 07:36] SzAmmi commented on #380
@KrissV2 I stress that You copied my extension too. I know it better than You. Please make own extension - You can't just copy my extension and modify it - You broke the laws. The extension has copyrights. And now I can make legal action against You - but I'm not here to do it. In Polish: Podkreślam, że skopiowałeś mój dodatek - znam go lepiej niż Ty. Zrób swój własny dodatek - nie możesz skopiowa

[2016-02-16 08:09] davidmann4 commented on #380
@DaAwesomeRazor glad you like my mathematics - if you have a working patch for Ogar please shar eit on my repo

[2016-02-16 10:58] issy123 commented on #380
@SzAmmi my calculations are assumptions.
But do you understand my theory? I rather stop people who distribute bots to a large amount of community then private users.

You dont have usage statistics of who uses your bots but you could be right but when there were 4fb bots for example everyone used it. And its about the theory btw

And how do you know there are 300+- servers? Yes its true that there

[2016-02-16 11:22] SzAmmi commented on #380
@issy123 Yes, I understand. Here You have all infos about the servers: http://m.agar.io/fullInfo Now it's 475 servers available.

[2016-02-16 11:26] issy123 commented on #380
@SzAmmi you are awesome!

Where did you get this link from? I did not found this in the source code

[2016-02-16 11:28] SzAmmi commented on #380
@issy123 https://www.google.com/search?q=site:agar.io&espv=2&biw=1920&bih=955&ei=3gfDVpeuOsK7swGfwruACA&start=0&sa=N&gws_rd=cr

[2016-02-16 11:33] SzAmmi commented on #380
LOL http://ip-45-118-135-86.tech.agar.io/ http://ip-45-118-135-86.tech.agar.io/proberv.php http://ip-45-118-135-86.tech.agar.io/phpinfo.php

[2016-02-16 11:37] DrTheGoat commented on #380
@SzAmmi #inb4 sued again

[2016-02-16 12:12] SzAmmi commented on #380
@DrTheGoat What did You mean?

[2016-02-16 12:18] SzAmmi commented on #380
@KrissV2 I see there are 2 words, not 1 word. http://agarhelper.com/ http://agarhelper.com/storage/img/ahelperlogobig_white.png I see "AGAR [new line]HELPER"

[2016-02-16 12:34] DrTheGoat commented on #380
@SzAmmi Agars not just going to watch you leak there servers

[2016-02-16 13:35] issy123 commented on #380
@DrTheGoat
1st its google leaking it
2nd they are not telling google to not index those url's, so kinda their fault.
And 3rd, the only way google could get there is by developers using google chrome to browse to those links or someone published it on their site that google crawler indexed.

[2016-02-16 14:23] SzAmmi commented on #380
@issy123 Thanks :)

[2016-02-16 16:58] DaAwesomeRazor commented on #380
@SzAmmi What does http://ip-45-118-135-86.tech.agar.io/ do?
@DrTheGoat  All he is doing is pissing of miniclip. He cant get in trouble for that.

[2016-02-16 17:29] DrTheGoat commented on #380
@DaAwesomeRazor If you knew how to use it, can be serious

[2016-02-16 18:17] davidmann4 commented on #380
https://github.com/davidmann4/ogar-feeder-bot now supports coordinate scrambling

[2016-02-16 18:47] BlazePixel commented on #380
@SzAmmi i have a copy of both the regular and the beta version of agariopowerups. the regular version does not work anymore, it just gives agario a white screen. On friday, i was using the beta version and the minimap and the borders were working but then on saturday, the minimap and the borders went beserk and did not work, this is because of the new coordinate scramling right?
I dont know if its

[2016-02-16 18:48] BlazePixel commented on #380
If anyone wants a copy of either of the extensions i can ask SzAmmi if i can give it to you.

[2016-02-16 18:51] BlazePixel commented on #380
man, miniclip is sure trying to ruin our fun...

[2016-02-16 19:09] SzAmmi commented on #380
@DaAwesomeRazor It's system monitor.
@BlazePixel You're right; "If anyone wants a copy of either of the extensions i can ask SzAmmi if i can give it to you." Feel free :)
@BlazePixel Yeah, Miniclip disabled all feeder bots...

[2016-02-16 19:48] issy123 commented on #380
@SzAmmi Do you have unminified version?

[2016-02-16 20:11] PrimeBagel commented on #380
http://jsbeautifier.org

Sent from my iPhone

[2016-02-16 20:12] PrimeBagel commented on #380
I have a script that removes values from arrays and puts them in the regular code if you want that too

Sent from my iPhone

[2016-02-16 20:14] PrimeBagel commented on #380
Use this to replace the hex values if there are any http://ddecode.com/hexdecoder/

Sent from my iPhone

[2016-02-16 21:02] MarkDsonYT commented on #380
https://www.facebook.com/ragahelp/

WHAAAAAT?????

[2016-02-16 21:39] BlazePixel commented on #380
@SzAmmi thx bro

[2016-02-16 21:47] BlazePixel commented on #380
@SzAmmi the regular extension doesent work after the update, it just gives me a white screen, what should i do?

[2016-02-16 23:14] issy123 commented on #380
@PrimeBagel
Can you send the script that replaces array variable with its value?

And wouldnt that break the code if the array gets modified each time

[2016-02-17 00:47] RagaReporter commented on #380
Do you really think Raga would publicly share if they had insider information? It's just to cause some interest and PR :)

Sz, I advise you to stay off the grid, atleast for a while now. "Feel free :) to @BlazePixel by Sz" <- you should delete this.

All in all Miniclip did give you an offer, and they had a chance to not, and simply go full in for the suing. Unless you're a fully educated law-stud

[2016-02-17 00:59] DaAwesomeRazor commented on #380
I say we make a private chat with all the coders. Aparantley HKG Plus has borders and stuff fixes

[2016-02-17 01:10] issy123 commented on #380
@DaAwesomeRazor no hate but with all the coders you mean samgamesyt too? XD

[2016-02-17 02:03] PrimeBagel commented on #380
@issy123 Send me an email: primebagel@gmail.com

On Tue, Feb 16, 2016 at 5:15 PM, issy123 <notifications@github.com> wrote:

[2016-02-17 02:29] MasonBurdette commented on #380
@DaAwesomeRazor add me in.  we need to take this problem as a whole agar dev community.

[2016-02-17 02:51] BlazePixel commented on #380
@DaAwesomeRazor same i want in

[2016-02-17 02:54] BlazePixel commented on #380
@issy123 i think that they meant that miniclip gave them a challenge and that they have overcome it

[2016-02-17 04:19] PhoenixVortex opened #543 "Bot isn't working"
I've tried reinstalling tampermonkey, reinstalling the scripts but whenever I go into agario and play, the bot just won't work.

[2016-02-17 07:09] auxo-git commented on #380
HKG is not fixed

[2016-02-17 09:23] SzAmmi commented on #380
@RagaReporter Edited.

@MarkDsonYT They wrote it specially. Agar.io didn't give them any tips, any alghoritms. "But fortunately we have calculated complex arithmetic tasks, that were "given" to us by agario developers. " Please notice, they wrote _given_ in quotation marks. So Agar.io didn't give it to Raga. They probably found some leak, or found something interesting in the client code.

[2016-02-17 09:25] SzAmmi commented on #380
And if it's server side, I don't know why the extension for Chrome (Raga Minions) doesn't work. Works only the program. So: **it's client side**.

[2016-02-17 11:39] RagaReporter commented on #380
@Szammi, Removed.

Which chat should we use? IRC?
Perhaps they would pay for insider information by one of us (the coders). Oh well, better than here. Who will take the responsibility to create a secure IRC?

[2016-02-17 12:09] MasonBurdette commented on #380
@RagaReporter that sounds good. Currently I'm at school, so I can't make the IRC, but I might be able to later.

[2016-02-17 12:22] thisismo commented on #380
can I get in aswell? :)

[2016-02-17 12:54] DaAwesomeRazor commented on #380
Hi guys, Sam from Miniclip here. Sorry for not posting until now, but we've been lurking the whole time and we're seeing everything you guys are suggesting. Anyway: a quick update to keep you all in the loop with what's going on with Agar.io.

We're working diligently on removing bots and fixing lag. I'm sure most of you are aware that we released one fix for the bots a few weeks ago, and we've go

[2016-02-17 13:05] MasonBurdette commented on #380
@DaAwesomeRazor link to post?

[2016-02-17 13:08] issy123 commented on #380
@DaAwesomeRazor next time link to the post it sounds like u write it
@MasonBurdette
https://www.reddit.com/r/Agario/comments/4527yz/update_from_the_agario_team_hello/

[2016-02-17 13:13] issy123 commented on #380
How could we verify eachother for chat?

I think we should make a skype group to get all ofu on skype. It will be sure that othere join too. But each one of you should share screen with me and show that they legitimately login to their github account and must proof it with a post on an issue i send with the text i want. After that remove the skype group and make an new one with all the verified us

[2016-02-17 13:39] DrTheGoat commented on #380
I have a solution, Its in development.

[2016-02-17 13:43] MasonBurdette commented on #380
@DrTheGoat great, if you find anything important be sure to share it!

[2016-02-17 13:46] DrTheGoat commented on #380
@MasonBurdette I have found some important stuff but I'm not planning to share it here

[2016-02-17 13:51] MasonBurdette commented on #380
@DrTheGoat skype?

[2016-02-17 13:53] DrTheGoat commented on #380
@MasonBurdette Post yours

[2016-02-17 13:55] MasonBurdette commented on #380
@DrTheGoat just search masonburdette@outlook.com in skype.  I prob won't instantly respond since I'm at school.

[2016-02-17 17:35] SzAmmi commented on #380
I'm giving up with the feeders bot and figuring out the scramble system.
Yesterday agar.io was updated. And today agar.io was updated... And again I have to update my extension...

Agar.io now offers Free coins on the last update. Let's figure it out! :D

But I have an idea how raga.pw find us. Soon I will post a picture.

[2016-02-17 17:45] issy123 commented on #380
How raga.pw find us??

Btw that update was hold back because of the bots i think. Now its mostly patched (not for long ofcourse) they are bringing out new updates. Its just a wave that hits us, but the wave is over now for a long while again we can continue support their new version and work on bots.

[2016-02-17 17:46] SzAmmi commented on #380
@issy123 Read text below.

I think that raga.pw works like this:
![How works raga.pw](https://cloud.githubusercontent.com/assets/9989553/13118842/6db8bcc8-d5a6-11e5-8334-852d249e6d74.png)

But there is another question too: there can be 4 bots that are spectating the server and it tells to the feeder bots in what way the bots must go to meet us.

[2016-02-17 17:47] SzAmmi commented on #380
So if it's X < 0 and Y < 0 - it's left top part of the bot's map.

[2016-02-17 18:16] issy123 commented on #380
@SzAmmi Your calculations are incorrect. I will explain more as soon as we have an private chat, will create an skype group soon

[2016-02-17 18:37] SzAmmi commented on #380
@issy123 I think You're wrong. I made 60 tries and the seed is NOT larger than 3000 or less than -3000.

[2016-02-17 18:55] issy123 commented on #380
All coders, join this skype group:
https://join.skype.com/mY6R2zUzGvXE

I will verify each one of u as explained before

[2016-02-17 19:24] sameswitch commented on #380
I've been checking into this post for the past month. It's about time I talk though :]. I'm not familiarized with coding as much as I'd like to take part in it, but I'd have to study. However, what I do know is that agar.io had an update today to obtain free coins through various offers. I used to exploit offers meaning being able to not have to pay for anything when it comes to a high offer in or

[2016-02-17 20:30] DaAwesomeRazor commented on #380
I joined the chat as santa man

[2016-02-17 21:26] BlazePixel commented on #380
@SzAmmi Man, with that new update,(the most recent one,) the extension is fucked up

[2016-02-17 21:30] BlazePixel commented on #380
guys email me at esarclan@gmail.com with ur skype names and i can create the chat

[2016-02-17 21:41] Drflash55 commented on #543
Did you grab both bot.user.js, and launcher.user.js?

Those are required for AposBot to run properly.

[2016-02-17 21:43] issy123 commented on #380
@BlazePixel https://join.skype.com/mY6R2zUzGvXE

[2016-02-17 21:52] issy123 commented on #380
They fix bots, and make another problem.
Real (Search & replace) developers without knowing the code

[2016-02-17 22:08] thisismo commented on #380
I'm coookie xd

[2016-02-17 22:38] yairnet commented on #380
David's project
Latest situation
View:
https://www.youtube.com/watch?v=nIWBwQ9cyEk

[2016-02-17 22:41] MarkDsonYT commented on #380
It got fixed, they just added videos. There is this segment starting from line 34827 in a .js file:
`      if (1 == a.emitterType) this.angle += this.angleDelta * b, this.radius += this.radiusDelta * b, this.position.x = this.startPos.x - Math.cos(this.angle) * this.radius, this.position.y = this.startPos.y - Math.sin(this.angle) * this.radius * a.yCoordMultiplier;
            else {

[2016-02-17 22:52] yairnet commented on #380
RAGA facebook:
We have returned mouse control.
Mouse control is working great, but not as much as before.
Now you can operate only in the zone of visibility.
As you can see here:

https://embed.gyazo.com/8bc5cc3e61c6c2366187a42dbc636442.png
![8bc5cc3e61c6c2366187a42dbc636442 1](https://cloud.githubusercontent.com/assets/2390353/13127741/cbc4ae48-d5d9-11e5-8753-94ece2492374.png)

[2016-02-17 22:58] KrissV2 commented on #380
joined

[2016-02-18 00:31] PhoenixVortex commented on #543
Yes I did.

On Thu, Feb 18, 2016 at 10:41 AM, Drflash55 <notifications@github.com>
wrote:

--
Epsilon Phoenix
LunarCore formerly SyrusCore DS
Co-Host
SE 24/7 LunarCore Decayed Long Term Server
Staff Member
Forum Administrator

[2016-02-18 07:44] SzAmmi commented on #380
@yairnet I saw it too. They calculate the offset (your mouse position from your center cell) and adds it to Your position. So it's how it's done.

But they have only Your position, they haven't your min_x or something like this, so: it's server side.

[2016-02-18 12:39] Drflash55 commented on #543
Huh, whenever I go to play with the bot, it functions just fine, but the phantom blobs are the real problem I'm still having.

@Apostolique has been aware of this issue about 4 months prior, but either he hasn't found out a way to fix it, or he just simply stopped working on this project.

[2016-02-18 12:42] Drflash55 commented on #495
This issue has not been resolved within a month/active within a month. Issue is now closed.

[2016-02-18 12:43] #495 closed

[2016-02-18 12:45] Drflash55 commented on #520
@MarkDsonYT >You can play with your friend on the same server with a **minimap** to show your friend's location.

As of a recent update, the minimap is now broken.

Acydwarp is not willing to fix it, for if he did, it'd give a chance for the bots to come back...

[2016-02-18 12:54] bhawin commented on #543
yes , its not working for me as well

[2016-02-18 17:47] 5p1Ky commented on #380
Yes the chat is better here !

[2016-02-18 20:17] PhoenixVortex commented on #543
I think its a compatibility issue.

On Fri, Feb 19, 2016 at 1:55 AM, bhawin <notifications@github.com> wrote:

--
Epsilon Phoenix
LunarCore formerly SyrusCore DS
Co-Host
SE 24/7 LunarCore Decayed Long Term Server
Staff Member
Forum Administrator

[2016-02-19 01:25] RagaReporter commented on #380
I will not join ANY skype group chat. That is worse than here.

We need someone trusted from this group that can create a quality IRC channel / host a chat - with no logs. For security purpsoes i'd see us using TOR, similar. Each one will also have to verify his identity, EG registering a user on the IRC and then posting his IRC name here.

There will also have to be agreement rules & TOS for join

[2016-02-19 02:02] PrimeBagel commented on #380
discordapp.com is pretty good, you can set roles and make people unable to see chat history unless we verify who they are, and ban, etc.

Sent from my iPhone

[2016-02-19 02:19] issy123 commented on #380
@RagaReporter
I dont think David nor MasonBurdette (maybe nor Szymon too) will and can keep it personal & secret

David is all about open-source and Mason maybe too

I want it to be as secret and closed as possible

[2016-02-19 02:21] DaAwesomeRazor commented on #380
I can host I chat. I would not share anything, and If i did i wouold obfuscate it

[2016-02-19 02:28] issy123 commented on #380
@DaAwesomeRazor Maybe @RagaReporter has an better idea in terms of hosting an IRC

[2016-02-19 02:48] RagaReporter commented on #380
I guess we can let some users have special priviliges according to their position and contribution, naturally, ofcourse. I'm sure we can work something out to fit all parties, including David and Sz's scheme/plan. The main and most important thing is to be able to discuss privately.

[2016-02-19 02:59] DaAwesomeRazor commented on #380
Yep, I think you should make it then.. I will post the link in the current chat we have set up

[2016-02-19 15:46] MasonBurdette commented on #380
@issy123 @DaAwesomeRazor @RagaReporter if you guys want it to be private, I can respect that.

[2016-02-19 19:48] DJKOLBY commented on #543
it is a compatibility issue i got mine to work

[2016-02-19 19:50] DJKOLBY commented on #543
[Agar.io-bot-master.zip](https://github.com/Apostolique/Agar.io-bot/files/138598/Agar.io-bot-master.zip)

[2016-02-19 19:51] DJKOLBY commented on #543
[tmScripts (2).zip](https://github.com/Apostolique/Agar.io-bot/files/138605/tmScripts.2.zip)

[2016-02-19 19:51] DJKOLBY commented on #543
this should work

[2016-02-20 01:17] MarkDsonYT commented on #380
I'm sure DrFlash knows of this, but someone modified agarplus.io extension with a working minimap. Would that be helpful to use?

[2016-02-20 12:58] DanielLewis97NL commented on #380
@MarkDsonYT here's the actual obfuscated code: http://pastebin.com/raw/qipGvxqW

[2016-02-20 14:32] WJKH commented on #380
@MarkDsonYT no, the fixed agarplus.io minimap need you reach the corner then you get working map.

[2016-02-20 22:39] andreas0607 opened #544 "Compatibility with other sites?"
Is it possible to make the bot react with other sites such as "Csgocytosis.com"?
I tried putting it into tampermonkey and setting it to interract with the site aswell. but nothing happened.
Pls help=)

[2016-02-20 23:11] PhoenixVortex commented on #543
It still does not work... :(

On Sat, Feb 20, 2016 at 8:52 AM, DJKOLBY <notifications@github.com> wrote:

--
Epsilon Phoenix
LunarCore formerly SyrusCore DS
Co-Host
SE 24/7 LunarCore Decayed Long Term Server
Staff Member
Forum Administrator

[2016-02-21 00:28] zoowapp commented on #380
@WJKH works for me as soon as i installled it

[2016-02-21 05:50] Sonicmaster13 commented on #380
@@MarkDsonYT A can try to deobfuscate....

[2016-02-21 05:51] Sonicmaster13 commented on #380
@DanielLewis97NL Got part of it, to do it completely would take a long time!

[2016-02-21 10:51] Salsabila286 opened #545 "BOTS isn't working"
why the bots isn't working eventough i using wifi. anyone can help me?

[2016-02-21 10:58] DrTheGoat commented on #380
@DanielLewis97NL Heres the code a bit more read'able http://pastebin.com/7EhewRDz

[2016-02-21 13:14] issy123 commented on #380
@DrTheGoat @DanielLewis97NL  Even more readable http://pastebin.com/AGQfbFkQ
Only issue is human-readble variable names

[2016-02-21 16:01] Drflash55 commented on #545
There has been a similar issue to this.
Redirecting you to it.

#543.

[2016-02-21 16:01] #545 closed

[2016-02-21 16:02] Drflash55 commented on #544
@andreas0607 @Apostolique has not made any changes on this in over 4 months...

Most likely this will not happen until the Phantom Blobs bug has been fixed.

[2016-02-21 16:02] #544 closed

[2016-02-21 16:09] #474 closed

[2016-02-21 16:12] #470 closed

[2016-02-21 16:13] Drflash55 commented on #470
Use #452 for discussions on this bug.

[2016-02-21 16:16] #450 closed

[2016-02-21 16:16] Drflash55 commented on #450
This is an invalid issue...

[2016-02-21 16:17] #443 closed

[2016-02-21 16:17] #439 closed

[2016-02-21 16:18] #458 closed

[2016-02-21 16:20] Drflash55 commented on #445
This issue has an unsolved problem, and the problem was never explained properly...
Closed.

[2016-02-21 16:20] #445 closed

[2016-02-21 16:21] Drflash55 commented on #429
Don't know if the problem was solved or not...
Closing just in case...

[2016-02-21 16:21] #429 closed

[2016-02-21 17:42] MarkDsonYT commented on #380
DO any of you guys know how to "play/click" an object video using jquery? I searched online but I couldn't find what I was looking for. Tryna' make a coin farmer.

[2016-02-22 04:56] Error4013 opened #546 "Main Menu Background in while playing?"
When i press play the agario background of the main menu is there and the playing screen only flashes... I cant even play it, and tried reinstalling everything (but actual tampermonkey) and tried reloading. Help please!??!

[2016-02-22 09:11] lancedikson commented on #543
yep, it's not working for me as well

[2016-02-22 12:36] Drflash55 commented on #546
Seems to be a problem that everyone is having right now...

Redirecting this issue to #543.

[2016-02-22 12:36] #546 closed

[2016-02-22 17:44] DaAwesomeRazor commented on #380
I'm pretty sure the minimap only works in the corners

[2016-02-23 17:49] DanielLewis97NL commented on #380
Raga PW has restored their bots to 100% efficiency. Now the bots go directly to you.

[2016-02-23 18:04] DanielLewis97NL commented on #380
This is their main code: http://pastebin.com/raw/wiUTa8Tj

It's pretty easy to find, im not spoon feeding anyone.

[2016-02-23 22:56] klvs commented on #380
Thank you @DanielLewis97NL

[2016-02-23 23:12] q3wzeck commented on #380
@DanielLewis97NL latest raga fix is a server-side. extension sends:
myBloobs: {ball_id, offsetByX, offsetByY}
myBloobs is array of your balls and offsets = mouse offset from each ball.

nothing new here. it can help to use mouse control inside bot visible area, but dont helps to fix all bots on the map.

[2016-02-23 23:17] DanielLewis97NL commented on #380
@q3wzeck

facepalm. You obviously didn't look hard enough.

[2016-02-24 00:47] q3wzeck commented on #380
@DanielLewis97NL omg. i asked for help? i just explained interest part of raga extension code. and i know what i say, trust me.

[2016-02-24 01:34] tsteinholz commented on #522
doesn't fix it

[2016-02-24 01:38] tsteinholz commented on #479
@sk1v3 What are you saying? You need to have them both but the launcher causes the problem?

[2016-02-24 02:40] PFCKrutonium commented on #452
I too would like to see some progress.

[2016-02-24 03:58] DanielLewis97NL commented on #380
@q3wzeck

you're so fucking stupid, literally. You say "nothing new here", not true.Fucking retard

[2016-02-24 14:57] DaAwesomeRazor commented on #380
Ok Guys I figured out how to calculate the offset. Im almost done my bot fix :D

[2016-02-24 16:31] yairnet commented on #380
Someone planning to publish the solution ?

[2016-02-24 16:38] mayed505 commented on #380
@DaAwesomeRazor will you share it with me when your done? ill give u 550 bots for 15 days from my website:  https://slightbyte.com

[2016-02-24 21:36] IlikeToPlayGames opened #547 "Agar.io like games"
I have using this for school and agar.io has been blocked. I found eat2paly.com and all i would like is a way to be able to do it on that.

[2016-02-25 04:38] boomboompower commented on #522
@wertercatt @tsteinholz That happens to me when I start the game before the bot is fully loaded, try reloading the page, waiting for a few secs (Like 10 secs) then try pressing play.

[2016-02-25 14:48] DaAwesomeRazor commented on #380
I will release my bots for free however I am not planning on sharing the formula

[2016-02-25 15:22] mayed505 commented on #380
@DaAwesomeRazor why not?

[2016-02-25 15:30] Drflash55 commented on #547
This does not relate to the bot for Agar.io, as this is just a firewall issue your school has set up...

Try it at home instead, or you can request the school board administrators to unblock incoming port connections from, Agar.io, which is unlikely that will happen.

Other than that, not much else you can do, unless you used an online VPN site, which in most cases, schools have those blocked off.

[2016-02-25 15:46] Drflash55 commented on #311
He had never considered this, even though he self-assigned this...

Best to assume that he forgot and will never work on this bot...

[2016-02-25 15:46] #311 closed

[2016-02-25 15:51] the-casle commented on #311
Ok

[2016-02-25 16:09] DaAwesomeRazor commented on #380
I don't want it to get patched

[2016-02-25 16:59] PrimeBagel commented on #380
Mayed, you have your own bot service that may or may not exist. You depend on him for the code, not the other way around. He can make his own bot service if he wants.

Sent from my iPhone

[2016-02-25 17:33] mayed505 commented on #380
@PrimeBagel  i do have real service but i would like for mouse

[2016-02-25 17:41] PrimeBagel commented on #380
Lol reminds me of samgames

Sent from my iPhone

[2016-02-25 18:04] DrTheGoat commented on #380
@PrimeBagel Maybe it is sam

[2016-02-25 18:09] MasonBurdette commented on #380
@mayed505 if you don't code it yourself, you don't learn anything..

[2016-02-25 20:29] DaAwesomeRazor commented on #380
First of all, mson don't be a hypocrite. Second I own rsgartoolz an have my own bots.I orked hard to get the formula and do not want to share how I did it. I don't want bots to be patched again

[2016-02-25 20:33] issy123 commented on #380
@DaAwesomeRazor Mason is saying that @mayed505  needs to code the bots himself and not ask you for the code, then you dont learn anything if @mayed505 just copies your code.

[2016-02-25 21:22] MasonBurdette commented on #380
@DaAwesomeRazor dude u literally told me that, and i listened.  im working on a solution too.

[2016-02-26 08:39] AmazingGamerBoy commented on #380
pls private share the code though please if u can

[2016-02-26 12:10] thisismo commented on #380
The patch is pretty easy to bypass. There are several methods, just be creative.

[2016-02-26 14:18] jhagrid77 commented on #543
This is my problem:
1.) I go to agar.io
2.) The bot loads for a few seconds (I let it wait). OR I immediately click play.
3.) The bot disappears.

[2016-02-26 14:24] FlexibleSwift commented on #380
If someone knows how to bypass patch, contact me on skype

Skype: mirtre3

On Fri, Feb 26, 2016 at 1:11 PM, thisismo <notifications@github.com> wrote:

[2016-02-26 16:41] jhagrid77 commented on #460
@davidmann4 Can that be done on Linux? or just Windows?

[2016-02-26 18:56] davidmann4 commented on #460
both check my repo

[2016-02-26 19:00] jhagrid77 commented on #460
I was just wondering if it was the same instructions, looks like it.

On Fri, Feb 26, 2016 at 1:57 PM, David Mann <notifications@github.com>
wrote:

[2016-02-27 01:52] AmazingGamerBoy commented on #380
@thisismo have you found a working method like raga?

[2016-02-27 04:18] AmazingGamerBoy commented on #380
Guys happy days! update was unpatched (i think)! agarplus.io works

[2016-02-27 04:25] AmazingGamerBoy commented on #380
nvm u need to get to the corner

[2016-02-27 21:58] yairnet commented on #380
![222](https://cloud.githubusercontent.com/assets/2390353/13375645/01da0df8-ddae-11e5-92f4-b48123085cc2.jpg)

[2016-02-27 21:59] picusc commented on #380
If the patch is so easy to bypass, why hasn't raga fixed it yet?

[2016-02-27 22:11] thisismo commented on #380
i wrote my comment before the last fix. the last fix messed up everything

[2016-02-27 22:40] picusc commented on #380
So, is there any hope? Raga has been working on a fix since last 24 hours but still no response.

[2016-02-28 12:48] SnakezXGaming opened #548 "HELP AGAR.IO NOT WORKING"
It says update to launcher.user.js

[2016-02-29 00:23] PhoenixVortex commented on #543
@Apostolique is aware of this problem, I think he abandoned the project and
won't do any bug fixing, agar.io has been updated and the bot is rendered
incompatible with some user's systems.

On Sat, Feb 27, 2016 at 3:18 AM, jhagrid77 <notifications@github.com> wrote:

--
Epsilon Phoenix
LunarCore formerly SyrusCore DS
Co-Host
SE 24/7 LunarCore Decayed Long Term Server
Staff Member
Forum Administrat

[2016-02-29 08:03] EbolaStran opened #549 "Agario Bot Problem"
Hellow Whenever I try to use this bot either it is glitchy and just laggy or The main menu keeps on popping up in the middle of the screen also When i click play I just see a transparent light gray over the agario game but no on is moving and all the menu options and stuff dissapear after i press play so yes very glitchy if you could fix these and make it less glitchy that would be nice also the l

[2016-02-29 12:51] Drflash55 commented on #549
@Apostolique has kinda abandoned this project, so as of this moment, he won't be adding any fixes to this...

Any bugs you run into will remain there until someone takes over this...

[2016-02-29 12:51] #549 closed

[2016-02-29 12:51] Drflash55 commented on #548
@Apostolique has kinda abandoned this project, so as of this moment, he won't be adding any fixes to this...

Any bugs you run into will remain there until someone takes over this...

[2016-02-29 12:51] #548 closed

[2016-02-29 15:00] picusc commented on #380
Update: Raga.pw working again in Party mode.

[2016-02-29 17:35] AmorimDrain opened #550 "os bots não nascem"

[2016-02-29 19:22] EbolaStran opened #551 "Agario Bot Problems"
Hello I am sure you know about some of these problems but I have a list of them. The first problem is the main menu always keeps popping up every 2 seconds for me and it is pretty annoying that you have to keep pressing play. Another issue is the game freezing I know you think that it just may be agario but I turned off the mod and the issue stopped. Another issue is sometimes in the middle of a g

[2016-03-01 12:48] Drflash55 commented on #550
I'm not able to understand your language...

[2016-03-01 12:50] Drflash55 commented on #551
Please refer to your own issue for the answer to this problem...
#549

[2016-03-01 12:50] #551 closed

[2016-03-02 23:27] 5p1Ky commented on #380
Is this conversation dead ?

[2016-03-02 23:42] issy123 commented on #380
No, why?

[2016-03-03 02:33] issy123 commented on #380
@yairnet what is that picture about?

[2016-03-03 03:16] DaAwesomeRazor commented on #380
Update: agarplus.io works now.

Update: spectate bots almost finished

[2016-03-03 05:11] Andrews54757 commented on #460
Well, i created a private server code that has a ability to spawn feeder bots without a client side extention at https://github.com/AJS-development/Ogar-unlimited/tree/master/src

[2016-03-03 13:03] MasonBurdette commented on #380
Update: Making a system to automate Agar.io tournaments.

[2016-03-03 19:56] iwanek36392 opened #552 "lol"
mv

[2016-03-03 19:57] #552 closed

[2016-03-05 15:39] 5p1Ky commented on #380
Can anyone tell me how I can do a little js file which save your agar.io name please ?

[2016-03-05 16:00] MasonBurdette commented on #380
@5p1Ky use local storage

[2016-03-05 17:26] zoowapp commented on #380
@DaAwesomeRazor  I am pretty sure they scrambled spectate coords

[2016-03-08 17:18] philw1508 commented on #380
Dang it! there was a new agario update today and now my bots aren't moving with ogar feeder bot edited :(  Can someone help me please?☺

[2016-03-09 21:52] Sonicmaster13 commented on #380
@philw1508 Update Agar Expose, or use this extension in place of yours: http://pastebin.com/raw/KBmDK4aF
(Mod the server ip it is pointing to as you need to)

[2016-03-10 16:38] philw1508 commented on #380
Thanks i will try it

[2016-03-10 16:38] philw1508 commented on #380
Thanks i will try it

[2016-03-10 17:28] philw1508 commented on #380
does it work with normal ogar bot? with mine its not working :(