[2016-03-11 10:34] Eisphoenix commented on #550
He says that the bots don't appear. I think he is is misunderstanding this script.

@AmorimDrain Este script nao é para fazer bots, isto so automatisa o teu jogo. :smile:

**In English:** This script is for controll automatic your browsergame, not for spawning bots to feed you.

[2016-03-11 10:35] Eisphoenix commented on #540
Maybe your firewall is blocking the connection, try to use a proxy/vpn.

[2016-03-12 00:50] Drflash55 commented on #550
Now that I understand what he's asking, I can close this, as it's an invalid issue...

[2016-03-12 00:50] #550 closed

[2016-03-12 17:04] camilleeyries commented on #380
I work on a script that gain xp for you...
Free feel to contribute : https://github.com/camilleeyries/AGAR-XPBOT

[2016-03-12 23:37] MarkDsonYT commented on #380
how about a script that gains coins for you instead? I kinda made one but it uses an auto clicker program so it isn't really a script, but a method.

[2016-03-13 09:19] The0nlyGamer commented on #522
Try disabling AposLuancher, worked for me.

[2016-03-13 10:46] camilleeyries commented on #380
That can be really cool, but I don't know how free coin work... But when you gain a level, you gain 50 coins too...

[2016-03-13 14:46] MasonBurdette commented on #380
http://youtu.be/x-ahw-dBdTk
finally fixed bots and added FB!!

[2016-03-13 17:39] JAIRUS7 opened #553 "wont show shit"

[2016-03-14 06:31] 5p1Ky commented on #380
Waw @MasonBurdette ! Your bots look very good ! :D How can I be a beta tester ? :)

[2016-03-14 09:58] boomboompower commented on #553
@JAIRUS7 Close this as it is not a (informative) report.

[2016-03-14 10:17] philw1508 commented on #380
Awesome Masen... I am learning javascript atm ☺

[2016-03-14 13:24] seawping opened #554 "I CANT PLAY"
really need help

[2016-03-16 20:29] Sigigamer opened #555 "Tourette"
If i try to play i get just these: http://prntscr.com/ag4tbk
I have Apos Launcher and Apos Bot installed. If i try to play the game just freeze the most times and the colors are randomly changing.
Do you know what is to do?

[2016-03-16 21:22] Sigigamer commented on #555
I just try to use the Apos Loader and now all works fine (y)

[2016-03-16 21:22] #555 closed

[2016-03-16 22:35] Drflash55 commented on #554
You need to describe your problem in order for me to help you...

[2016-03-16 22:35] #553 closed

[2016-03-17 01:22] modz42 opened #556 "bghghg"

[2016-03-18 16:28] Drflash55 commented on #556
This is not a valid issue...

[2016-03-18 16:28] #556 closed

[2016-03-18 18:27] haxer7t55356 opened #557 "BOT ISNT WORKING"
IM RUNNING WINDOWS 7V IT DOESNT WORK****

[2016-03-19 00:06] ZPERO opened #558 "Bot cannot connect to game"
Windows 8.1
Chrome Version 49.0.2623.87 m
AposLoader 1.3

Steps: I followed the steps on http://bot.jlynx.net/ as they were described on 3/18/2016.
These were:
Click "Chrome"
Removed "AgarioMods" (it's not working anyways...)
Installed tampermonkey
Tried the "manual method", and installed bot.user.js andlauncher.user.js under "manual" section. Did not connect to game.
Deleted scrips, and tried "lo

[2016-03-19 00:19] ZPERO commented on #547
If you have a smarphone, you can either play on that, or try and use it as a hotspot and connect to your hotspot.
When I was in high school, I used an online proxy to go on blocked sites, but no javascript would work, so it was not really that useful.

[2016-03-19 04:45] aldengamein opened #559 "NOT LOADING HELP!"
I NEED HELP PLEASE FIX THIS!

:( NOT WORKING ;-;

[2016-03-21 10:52] AmazingGamerBoy commented on #380
Anyone want to make a website for my bots and have a 50% share in business? Please contact me in 7 days max or else I'll just make it myself! Thanks guys anyways!

[2016-03-21 11:30] yourdoomer opened #560 "bot not working,give me a solution faaaaaaast!!!!!!!help wanted"
the bot is not working and i keep getting eaten!Give me a solution fast.

[2016-03-21 11:34] #560 closed

[2016-03-21 19:30] 5p1Ky commented on #380
@AmazingGamerBoy I can do a website for you, but before doing it, I want to test your bots like 1 hours to see what I am going to publish on the internet... If you are interested, please send me your skype at pub.indesirable31@gmail.com :)

[2016-03-22 13:55] PrimeBagel commented on #380
Hi guys! Long time no see! I made a chrome extension, it can be found here http://agarioinfinity.tk/ Please let me know what you think and give me suggestions for future updates.

Sent from my iPhone

[2016-03-22 15:16] MarkTheProgrammer commented on #380
@AmazingGamerBoy  i'm a full Developer Web . Contact me on skype i can develop a Panel Admin for sell and client Panel for use it :)

My skype : markwhitecrack

[2016-03-22 16:29] issy123 commented on #380
@MarkTheProgrammer Nice skype name lol

@PrimeBagel way to overwhelming with all the options

[2016-03-23 09:35] AmazingGamerBoy commented on #380
Im not paying off the bat. Easter is coming up, I'll talk more about it when it comes

[2016-03-23 09:41] MarkTheProgrammer commented on #380
@AmazingGamerBoy  when you want , contact me . I can develop it

[2016-03-23 09:43] xWistful commented on #559
I also have a problem where the screen will glitch and continently say connecting. The screen will flash and show the menu of the bot on the top left and flash back to a blank screen. please fix

[2016-03-23 09:44] AmazingGamerBoy commented on #380
K I will, but just out of curiosity, could u say what front and back end languages u know?

[2016-03-23 10:56] MasonBurdette commented on #380
im almost done with my boy selling service

[2016-03-23 13:05] MarkTheProgrammer commented on #380
@AmazingGamerBoy  I know PHP , HTML , JAVASCRIPT and CSS :)

[2016-03-23 20:56] AmazingGamerBoy commented on #380
Mason how many boys can i buy lol

On Thu, Mar 24, 2016 at 12:06 AM, MarkTheProgrammer <
notifications@github.com> wrote:

[2016-03-23 21:10] Drflash55 commented on #557
You need to describe the problem...

[2016-03-23 21:15] Drflash55 commented on #558
The bot seems to be getting an error when trying to connect to a server...

``ERR_CONNECTION_RESET``

This bot appears to be dead, and since Apos is no longer working on it, it might be dead for good.

[2016-03-23 21:15] #558 closed

[2016-03-23 21:17] Drflash55 commented on #559
Refer to what I said on issue 558.
https://github.com/Apostolique/Agar.io-bot/issues/558#issuecomment-200546653

[2016-03-23 21:17] #559 closed

[2016-03-23 21:18] Drflash55 commented on #554
Refer to what I said in issue 558
https://github.com/Apostolique/Agar.io-bot/issues/558#issuecomment-200546653

[2016-03-23 21:18] #554 closed

[2016-03-23 21:19] #557 closed

[2016-03-23 21:19] Drflash55 commented on #543
Refer to what I said in issue 558.
https://github.com/Apostolique/Agar.io-bot/issues/558#issuecomment-200546653

[2016-03-23 21:19] #543 closed

[2016-03-23 21:21] Drflash55 commented on #540
Refer to what I said in issue 558.
https://github.com/Apostolique/Agar.io-bot/issues/558#issuecomment-200546653

[2016-03-23 21:21] #540 closed

[2016-03-23 22:01] klvs commented on #380
@AmazingGamerBoy I know a multitude of languages. Check out my profile. Specialize in node & React. Also know a thing or two about server architecture and would be interested in talking to you more.

If I were to build a bot web app it would be a React SPA using loopback.js for the backend. I have some thoughts for on-demand, high quality, low cost proxies too but I'd want to hear more about what

[2016-03-23 22:07] 5p1Ky commented on #380
@MasonBurdette How will you name your website ?

[2016-03-23 23:10] x0x7 opened #561 "Enable for https"
Your include line for each of your scripts usually specifies something like:

    http://agar.io/*

By specifying the protocol you prevent people with httpseverywhere from using your bot.

I changed it to:

    http*://agar.io/*

I worked but you may consider omiting the protocol entirely.

This enabled the userscript but the script also caused issues connecting with their server.  Maybe that's so

[2016-03-23 23:14] x0x7 opened #562 "Bot causes connection trouble in firefox"
Using firefox we are notified that we cannot connect to the server.  This message is not displayed when the bot is off.  Looking at the network tab we see many more status code 101s when prior there had been one and one additional 304 when there had only been one.

The 304s aslo constently refresh when the bot is on where as the single 304 remains in that state when the bot is off.

[2016-03-23 23:49] issy123 commented on #380
@klvs React is for rendering dom, its not made for SPA's. try angular or ember

[2016-03-24 03:12] klvs commented on #380
@issy123 It is not _made_ for it yes, but it is certainly a good candidate. You [can do it](https://www.quora.com/Can-you-make-single-page-app-with-ReactJS) and [I have done it](https://github.com/klvs/callout). Anyway, I feel we're getting a bit off topic...

[2016-03-24 13:14] issy123 commented on #380
@klvs Well its nice that ur just not trying to make an SPA in jQuery xD
And u are right, its a bit offtopic, wish u guys goodluck with bot services! :D

[2016-03-24 16:17] SAMMER420 opened #563 "THE GAME IS NOT STARTING"
after all the installation i click play nut the game does not start.Its says connection problem and stuck  there.

[2016-03-24 22:07] FNCxPro commented on #558
If I may chime in, it's the launcher with the issue, not the actual bot.

[2016-03-25 01:10] Drflash55 commented on #562
You can make a pull request and see if the connection issue is fixed.

[2016-03-25 01:10] Drflash55 commented on #563
Refer to issue #558 for this problem.

[2016-03-25 01:10] #563 closed

[2016-03-25 01:18] Drflash55 commented on #558
Well, the bot also has the phantom blobs issue that Apos had not been able to fix.

[2016-03-25 15:45] Bahabb commented on #558
guys i am new here and i am askin how to deinstall it ? pleas i need help i have the same problem of the connexion

[2016-03-27 02:55] kennediellen opened #564 "It won't connect to a server"
When I turn the mod on, Agar.io will only say, "If you cannot connect to the servers, check if you cave some anti-virus or firewall blocking the connection."

[2016-03-28 03:03] victornb commented on #564
Same here =/

[2016-03-28 19:29] DARKESTXSWORD commented on #564
it's been doing the same for me

[2016-03-28 23:38] DannyTeni commented on #564
Same here
Does anyone have a solution?

[2016-03-29 00:06] victornb commented on #564
I've tested with windows and mac, with firefox and chrome. Its the same for all, if the bot is deactivated agar.io works normally.

[2016-03-29 16:12] 5p1Ky commented on #380
I don't know how he did it but it is awesome..... ^^
https://www.youtube.com/watch?v=9Y_Ccd7Mx4Y

[2016-03-29 17:34] Mewgood commented on #564
Guess it's detected. We have to figure out how it is detected as the author abandoned the project :-)

[2016-03-30 11:49] Drflash55 commented on #558
To uninstall this, go to your extension and press the trash icon next to the script you want to delete...

[2016-03-30 11:50] Drflash55 commented on #564
This is already a known issue. Refer to what i said in issue #558.

[2016-03-30 11:50] #564 closed

[2016-03-30 16:03] PrimeBagel commented on #380
Lol it's client side, only he can see it. So it's fake and he didn't make it either, he used David's userscript. It's in there with some lines commented out. Sam is full of bullshit.

Sent from my iPhone

[2016-03-30 20:56] MarkDsonYT commented on #380
But he made a video of him coding his 'client script'. Just look at that 4-minute real-time line-by-line typing of codes. Obviously, this builds his credibility as a coder.

[2016-03-30 23:33] AmazingGamerBoy commented on #380
Yep but look at his new client script, its basically the same as David's,
just with 1 or 2 changed things

On Thu, Mar 31, 2016 at 7:57 AM, Mark Danison <notifications@github.com>
wrote:

[2016-03-31 01:02] SamGamesYT commented on #380
mmm

[2016-03-31 18:13] issy123 commented on #380
@MarkDsonYT
No no you are wrong.
The moment when you know he is 100% pro coder is when you see he writes code that is already outcommented!! He thinks in the future! He writes code that he doesn't use just because he can see in the future #futurehackbypassed
Professional if else code!

[2016-03-31 19:10] 5p1Ky commented on #380
Finaly, @PrimeBagel, You're right, the user ID thebonly one who see the skin changer... Sam said "I bypasses it" (the match miniclip made for your skin changer) but hé doesn't bypass anything, he just add 2 images to a cell ... I think sam doesn't know anything about coding...
And what I want to tell too is that he realeased "his" bots, but FOR 15$ !!! It's Just the same hack than StavJ and HE rea

[2016-03-31 21:46] AmazingGamerBoy commented on #380
Yep I've seen sam try to code, he can't do it one little bit. All he does is steal from DrGoat, lie to EVERYONE, especially youtube, and then he hires someone every 5 seconds cause he can't code and can't do anything himself.

[2016-03-31 21:49] AmazingGamerBoy commented on #380
@issy123 yes, true.

And sam thinks his all famous now and that he has fans and what not cause he has 5k subs. Lemme tell u that his vids are sooooooo boring, why not just watch jumbo or something. He will be soon very forgotten...

[2016-03-31 23:01] Bahabb commented on #558
thanks

2016-03-30 12:50 GMT+01:00 Drflash55 <notifications@github.com>:

[2016-03-31 23:24] MarkDsonYT commented on #380
Chillax guys, I've said kappa at the end. (which means sarcasm in the twtich community). I know his coding was fake af, nobody codes line-by-line perfectly, much less upload an entire 4 minute real-time boring vid.

[2016-03-31 23:25] MarkDsonYT commented on #380
Also, I've heard that now botters can get banned from joining any agar server?

[2016-04-01 12:32] MarkDsonYT commented on #380
https://www.reddit.com/r/Agario/comments/4cuev7/important_big_update_and_new_moderators/

[2016-04-01 13:28] PrimeBagel commented on #380
XD just play as guest

Sent from my iPhone

[2016-04-01 14:22] MarkDsonYT commented on #380
There could be a slight chance that it's an april fools joke. maybe..

[2016-04-02 05:26] PrimeBagel commented on #380
Of course it is

Sent from my iPhone

[2016-04-02 06:56] 5p1Ky commented on #380
So you, where are you in creating Agar.io bots ? (Idk why, but I think Szymon Marczak has definitly stoped with Agar.io ... :( Am I right ?)

[2016-04-02 15:50] way2key commented on #562
the same for chrome

[2016-04-03 13:21] MasonBurdette commented on #380
@5p1Ky no he still makes a-powerups.com
its an extnension, no bots.

[2016-04-03 21:09] 5p1Ky commented on #380
@MasonBurdette Oh yes ! Thank you :)

[2016-04-08 14:33] dfgsdfsdf commented on #562
Same here. ERROR AND STUCK ON CONNECTING WITH CHROME AND FIREFOX.

[2016-04-08 14:33] dfgsdfsdf commented on #562
Hoped this would work.

[2016-04-09 03:19] PrimeBagel commented on #380
This chat died :/

On Sun, Apr 3, 2016 at 4:09 PM, 5p1Ky <notifications@github.com> wrote:

[2016-04-09 06:14] AmazingGamerBoy commented on #380
RIP

On Sat, Apr 9, 2016 at 1:20 PM, PrimeBagel <notifications@github.com> wrote:

[2016-04-09 20:08] ErmiyaEskandary commented on #562
This issue is due to the **Client -> Server Protocol** and happens on all browsers. The client sends three messages with the opcodes 254, 255 and 80 when it connects. **Opcode 255** sends an unsigned integer "initialise key" to the server which is like a handshake, to verify you are a valid user. This "initialise key" is hard-coded in launcher.user.js - line 394:
`a.setUint32(1, 2200049715, !0);`

[2016-04-10 09:18] ErmiyaEskandary opened #566 "Bot doesn't render correctly - Phantom Bug"
I realise that (might - not sure) I / We need to change the packets which are getting sent, as there is a new protocol and new packets and because of this, the bot cannot render the screen properly - there is no steady and correct connection between the server and the client.
This needs a _bit_ of explaining - upon us connecting the server, we need to **establish a sort of a 'handshake'**. This 'h

[2016-04-10 10:17] 5p1Ky commented on #380
I think too :(

[2016-04-10 10:44] AmazingGamerBoy commented on #380
Im pretty happy actually, maybe we should stop getting so distracted with
agar.io...

On Sun, Apr 10, 2016 at 8:17 PM, 5p1Ky <notifications@github.com> wrote:

[2016-04-10 11:15] issy123 commented on #380
Creating your own game is more fun than creating bots tbh :D

I would love to be the next agar.io or slither.io

[2016-04-10 14:17] 5p1Ky commented on #380
Good luck... SL difficult to do .. What's your idea ? :D

[2016-04-10 16:58] ErmiyaEskandary commented on #564
**I fixed this issue :)
Look here -  : #562**

[2016-04-10 16:59] ErmiyaEskandary commented on #558
**I fixed this issue :)
Look here -  : #562**

[2016-04-10 17:00] ErmiyaEskandary commented on #559
**I fixed this issue :)
Look here -  : #562**

[2016-04-10 17:00] ErmiyaEskandary commented on #554
**I fixed this issue :)
Look here -  : #562**

[2016-04-10 17:00] ErmiyaEskandary commented on #557
**I fixed this issue :)
Look here -  : #562**

[2016-04-10 17:01] ErmiyaEskandary commented on #543
**I fixed this issue :)
Look here -  : #562**

[2016-04-10 17:01] ErmiyaEskandary commented on #540
**I fixed this issue :)
Look here -  : #562**

[2016-04-10 17:08] ErmiyaEskandary commented on #562
I would like to help myself and everyone and get this bot back up and running.** I could take over Apos' work in order to keep it alive, using my knowledge of programming to its full extent.**

[2016-04-10 17:13] ErmiyaEskandary commented on #563
**I fixed this issue :)
Look here -  : #562**

[2016-04-10 18:18] PrimeBagel commented on #380
Good ideas shouldn't be shared

Sent from my iPhone

[2016-04-10 19:48] camilleeyries commented on #380
Amazinggamerboy i think your r right

[2016-04-10 23:51] problemsofworld commented on #380
fb mass bot fix ?

[2016-04-11 02:23] AmazingGamerBoy commented on #380
I request a close on this topic/issue

On Mon, Apr 11, 2016 at 9:51 AM, Bot9 <notifications@github.com> wrote:

[2016-04-11 14:15] ErmiyaEskandary commented on #562
Please reinstall the scripts - working now

[2016-04-11 14:55] #562 closed

[2016-04-11 14:57] ErmiyaEskandary commented on #547
What do you mean by block ? Does it connect or does the website just not come up ?

[2016-04-11 15:04] ErmiyaEskandary commented on #529
From Apostolique himself - The game uses JavaScript anonymous functions. You can't access what's in the game from outside of it.

[2016-04-11 15:04] #529 closed

[2016-04-11 15:06] ErmiyaEskandary commented on #519
Closed until more information added.

[2016-04-11 15:06] #519 closed

[2016-04-11 15:07] ErmiyaEskandary commented on #479
#522

[2016-04-11 15:07] #479 closed

[2016-04-11 15:15] ErmiyaEskandary commented on #380
This bot hopefully will be back on track soon.

[2016-04-11 15:15] ErmiyaEskandary commented on #380
This bot hopefully will be back on track soon.

[2016-04-11 15:20] ErmiyaEskandary commented on #452
This bot will hopefully be back on track soon ;)

[2016-04-11 16:35] PrimeBagel commented on #380
He quit the project...

Sent from my iPhone

[2016-04-11 17:30] ErmiyaEskandary commented on #516
This bot will hopefully be back on track soon as I will try and update this bot with tips from Apostolique himself :)

[2016-04-11 17:43] ErmiyaEskandary commented on #452
This phantom bug is prioritised over all the other bugs and is being worked on by me and Apostolique.

[2016-04-11 17:45] ErmiyaEskandary commented on #566
Duplicate of #452

[2016-04-11 17:45] #566 closed

[2016-04-11 17:46] ErmiyaEskandary commented on #452
I realise that I / We need to change the packets (might - not sure) which are getting sent, as there is a new protocol and new packets and because of this, the bot cannot render the screen properly - there is no steady and correct connection between the server and the client.
This needs a _bit_ of explaining - upon us connecting the server, we need to **establish a sort of a 'handshake'**. This 'h

[2016-04-11 17:48] ErmiyaEskandary commented on #473
Refer to #452 for future updates.

[2016-04-11 17:48] #473 closed

[2016-04-11 17:49] ErmiyaEskandary commented on #547
Refer to Drflash55's answer.

[2016-04-11 17:49] #547 closed

[2016-04-11 17:50] ErmiyaEskandary commented on #401
https://gitter.im/Apostolique/ACS - refer here

[2016-04-11 17:52] ErmiyaEskandary commented on #520
Refer to #452. Possible duplicate.

[2016-04-11 17:52] #520 closed

[2016-04-11 18:02] ErmiyaEskandary commented on #371
@eric-m Make a PR and I'll see if I can merge it.

[2016-04-12 05:17] #230 closed

[2016-04-12 05:22] ErmiyaEskandary commented on #238
Could you give us more information please ? Download the scripts again as there have been updates to fix the connection issue and other bugs.

[2016-04-12 05:23] Apostolique commented on #238
This is a dead topic.

[2016-04-12 05:23] ErmiyaEskandary commented on #239
Download the scripts again. Has it been fixed ?

[2016-04-12 05:25] ErmiyaEskandary commented on #238
Then why was it open ? Half of these issues are invalid and outdated.

[2016-04-12 05:25] #238 closed

[2016-04-12 05:26] #239 closed

[2016-04-12 05:30] #438 closed

[2016-04-12 05:44] #362 closed

[2016-04-12 05:45] #354 closed

[2016-04-12 05:46] #344 closed

[2016-04-12 05:47] #316 closed

[2016-04-12 08:47] #119 closed

[2016-04-12 08:51] ErmiyaEskandary commented on #460
https://github.com/Apostolique/AposFeedingBot

[2016-04-12 08:51] #460 closed

[2016-04-12 08:56] ErmiyaEskandary commented on #379
Original issue resolved.

[2016-04-12 08:56] #379 closed

[2016-04-12 09:00] #318 closed

[2016-04-12 10:52] MasonBurdette commented on #380
I'm working on a bot service with some investors and clan leaders. I can't disclose anything yet, but expect us.

[2016-04-12 11:42] #309 closed

[2016-04-12 11:47] ErmiyaEskandary commented on #251
Duplicate of #247.

[2016-04-12 11:47] #251 closed

[2016-04-12 11:54] ErmiyaEskandary commented on #253
https://twitter.com/JeanDavidMoisan

[2016-04-12 11:54] #253 closed

[2016-04-12 11:58] #380 closed

[2016-04-12 13:48] PrimeBagel commented on #380
Mason you said that months ago and nothing has happened

Sent from my iPhone

[2016-04-12 14:06] ErmiyaEskandary commented on #380
I am rewriting launcher.user.js and hopefully the bot will start working
again with tips from Apostolique himself.
Await updates.
On 12 Apr 2016 14:48, "PrimeBagel" <notifications@github.com> wrote:

[2016-04-12 14:10] ErmiyaEskandary commented on #561
What issues ? Were the issues related with omitting the protocol or by changing it ?

[2016-04-12 14:27] PrimeBagel commented on #380
Ok I made my own XP bot with a chrome extension, I should probably help with this.

Sent from my iPhone

[2016-04-12 14:30] ErmiyaEskandary commented on #380
Do you have a repo for it ? Would gladly test it out if wanted.
On 12 Apr 2016 15:28, "PrimeBagel" <notifications@github.com> wrote:

[2016-04-12 14:30] ErmiyaEskandary commented on #380
I need to reply in my email as the issue doesn't load up - is it the same
for you ?
On 12 Apr 2016 15:28, "PrimeBagel" <notifications@github.com> wrote:

[2016-04-12 14:33] felikz10 commented on #380
PrimeBagel I would be very happy to try it out :) Have you got skype?

If so then add me on skype. :)

My skype: tehqzn

Have a nice day! :)

[2016-04-12 14:39] ErmiyaEskandary commented on #380
Probably not better than this new version rolling out soon lol jk
On 12 Apr 2016 15:33, "felikz10" <notifications@github.com> wrote:

[2016-04-12 14:45] PrimeBagel commented on #380
Yea my chrome extension is at http://agarInfinity.tk just turn on autoplay

Sent from my iPhone

[2016-04-12 21:17] ErmiyaEskandary commented on #415
Dead Topic

[2016-04-12 21:17] #415 closed

[2016-04-12 21:18] ErmiyaEskandary commented on #143
Most added. Some might be implemented later.

[2016-04-12 21:18] #143 closed

[2016-04-12 21:21] #418 closed

[2016-04-12 21:24] #401 closed

[2016-04-12 21:26] #367 closed

[2016-04-12 21:30] ErmiyaEskandary commented on #292
Connection issue fixed. Phantom visual bug fix in progress.

[2016-04-12 21:30] #292 closed

[2016-04-12 21:31] #317 closed

[2016-04-12 21:34] #266 closed

[2016-04-12 22:13] MasonBurdette commented on #380
@PrimeBagel idk this time I know what I'm doing.

[2016-04-13 11:53] ErmiyaEskandary commented on #452
There might be a fix today - testing :+1:

[2016-04-13 17:56] ErmiyaEskandary commented on #224
Fixed with the latest commit.

[2016-04-13 17:56] #224 closed

[2016-04-13 21:00] #241 closed

[2016-04-13 21:00] ErmiyaEskandary commented on #210
It can.

[2016-04-13 21:00] #210 closed

[2016-04-13 21:02] #183 closed

[2016-04-13 21:05] ErmiyaEskandary commented on #372
Fixed.

[2016-04-13 21:05] #372 closed

[2016-04-14 09:01] #277 closed

[2016-04-14 09:03] #112 closed

[2016-04-14 11:49] Drflash55 commented on #452
@ErmiyaEskandary Glad to see you're getting this back on track.

Thought this thing was dead for sure.

[2016-04-14 11:50] #363 closed

[2016-04-14 11:54] ErmiyaEskandary commented on #323
#331

[2016-04-14 11:55] Drflash55 commented on #561
@ErmiyaEskandary, you gave me 'a real run for my money'.

Notifications box was full of notices... Glad to see you're doing my job better.

[2016-04-14 11:55] ErmiyaEskandary commented on #331
#323

[2016-04-14 11:56] ErmiyaEskandary commented on #307
Unclear question. To reopen, make a new issue with a clear topic.

[2016-04-14 11:56] #307 closed

[2016-04-14 11:56] #288 closed

[2016-04-14 12:03] ErmiyaEskandary commented on #452
@Drflash55 Cheers ;)

[2016-04-14 12:04] ErmiyaEskandary commented on #561
@Drflash55 :)

[2016-04-14 12:05] ErmiyaEskandary commented on #331
@Drflash55 Can you confirm this ?

[2016-04-14 14:53] Drflash55 commented on #331
@ErmiyaEskandary I don't think it would make a difference if I tried out previous versions, as Agar.io itself has been updated quite a lot lately.

Pretty sure that if the newer version is bugging out, trying to go back to a legacy version won't fix the issue, as the bot needs to be updated to remove the bug in the first place.

[2016-04-14 21:19] ErmiyaEskandary commented on #331
I was talking about if the bot pursued player in an older version where the bot was playable. At the moment, the phantom bug is being worked on. ;)

[2016-04-15 06:30] boomboompower commented on #452
@ErmiyaEskandary Yess! Thanks :D

[2016-04-15 10:03] ErmiyaEskandary commented on #452
Thank Apostolique for making this bot in the first place - I'm just restarting the project in a way ;) Thanks anyway

[2016-04-15 16:40] #423 closed

[2016-04-15 16:52] #222 closed

[2016-04-15 17:03] ErmiyaEskandary commented on #137
https://github.com/Apostolique/Agar.io-bot/blob/master/bot.user.js#L894 It's easier to track a single one.

[2016-04-15 17:03] #137 closed

[2016-04-15 17:05] #331 closed

[2016-04-15 17:07] #384 closed

[2016-04-15 17:08] #397 closed

[2016-04-15 17:13] #328 closed

[2016-04-15 17:18] ErmiyaEskandary commented on #323
Since the bot doesn't split, it doesn't have any means to catch up with smaller faster players. It differentiates between a moving target and a non moving one. It only goes for non moving ones.

[2016-04-15 17:19] #323 closed

[2016-04-15 17:21] ErmiyaEskandary commented on #282
Since the bot doesn't split, it doesn't have any means to catch up to smaller faster players. It differentiates between a moving target and a non moving target and it only goes for non moving ones.

[2016-04-15 17:21] #282 closed

[2016-04-15 17:24] ErmiyaEskandary commented on #244
It's easier to track a single one - https://github.com/Apostolique/Agar.io-bot/blob/master/bot.user.js#L894. Independent cell control got removed as well.

[2016-04-15 17:24] #244 closed

[2016-04-15 17:24] #234 closed

[2016-04-15 17:26] ErmiyaEskandary commented on #232
In previous versions, it would split aggressively but in overall, the current one grows much bigger and lasts longer.

[2016-04-15 17:26] #232 closed

[2016-04-15 17:31] ErmiyaEskandary commented on #227
Since the bot doesn't split, it doesn't have any means to catch up to smaller faster players so it doesn't split anymore. In previous versions, it used to split and be more aggressive but in overall, the current version grows much bigger and lasts much longer.

[2016-04-15 17:31] ErmiyaEskandary commented on #227
So it doesn't pursue players anymore. It only eats non moving targets.

[2016-04-15 17:31] #227 closed

[2016-04-15 17:34] ErmiyaEskandary commented on #174
In previous versions, it used to split and be more aggressive but in overall, the current version grows much bigger and lasts much longer.

[2016-04-15 17:56] #233 closed

[2016-04-15 19:38] kakol20 opened #568 "Graphical Glitches"
Sometimes the screen would be filled with a colour and the graphics that this script adds. So far, I've seen blue and green cover the screen

[2016-04-15 19:59] ErmiyaEskandary commented on #568
Duplicate of phantom bug

[2016-04-15 20:00] ErmiyaEskandary commented on #568
Issue #452 - fix in progress

[2016-04-15 20:01] #568 closed

[2016-04-15 20:12] ErmiyaEskandary commented on #155
Since the bot doesn't split anymore, this issue becomes invalid.

[2016-04-15 20:13] #155 closed

[2016-04-15 20:14] #174 closed

[2016-04-15 20:25] ErmiyaEskandary commented on #522
Fixed according to Apostolique.

[2016-04-15 20:25] #522 closed

[2016-04-15 20:25] ErmiyaEskandary commented on #453
Fixed according to Apostolique.

[2016-04-15 20:25] #453 closed

[2016-04-16 04:21] ErmiyaEskandary commented on #481
Fixed according to Apostolique.

[2016-04-16 04:21] #481 closed

[2016-04-16 04:24] #383 closed

[2016-04-16 04:32] ErmiyaEskandary opened #569 "Feature : Shooting mass at viruses to split bigger players"
We need to add a feature where it automatically ejects 7 mass into a virus to make the virus split and make it go further, splitting a potentially bigger player.
Open for discussion.

[2016-04-16 09:23] ErmiyaEskandary commented on #434
Apostolique made enemies be partly obstacles when there are too many of them around so it's easier to run around them. With the normal enemy code, you just run in the direction opposite to them. When there are too many enemies, you can't run in all directions at the same time. But if you are in the obstacle zone instead, you can run around them.

[2016-04-16 09:25] #434 closed

[2016-04-16 09:29] #123 closed

[2016-04-16 09:30] #231 closed

[2016-04-16 09:32] ErmiyaEskandary commented on #371
Duplicate of #267

[2016-04-16 09:33] #371 closed

[2016-04-16 13:19] ErmiyaEskandary commented on #281
Duplicate of #267

[2016-04-16 13:19] #281 closed

[2016-04-16 17:55] ErmiyaEskandary commented on #452
INITIAL TESTING FOR THE FIX HAS SUCCEEDED. EXPECT A FIX **VERY** SOON. I'M DYING OF HAPPINESS.

[2016-04-16 18:00] ErmiyaEskandary commented on #452
![image](https://cloud.githubusercontent.com/assets/18369104/14582745/698f94b8-0405-11e6-9cea-7eb9dd304756.png)

[2016-04-16 18:03] jwilde35 commented on #452
alright im stoked

On Sat, Apr 16, 2016 at 2:00 PM, Ermiya Eskandary <notifications@github.com>
wrote:

[2016-04-16 18:03] ErmiyaEskandary commented on #452
Just has 1 glitch - it only renders in the top left after pressing play - **FIX : OPEN CONSOLE AND THEN CLOSE IT WHICH MAKES IT RENDER FULL SCREEN- BEING WORKED ON**

[2016-04-16 21:16] #402 closed

[2016-04-16 21:17] #218 closed

[2016-04-17 11:00] #195 closed

[2016-04-17 11:00] #324 closed

[2016-04-17 11:06] ErmiyaEskandary commented on #252
There's an API - no documentation yet. Possible duplicate of #99.

[2016-04-17 11:06] #252 closed

[2016-04-17 11:07] #249 closed

[2016-04-17 15:39] 5p1Ky commented on #380
DrGoat has created a facebook bots code... https://youtu.be/g84Xr0TAYnQ

[2016-04-17 17:27] ErmiyaEskandary commented on #452
**Fixed - read the new commit **

[2016-04-17 17:27] #452 closed

[2016-04-17 17:27] ErmiyaEskandary commented on #267
Added with latest commit.

[2016-04-17 17:27] #267 closed

[2016-04-17 20:28] shyon-k opened #572 "Connection problems"
When I hit play, there is a white screen, and it just says connecting. I tried on mozilla, opera, and chrome. I can't log in either, which means no xp.

[2016-04-17 20:33] ErmiyaEskandary commented on #572
Could you post a screenshot ?

[2016-04-17 21:06] shyon-k commented on #572
@ErmiyaEskandary yes,

![capture](https://cloud.githubusercontent.com/assets/16218322/14590033/65d4b7ca-04b6-11e6-8b78-b4fd3a381afd.PNG)

[2016-04-17 22:09] boomboompower commented on #452
@ErmiyaEskandary change labels?

[2016-04-17 22:56] Drflash55 commented on #452
@boomboompower Hold on a sec...

[2016-04-17 22:58] Drflash55 commented on #568
It's fixed as of right now.

[2016-04-17 22:59] Drflash55 commented on #566
This is fixed...

[2016-04-17 23:01] Drflash55 commented on #549
Anything issue that was here, has been fixed.

[2016-04-17 23:02] Drflash55 commented on #572
It could either be a problem with your connection not accepting incoming port connections from Agar.io. You need to change some settings with your router, or contact your Internet Service Provider so they can unblock the incoming connections for you.

[2016-04-17 23:03] Drflash55 commented on #558
This issue has been fixed.

[2016-04-17 23:04] Drflash55 commented on #560
If the problem was the phantom bug's issue, that was fixed...

So, I'll add the label on here...

[2016-04-17 23:05] Drflash55 commented on #569
Yeah... That would totally be a good idea, and then the bot could try to quickly split around the bigger cell, if it's not dangerous, to try to swallow the smaller pieces and hopefully eat the biggest cell.

[2016-04-17 23:07] Drflash55 commented on #351
This should be on Aposto's to-do list...

[2016-04-17 23:46] MasonBurdette commented on #380
www.KosBots.com (in development!!!)

[2016-04-17 23:47] PrimeBagel commented on #380
lmao

On 4/17/2016 6:46 PM, Mason Burdette wrote:

[2016-04-17 23:59] kakol20 opened #576 "Where did the line around the map go?"
There used to be a line that indicated where the edge of the map was. Where did that go?

[2016-04-18 05:50] Apostolique commented on #572
You probably need to wait a few hours. Sometimes agar starts blocking the connections.

[2016-04-18 05:51] Apostolique commented on #576
Temporarily removed.

[2016-04-18 07:31] ErmiyaEskandary commented on #572
@shyon-k please close this issue if fixed

[2016-04-18 07:34] ErmiyaEskandary commented on #452
@Drflash55 Thanks

[2016-04-18 07:43] ErmiyaEskandary commented on #569
Kind of like this but needs tweaking - https://github.com/caiosm1005/Agar.io-pop-bot

[2016-04-18 07:44] ErmiyaEskandary commented on #569
It wouldn't do what this bot does right now - we'll tweak it but it knows where the small blobs are to eat them.

[2016-04-18 07:46] ErmiyaEskandary commented on #569
Zeach Cobbler has a virus popper section in its bot code. We can also use that but tweak it to our needs. This is next on my list.

[2016-04-18 07:47] ErmiyaEskandary commented on #576
Being worked on.

[2016-04-18 08:33] ErmiyaEskandary commented on #576
Added with latest update.

[2016-04-18 08:33] #576 closed

[2016-04-18 08:40] ErmiyaEskandary commented on #561
This is what happens.

[2016-04-18 09:01] ErmiyaEskandary commented on #561
Chrome started glitching. Sorry.

[2016-04-18 09:18] ErmiyaEskandary commented on #569
I was thinking of something more like you hit a button and then it shoots 7 mass at the nearest virus.

Implementing this would be hard and we would need to find a way so it knows when it should do it.

[2016-04-18 13:13] zsck commented on #252
@ErmiyaEskandary Having an API != having source code that's clear enough to grok and contribute to with sufficient ease.

[2016-04-18 13:19] ErmiyaEskandary commented on #252
Never said it was. Just said there **is** an API but no documentation* That's why I didn't close #99 as it's valid.

[2016-04-18 13:21] ErmiyaEskandary commented on #252
@zsck open an issue for the suggestions and ideas you have. We will surely take them into  account.

[2016-04-18 13:29] muratlahur commented on #452
No it's not fixed ! How are the phantom blobs fixed I'm sorry ?

There is absolutely no change here on my side :s

[2016-04-18 13:31] ErmiyaEskandary commented on #452
It has been 100% fixed. Please download the latest scripts from the github repo.

[2016-04-18 13:34] muratlahur commented on #452
ermm, my bad ..updated the wrong script lol :)

sozzz..

do you still want my bot then ? now that you've fixed the launcher hehe

[2016-04-18 13:35] ErmiyaEskandary commented on #452
Make a new repo and put the link here so I can add it to the alternative bot list.

[2016-04-18 13:38] muratlahur commented on #452
nope..not interested in making it public..it is a much smarter AI , and apos like to make "feeder" versions and make them online which in return provides material for websites to sell to people and destroy agar all together.. I'm not going to support that !! if YOU are interested just because I've promised I'll give it to you but I won't allow any part of it to be public..

[2016-04-18 13:40] ErmiyaEskandary commented on #452
Okay. I support open source projects but if you want someone to test it, send it to me through email. Cheers.

[2016-04-18 13:41] muratlahur commented on #452
ok..you'll get it shortly..Please respect my stand on this though..this is for you to study..it does not go into apos bot.. especially the multi cell control system

[2016-04-18 13:46] ErmiyaEskandary commented on #452
OK but why don't you like it open source ? Don't you want to help
everywhere ?
On 18 Apr 2016 14:41, "muratlahur" <notifications@github.com> wrote:

[2016-04-18 13:51] muratlahur commented on #452
I think I did explain...Apos doesn't mind making "Blatantly Cheating(in his words)" bot's public ..(the feeder bot) That bot got in the wrong hands and resulted in the months and months of bot frenzy in agar land ..which moneyclip is trying to fix hard..

I support an AI that triest to play agar , that's cool and for other players it is not distinguishable from a human player.. The feeder bot is t

[2016-04-18 13:58] ErmiyaEskandary commented on #452
But that repo is separate from this. That bot was because of someone's
request. This repo is separate from the feeder bot. When am I gonna receive
the source code for this bot of yours anyway ?
On 18 Apr 2016 14:52, "muratlahur" <notifications@github.com> wrote:

[2016-04-18 13:58] ErmiyaEskandary commented on #452
We won't make a feeder bot out of your bot anyway.
On 18 Apr 2016 14:52, "muratlahur" <notifications@github.com> wrote:

[2016-04-18 13:59] muratlahur commented on #452
you did , I've just sent you .. obfuscated though , proof of concept..I'll also give you the code but we'll really have to understand each other :)

[2016-04-18 14:01] ErmiyaEskandary commented on #452
you did ?
On 18 Apr 2016 15:00, "muratlahur" <notifications@github.com> wrote:

[2016-04-18 14:02] muratlahur commented on #452
you asked when you'll receive the bot no ??? You did .. check your gmail

[2016-04-18 14:03] ErmiyaEskandary commented on #452
I condemn feeder bots as well - that's why I'm working on this repo , not
the feeder bot one. My goal is to maintain a bot for agar.io which can play
the game (artificial intelligence), not to make a feeder bot.
On 18 Apr 2016 15:00, "muratlahur" <notifications@github.com> wrote:

[2016-04-18 14:05] ErmiyaEskandary commented on #452
I have received it - just one note. I'm not mean but if I wanted to, I
could share the code to everyone as it's licensed under MIT. ;) Thanks
On 18 Apr 2016 15:02, "muratlahur" <notifications@github.com> wrote:

[2016-04-18 14:05] muratlahur commented on #452
yeah that's why you got it obfuscated .. share away no problem ;)

I'm a little smart ..

[2016-04-18 14:08] ErmiyaEskandary commented on #452
I never said I would share it but don't challenge me ;) if you're "little
smart", I'm double that.
On 18 Apr 2016 15:06, "muratlahur" <notifications@github.com> wrote:

[2016-04-18 14:09] muratlahur commented on #452
ok, de-obfuscate my code and and mail me back .. so we can meet smartypants ;)

[2016-04-18 14:11] ErmiyaEskandary commented on #452
Now now now... If I deobfuscate it, I'll share it ;)
On 18 Apr 2016 15:09, "muratlahur" <notifications@github.com> wrote:

[2016-04-18 14:11] muratlahur commented on #452
Deal :)

[2016-04-18 14:13] ErmiyaEskandary commented on #452
Kk. Anyway, if you were that smart, you wouldn't wait for me to update the
launcher file - you would have done it yourself.
On 18 Apr 2016 15:12, "muratlahur" <notifications@github.com> wrote:

[2016-04-18 14:15] muratlahur commented on #452
Well well, we need each other always ;)

what you think of the multi cell control ? isn't it just beautiful :P

[2016-04-18 14:25] muratlahur commented on #452
Stuff that's on Little Smart Dot but not on Apos bot is,

Split Kill System
Split Run System
Purge Run System
Multi Cell Control
Dynamic Threat Assessment
Corner Code

so I mean , really, lame feeder bots that can do all that means end of agar . ..

[2016-04-18 14:26] ErmiyaEskandary commented on #452
Apos's bot is NOT a feeder bot.

On Mon, Apr 18, 2016 at 3:25 PM, muratlahur <notifications@github.com>
wrote:

[2016-04-18 14:26] muratlahur commented on #452
uh oh , where are the opcodes now ? my bot can not send opcodes anymore

[2016-04-18 14:27] muratlahur commented on #452
that means no split kill no purge to avoid etc

[2016-04-18 14:28] ErmiyaEskandary commented on #452
?? So the code you gave me doesn't work ?

On Mon, Apr 18, 2016 at 3:27 PM, muratlahur <notifications@github.com>
wrote:

[2016-04-18 14:29] muratlahur commented on #452
lol you didn't even try :P
yes it does but It needs to send op codes to split etc and it doesn't ..

must be the new launcher

[2016-04-18 14:30] muratlahur commented on #452
btw if you being paranoid of the obfuscated code , fear not I have better things to do ..

[2016-04-18 14:31] ErmiyaEskandary commented on #452
I don't want to waste time on deobfuscating something which doesn't work.

On Mon, Apr 18, 2016 at 3:29 PM, muratlahur <notifications@github.com>
wrote:

[2016-04-18 14:33] muratlahur commented on #452
ok first off you don't need to deobfuscate it to try .. secondly it DOES work .. just try lol ..there is nothing nasty in it I swear..and soon I feel, you will have the code as well..

[2016-04-18 14:38] ErmiyaEskandary commented on #452
It seems exactly like Apos's bot. What's different ? Respond directly by
email - not through Github as it spams the issue.

On Mon, Apr 18, 2016 at 3:33 PM, muratlahur <notifications@github.com>
wrote:

[2016-04-18 14:38] muratlahur commented on #452
That's what I just told you in the mail lol , respond to that

[2016-04-18 18:22] kakol20 opened #580 "Goes for food inside a virus"
When the bot is big enough, it sometimes goes for food inside a virus I've recently had an issue while using the bot, where it was trying to get a food in the centre of a virus and it split.

Maybe make a way for it to ignore food inside viruses.

[2016-04-18 19:12] shyon-k commented on #572
@Apostolique A few hours? Should I leave it running overnight? I tried at different time periods, but nothing changed.

[2016-04-18 19:24] ErmiyaEskandary commented on #572
Refer to Drflash55's comment. I'm 100% sure it's that.

[2016-04-18 19:25] ErmiyaEskandary commented on #572
If you get errors in your console, post them here.

[2016-04-19 00:51] muratlahur opened #581 "Map Borders"
where are the map borders ??? My bot thinks it lives in a letterbox lol :P

![screen shot 2016-04-19 at 07 48 09](https://cloud.githubusercontent.com/assets/14038239/14624284/7f32fa9e-0603-11e6-9d3e-bf51ba235d3f.png)

[2016-04-19 00:54] muratlahur opened #582 "opCodes don't work !"
When I try to run opCodes in the bot I get this !! But they used to work before !
![screen shot 2016-04-19 at 07 53 20](https://cloud.githubusercontent.com/assets/14038239/14624327/eb471cce-0603-11e6-8145-8dde017e3fad.png)

[2016-04-19 04:38] muratlahur commented on #581
and because the letter box situation the wall code completely cripples the bot..Probably the reason why the wall code just got removed in an update.. but then this makes the bot a sitting duck around walls and especially corners..

this is not the way to go .. we need the ACTUAL map borders..

[2016-04-19 06:15] ErmiyaEskandary commented on #582
Make a new issue.
On 19 Apr 2016 01:54, "muratlahur" <notifications@github.com> wrote:

[2016-04-19 06:15] ErmiyaEskandary commented on #582
If you're sure it's Apos's bot problem, not yours.
On 19 Apr 2016 01:54, "muratlahur" <notifications@github.com> wrote:

[2016-04-19 06:20] ErmiyaEskandary commented on #581
We CAN'T have the actual map borders as agar.io prevents us knowing where the borders are unless we are close to them.

[2016-04-19 06:21] #581 closed

[2016-04-19 06:47] muratlahur commented on #581
you can . it just takes one visit to one corner...The map is a predefined square.. all it takes is one visit to one side.. then you know where one wall is and automatically you know where all walls are..

this is what I meant in my email with the thinking bit . . .

[2016-04-19 06:57] muratlahur opened #583 "Map Borders !!!!!!!"
The bot CRUCIALLY needs to know where it is ..
This is done by finding ANY corner and since we know the size of the square that the map is , the rest is very easy ..

Do NOT close this issue without it being fixed like you did to the other as I find that very immature ..

now.. to work u !

[2016-04-19 07:11] muratlahur opened #584 "The people who take care of this project !"
Well I've realized over the course of time that one of the great issues with this bot is the guy who wrote it ! Apos , not only he insists on putting lame advertisements & google analytics tags to track you  in the bot but also he made the same bot into a feeder-clone which in return gotten into wrong hands and started the clone/bot frenzy in agar.io and that crippled servers with lag soo bad that

[2016-04-19 07:17] muratlahur commented on #583
oh btw I forgot the beautiful letterbox screen shot ..

You make people use that lame stuff as a bot , we might as well look at how it looks ..

don't be ashamed of your work and delete it again please :)

![screen shot 2016-04-19 at 07 48 09](https://cloud.githubusercontent.com/assets/14038239/14630687/714afedc-0639-11e6-92bd-ed168be2eea3.png)

[2016-04-19 09:23] FliiFe commented on #583
Finding a corner should be sufficient, but that would be quite difficult to
implement. I will try to implement this this afternoon. However, we don't
know if miniclip changes the map size.

Le mar. 19 avr. 2016 09:17, muratlahur <notifications@github.com> a écrit :

[2016-04-19 09:28] muratlahur commented on #583
no, maps are fixed squares..
as soon as you find a corner from there on you know EXACTLY where you are...

Thanks for trying and I hope you get it up and running asap :)

[2016-04-19 09:31] muratlahur commented on #583
ideally bot should not try to push wall angles until a CornerFound variable is positive..This is equivalent to disabling the wall code like Apos did, however once the corner is found wall angles can be pushed like normal

[2016-04-19 09:37] FliiFe commented on #583
I'm not home right now, but I am pretty sure Apos did not remove the wall
code, he just disabled it.

Le mar. 19 avr. 2016 11:31, muratlahur <notifications@github.com> a écrit :

[2016-04-19 09:40] muratlahur commented on #583
yah, he commented out the push of angles , in effect disabling it like I've said .. I've never said he removed it .. the code is still there.. just commented out

[2016-04-19 12:21] ErmiyaEskandary commented on #583
I'm not ashamed of my work.

[2016-04-19 12:23] ErmiyaEskandary commented on #583
@Apostolique Please verify his info on how to fix it. If it is valid, please re unlock this conversation.
@muratlahur If you know how to fix it, make a PR - not an issue. When I close an issue, I have a valid reason

[2016-04-19 12:24] ErmiyaEskandary commented on #584
No advertising. Practise what you preach.

[2016-04-19 12:25] ErmiyaEskandary commented on #584
It was possible but you keep bringing up his feeder bot. For the 100th time, his feeder bot repo is SEPARATE from this repo.

[2016-04-19 12:27] ErmiyaEskandary commented on #584
If you want help, make an open source project on Github. That's what it's there for. Not making it open source needs money to buy a programmer - people aren't here to do work for you.

[2016-04-19 12:27] #584 closed

[2016-04-19 12:29] muratlahur opened #585 "People Who Take Care Of This Project !!"
Well I've realized over the course of time that one of the great issues with this bot is the guy who wrote it ! Apos , not only he insists on putting lame advertisements & google analytics tags to track you in the bot but also he made the same bot into a feeder-clone which in return gotten into wrong hands and started the clone/bot frenzy in agar.io and that crippled servers with lag soo bad that

[2016-04-19 12:34] ErmiyaEskandary commented on #585
Stop messing and spamming.

[2016-04-19 12:34] #585 closed

[2016-04-19 12:34] muratlahur commented on #580
This is a one-line code and I have fixed this about 6 months ago ...

Only if the people in this project had some wits . . .

[2016-04-19 12:36] muratlahur opened #586 "People Who Take Care Of this Project (I'll Name You Next Time) (it's a real issue)"
Well I've realized over the course of time that one of the great issues with this bot is the guy who wrote it ! Apos , not only he insists on putting lame advertisements & google analytics tags to track you in the bot but also he made the same bot into a feeder-clone which in return gotten into wrong hands and started the clone/bot frenzy in agar.io and that crippled servers with lag soo bad that

[2016-04-19 12:38] #586 closed

[2016-04-19 12:39] ErmiyaEskandary commented on #582
Not an error in current bot. Alternative bot issue. Closed due to being invalid.

[2016-04-19 12:39] #582 closed

[2016-04-19 12:39] muratlahur commented on #569
NO ! This is NOT a war bot .. DO NOT MAKE BOTS THAT CAN RUIN THE GAME !!!!!!!

besides whoever thinks shooting 7 mass into virus is enough needs to play agar for muuch longer time , or learn to count .. whichever comes first..

I REPEAT THIS IS NOT A WAR BOT AND SHOULD NOT BE USED TO GAIN ADVANTAGE OVER OTHERS !!

[2016-04-19 12:40] muratlahur opened #587 "People Who Take Care of This Project are a big issue for the bot (Namely Ermiya and Apos)"
Well I've realized over the course of time that one of the great issues with this bot is the guy who wrote it ! Apos , not only he insists on putting lame advertisements & google analytics tags to track you in the bot but also he made the same bot into a feeder-clone which in return gotten into wrong hands and started the clone/bot frenzy in agar.io and that crippled servers with lag soo bad that

[2016-04-19 12:40] ErmiyaEskandary commented on #587
Name all you want.

[2016-04-19 12:41] #587 closed

[2016-04-19 12:42] muratlahur opened #588 "You Can't Silence Dedication boy ;) (Ermiya That is )"
Well I've realized over the course of time that one of the great issues with this bot is the guy who wrote it ! Apos , not only he insists on putting lame advertisements & google analytics tags to track you in the bot but also he made the same bot into a feeder-clone which in return gotten into wrong hands and started the clone/bot frenzy in agar.io and that crippled servers with lag soo bad that

[2016-04-19 12:42] ErmiyaEskandary commented on #588
Reported. Now I know why Apos doesn't like you.

[2016-04-19 12:42] #588 closed

[2016-04-19 12:43] muratlahur opened #589 "####"
####

[2016-04-19 12:46] muratlahur opened #590 "#####"
#####

[2016-04-19 12:47] #589 closed

[2016-04-19 12:48] muratlahur opened #591 "####"
######

[2016-04-19 12:49] ErmiyaEskandary commented on #591
Its advertising "boy".

[2016-04-19 12:49] #590 closed

[2016-04-19 12:50] muratlahur commented on #591
nah, I'm just trying to find someone with senses to work with ..
advertise what ?? something that I don't sell and I don't release ???

[2016-04-19 12:50] ErmiyaEskandary commented on #591
advertising
noun
the activity or profession of producing advertisements for commercial products or **services**.

[2016-04-19 12:51] ErmiyaEskandary commented on #591
Find someone somewhere else - we are contributing to a project here.

[2016-04-19 12:52] muratlahur commented on #591
I know what advertising is .. where is the commercial product or service ?
either you prove that or your actions look a little bit hectic and delusional .

almost like a young , umm , boy ?

:P

oh this is fun

[2016-04-19 12:52] muratlahur commented on #591
and besides , to this project I've probably contributed more than you so far ;)

[2016-04-19 12:54] muratlahur commented on #591
or probably you'll also delete my words again and make everything look ok ??

seriously ?

[2016-04-19 12:55] muratlahur opened #592 "People Who Take Care Of This Project IS AN ISSUE for the bot's future !"
Well I've realized over the course of time that one of the great issues with this bot is the guy who wrote it ! Apos , not only he insists on putting lame advertisements & google analytics tags to track you in the bot but also he made the same bot into a feeder-clone which in return gotten into wrong hands and started the clone/bot frenzy in agar.io and that crippled servers with lag soo bad that

[2016-04-19 12:59] ErmiyaEskandary commented on #592
Make one yourself on Github then. Stop whining.

[2016-04-19 12:59] #592 closed

[2016-04-19 12:59] #591 closed

[2016-04-19 13:00] muratlahur commented on #592
ermm . .how about we stop telling others what to do ??

[2016-04-19 13:01] muratlahur commented on #580
Hey, I've fixed this !!! it's a ONE-LINE code...

But the coders of this project can't get to that line..

instead they are busy deleting my posts here...

That's why your bot will keep eating food inside the viruses..

Sad, but true !

[2016-04-19 13:03] muratlahur commented on #569
This is NOT A WAR BOT , and neither it should turn into one ..

Besides whoever thinks shooting 7 mass into a virus is sufficient either needs to play agar for much longer or learn to count..

whichever comes first !!

[2016-04-19 13:05] muratlahur commented on #569
DO NOT DESIGN AI THAT WILL GIVE UNFAIR ADVANTAGE TO OTHERS !!

you'll just get taken care of by moneyclip like the Apos feeder bot that completely ruined agar servers for months and moneyclip had to come up with patches for that ..

instead of deleting my posts just face the reality would you ??

[2016-04-19 13:06] muratlahur commented on #374
as of now the bot can't send opCodes , I get this !

![screen shot 2016-04-19 at 07 53 20](https://cloud.githubusercontent.com/assets/14038239/14640131/3fb0729a-066a-11e6-9726-6b6fc235d7b6.png)

[2016-04-19 13:09] muratlahur commented on #351
I came up with a much simpler solution to this , that dynamically assesses threats around according to their quantity and then weighs that against the wall distance , almost an immaculate fix.. Walls are never ever a problem anymore ..

Now the only problem is the bot doesn't know where the walls are . . .

[2016-04-19 13:14] muratlahur commented on #274
The reason why moneyclip is coming up with fixes that crippled all mini-map etc. scripts..

Knowing where you last died is no good for other than teaming purposes..You just want to get to your team mate who has all you mass A.S.A.P ..

Guess what ? moneyclip is doing their best to stop teaming ..

Add features to this bot that supports teaming and your bot will be taken care of by moneyclip ...

P

[2016-04-19 13:31] muratlahur opened #593 "Advertising !"
There are ad's in this bot that not only breaks the game play with an annoying pop up to a completely irrelevant personal website of the developer

but also won't go away until one reaches the keyboard and hit's a key ..

(I play with a bluetooth mouse on a 100" projection screen and my computer is always far away)

I remember another developer ranting today about not advertising ..

We even had s

[2016-04-19 13:36] muratlahur opened #594 "Google Analytics Tags"
There is a google analytics code inside this bot which is not only completely unneeded for the game play , but also tracks everything you do down to your demographics and reports back to google ( and the developer ) in real time ..

I suggest you remove that and give people a cleaner experience ..

[2016-04-19 13:38] ejb1123 commented on #572
[code]

[2016-04-19 14:00] muratlahur opened #595 "Location !!"
There is  a location indicator on launcher but because it's reporting the new buggered location from the server it's just a useless piece of screen clutter and can/should go away

[2016-04-19 14:33] ErmiyaEskandary commented on #572
Are you using the loader ? I think I know what the problem is.
On 19 Apr 2016 14:38, "E.J. Bevenour" <notifications@github.com> wrote:

[2016-04-19 14:50] FliiFe commented on #572
BTW, I can confirm this issue on chrome. (Got the same `Uncaught TypeError: Cannot set property 'width' of undefined`)

[2016-04-19 14:51] ErmiyaEskandary commented on #572
Are you using the loader ?

[2016-04-19 14:51] ErmiyaEskandary commented on #572
Because I'm using the separate launcher and bot file and I can verify it is working.

[2016-04-19 14:51] ErmiyaEskandary commented on #572
@FliiFe brb gitter not working

[2016-04-19 14:54] FliiFe commented on #572
It works on chrome, but only if you use tampermonkey. That doesn't make any sense to me

[2016-04-19 14:58] FliiFe commented on #572
![capture du 2016-04-19 16-55-55](https://cloud.githubusercontent.com/assets/8740385/14643766/ef16194e-064f-11e6-8ffd-a7cebcdee9bf.png)

[2016-04-19 15:13] ErmiyaEskandary commented on #572
Can you point me to what line in the code causes the problem ? Click on the link next to the error.

[2016-04-19 15:17] FliiFe commented on #572
775

[2016-04-19 15:17] FliiFe commented on #572
It's written (that's why I screened)

[2016-04-19 15:18] ErmiyaEskandary commented on #572
Chrome debug error have different line numbers - that's why I asked

[2016-04-19 15:20] ErmiyaEskandary commented on #572
I can't recreate this issue - can I have the line number ?

[2016-04-19 15:24] ErmiyaEskandary commented on #572
What do you apart from Tampermonkey on Chrome ?

[2016-04-19 15:26] FliiFe commented on #572
Just basic javascript script loading (jQuery)

[2016-04-19 15:27] ErmiyaEskandary commented on #572
I think that's the issue - found that out when you were running the code from localhost

[2016-04-19 15:27] ErmiyaEskandary commented on #572
You need to install the launcher and bot files

[2016-04-19 15:27] ErmiyaEskandary commented on #572
@ejb1123 How are you loading the scripts ? loader ? bot and launcher ?

[2016-04-19 15:30] FliiFe commented on #572
He is using the loader

[2016-04-19 15:50] FliiFe opened #596 "Wall code modification + re-integration"
## <s>Wall code reintegration</s>
<s>As some may have noticed, Murat Lahur, before causing trouble to all of us, suggested to figure out the map borders. This is not a bad idea, but not really usefull as of now. However, we need the wall code in order not to be cornered. What I was thinking is that, we can just un-comment out the wall code, and it would (theoretically) work ! </s>
## <s>Why ?</s>

[2016-04-19 15:53] ErmiyaEskandary commented on #596
In overall, removing the wall code makes the bot better everywhere else.

Don't fully understand this

[2016-04-19 16:48] FliiFe commented on #596
The wall code removal doesn't make the bot better, it just removes an unuseful piece of the bot (we thought it was unuseful, at least).

So, I'll explain step by step.

The blob is **always** centered in the fake borders (the restricted map).
This is true, exept when you are close to a side/corner, when one or of the side will be the real borders.

That accepted, the blob will **only** be able to

[2016-04-19 16:49] ErmiyaEskandary commented on #596
Ah ...

[2016-04-19 16:50] ErmiyaEskandary commented on #596
That's what I was thinking yesterday - but the location won't work as it's fake borders.
But the wall code would work as it would only get activated when we are close to the **real** border ? Are we on the same page ?

[2016-04-19 17:01] FliiFe commented on #596
Yes we are. Coordinates won't work, and there is a little we can do about this. But the wall code should work correctly if I'm not wrong

[2016-04-19 17:03] ErmiyaEskandary commented on #596
Please make a commit to `dev` uncommenting the wall code - I agree with you

[2016-04-19 18:29] tjbcg opened #597 "Coordinates fix"
It seems like when you use `getPlayer()`, `getPlayer().x` and `getPlayer().y` are correct and relative to the entire map. We should use them for getting location, even if it requires using a new unit. (Something else is better than nothing)
## Current status

We can retrieve the map size with packet id 64 (_thanks @ErmiyaEskandary_). We have the coordinates of the player relative to some _yet-to-f

[2016-04-19 18:32] FliiFe commented on #572
@shyon-k How are you loading the scripts ? Using tampermonkey/greasemonkey ? If you use the loader, I recommend using the two separate files instead (`bot.user.js` and `launcher.user.js`)

[2016-04-19 18:54] FliiFe commented on #569
So, current status, we can get the coordinates of the nearest virus, but only if it is detected as an enemy (i.e you are bigger than the virus).

Here is the current function :

[code]
It returns the closest virus object. We can then access its coordinates with something like
[code]

[2016-04-19 19:52] ErmiyaEskandary commented on #569
Which will be accompanied with extra code soon - WIP

[2016-04-19 19:56] ErmiyaEskandary commented on #597
If I'm not mistaken, when I was porting the old launcher code to the new agar.io main_out.js file, getPlayer() is a function which takes its variables from launcher.user.js, which converts all the agar.io obfuscated variables and converts them into function which the bot.user.js file can understand. Therefore, it is agar.io's own information and should be relative and correct to the entire map as

[2016-04-19 20:08] ErmiyaEskandary commented on #569
@FliiFe NOW lable is used for WIP ;)

[2016-04-19 20:16] ErmiyaEskandary commented on #596
Modified the wall code so that the walls are detected from a smaller distance. Testing...

[2016-04-19 20:18] ErmiyaEskandary commented on #596
Initial testing successful. Will be added soon.

[2016-04-19 20:36] Evanito opened #598 "Bot "does a dance" when it sees two clusters of cells"
The bot jerks back and forth 3 or 4 times before deciding on which group of cells it will eat when there are two suitable groups. Maybe have it prefer the cell cluster it already targeted unless there is a dramatic advantage to go the other way?

[2016-04-19 22:30] Drflash55 commented on #580
Yeah, that's something I suggested a while ago to be fixed. There should be a function that tells the bot that if it detects food or a cell inside of a virus, and it's not small enough to eat it without popping, it should ignore it entirely.

[2016-04-19 22:32] Drflash55 commented on #598
It's the bot trying to think about which way is faster to get food. This issue was discussed by @Apostolique as to why the bot doesn't go for huge food clusters, although I don't remember where it was.

I'm also not sure how to make the bot dedicated on one food group just so it doesn't confuse itself on which way is the fastest to get food.

[2016-04-19 22:38] Drflash55 commented on #596
Huh... I always wondered about the problems with the wall code. What's important about it? Does it help with usually escaping incoming cells that are trying to corner you?

[2016-04-19 22:49] Drflash55 opened #599 ""No Choice" Split function"
I was thinking that the bot could have a function implemented in it's algorithm, that when there's a cell bigger than the bot, and it gets way too close (trying to split for the bot, re-merges near the bot), the bot can try to split away in the opposite direction to avoid getting killed.

Although, this can be a problem with smaller cells, as if you got popped, and another cell tries to eat the sm

[2016-04-20 05:54] ErmiyaEskandary commented on #596
That's what I know - helps with escaping incoming cells that are trying to corner you.

[2016-04-20 05:55] ErmiyaEskandary commented on #580
Being worked on.

[2016-04-20 06:04] ErmiyaEskandary commented on #580
This function checks if it is food or not -
[code]

[2016-04-20 06:07] ErmiyaEskandary commented on #580
But it has no way of understanding if the food is **in** the virus - it only detects if it **isn't** a virus.

[2016-04-20 06:18] ErmiyaEskandary commented on #597
I could implement a minimpa which shows  your location **and** shows the walls.

[2016-04-20 06:25] ErmiyaEskandary commented on #597
The map sizes are sent by the server when you first connect, packet ID 64. We can possibly use that to figure out where we are :+1:

[2016-04-20 10:43] FliiFe commented on #596
@Drflash55 Added clarification

[2016-04-20 11:05] FliiFe commented on #569
@ErmiyaEskandary Doesn't sound logical... Shouldn't we use TODO and WIP instead ?

[2016-04-20 11:06] FliiFe commented on #598
This would require A LOT of refactoring in the code, and Apostolique is basically the only one to fully understand his code.

[2016-04-20 11:07] #596 closed

[2016-04-20 11:09] FliiFe commented on #597
How are agario's coordinates converted to "location" coordinates (the one the bot uses now) ?

[2016-04-20 11:14] FliiFe commented on #99
Related : We should remove the dot under the mouse. It's unusefull (afaik) and annoying. I mean, the user know where his mouse is, right ?

[2016-04-20 11:33] FliiFe commented on #599
It's very rare (from my experience) that cells are that close to your cell. However, that would be a good idea. It's still better than not doing anything.

[2016-04-20 11:35] FliiFe commented on #256
Everything here have been fixed/implemented now. Closing the issue. Feel free to reopen the issue if you have other suggestions :smiley:

[2016-04-20 11:36] #256 closed

[2016-04-20 12:24] FliiFe commented on #561
Anyway, What's the matter with adsense ? What is it used for ?

[2016-04-20 12:28] ErmiyaEskandary commented on #596
Will be added soon to the master branch.

[2016-04-20 12:29] ErmiyaEskandary commented on #569
**NOW means we/I am working on it now. Soon means todo. Later means not on the todo list yet**

[2016-04-20 12:29] ErmiyaEskandary commented on #598
What @FliiFe said. :) @Apostolique

[2016-04-20 12:30] ErmiyaEskandary commented on #597
Don't know - didn't ask @Apostolique . I'm just sure that we can use them to find our location as we know the map size.

[2016-04-20 12:31] ErmiyaEskandary commented on #99
@FliiFe What dot ? the yellow one ?

[2016-04-20 12:36] ErmiyaEskandary commented on #599
@FliiFe @Drflash55 Doesn't the bot avoid enemies from a certain distance which is the distance where they can split ? That would render this useless. Do you mean near the walls if you are cornered but even then, the wall code will be added soon which fixes this .

[2016-04-20 12:37] ErmiyaEskandary commented on #561
It doesn't even work now - adsense is for Google ads which Apos added in. It doesn't even work now.

[2016-04-20 12:40] FliiFe commented on #561
@Apostolique I don't know what you think of that, but we should remove ads. It's definitely not in the open-source perpective... That's up to you

[2016-04-20 12:43] ErmiyaEskandary commented on #561
@FliiFe Totally agree with you. I'm going to do that today. If he doesn't agree, he can always add it back in but he isn't even online so :(

[2016-04-20 12:48] ErmiyaEskandary commented on #561
Issue fixed - will be added to the `master` branch soon. :)

[2016-04-20 12:48] #561 closed

[2016-04-20 12:50] ErmiyaEskandary commented on #247
Display blob danger/edibility via color :
Red - it can split and eat you
Orange - it can eat you, but not if it splits
Yellow - Same size as you
Green - you can eat it, but not if you split
Purple - you can split and still eat it

[2016-04-20 12:50] Drflash55 commented on #599
@ErmiyaEskandary, there are times when just the normal speed alone, won't cut it, because someone splits for you at least twice, or three times in a row.
Also, when it's near a cell that re-merges, the person, can easily split at you as soon after it re-merges. The re-merge warning should help avoid this problem, but it can still happen.

[2016-04-20 12:53] Drflash55 commented on #247
Huh, it seems to be almost backwards to how OGARio works.

`Pink - They can split more than twice, and eat you.
Purple - They can split and eat you.
Red - They can eat you, but not if it splits.
Yellow - They are around the same size.
Green - You can eat it, but you can't split.
Cyan - You can split and still eat it.`

[2016-04-20 12:54] FliiFe opened #601 "Avoid slightly bigger cells"
Considering slightly bigger cells as not dangerous is a terrible mistake ! Even if they can't eat you, if they gain one mass, the'll eat you. And I noticed small blobs often throw some mass at those slightly-bigger-than-you cells in order for them to eat you.

### Proposed fix
There should be no tolerance about size. If a cell is bigger than you, then avoid it, even if it can't eat you.

[2016-04-20 13:00] Drflash55 commented on #601
@Apostolique made the edit that when there's a cell that way bigger than you, the bot should ignore it since, most players won't go for cells that are really tiny to them...

[2016-04-20 13:04] FliiFe commented on #601
@Drflash55 I'm not talking about them, I'm talking about the really slightly bigger one, which can overlap with you without eating you because they are not big enough

[2016-04-20 13:48] muratlahur commented on #601
he is suggesting to bring the can-eat back to 1.33

[2016-04-20 13:50] muratlahur commented on #580
now that my acc is back online I guess you can safely jump to the fix ;)

[2016-04-20 13:55] muratlahur commented on #599
I've decided to be even nice and give this bit of code away as well..It's not even x-mas :) but hey .. I love bots..

in order to achieve this we'll need two functions

add these two functions on top of your bot (ie: in the current bot line 137 will be perfect)

`this.isEating = function (cell1, cell2) {
        var dist = this.computeDistance(cell1.x, cell1.y, cell2.x, cell2.y);
        var param

[2016-04-20 13:56] muratlahur commented on #599
so there you go geniuses , I've given you two fixes in a day , food inside the virus and evasive mechanics..

That's from the bottom of my heart ..

NOW WOULD YOU CONSIDER REMOVING THE ADS AND GOOGLE ANALYTICS PLEASE

this is for everyone's sake

[2016-04-20 13:58] muratlahur commented on #599
by the way let me also explain what this does 👍

if someone starts getting into your cell a little bit , the bot considers this pushing and starts purging mass..this will make it faster and hopefully will get out of the situation ..

however , if the other cell enters you too quickly and too much (like in a split eat situation) then it will split instead and run away ..

enjoy lads !! ;)

[2016-04-20 14:17] ErmiyaEskandary commented on #601
Huh ?

[2016-04-20 14:20] ErmiyaEskandary commented on #599
@Drflash55 @FliiFe Can you test this ?
@muratlahur ads have been removed.

[2016-04-20 14:21] ErmiyaEskandary commented on #580
You are requesting for us to implement it - nobody asked for your help.

[2016-04-20 14:23] ErmiyaEskandary commented on #580
@muratlahur if you stop acting like above, I will implement your code - I have no issue with you.

[2016-04-20 14:25] FliiFe opened #603 "Live stream alert removal"
### Alert removal, discussion

It seems like some people from this commutity want the "Apostolique is live" alert removed. I'm not going to give my advice on this yet, just let people discuss on this.

### Current arguments

| Who ? | Why should it be removed ? | Why shouldn't it be removed ? |
|-------------|------------------------------|---------------------------------|
| @muratlahur | Alert i

[2016-04-20 14:25] ErmiyaEskandary commented on #593
@muratlahur Me and @FliiFe reached a conclusion that we should remove the ad code. Removed.

[2016-04-20 14:25] #593 closed

[2016-04-20 14:26] ErmiyaEskandary commented on #594
I didn't like the ads as well but what's the problem with Google Analytics ?

[2016-04-20 14:26] ErmiyaEskandary commented on #603
Ads have been removed - which other ads ?

[2016-04-20 14:27] ErmiyaEskandary commented on #603
It isn't an ad - it is just a alert.

[2016-04-20 14:27] FliiFe commented on #603
@ErmiyaEskandary "twitch.tv/apostolique is online right now!"

[2016-04-20 14:27] ErmiyaEskandary commented on #603
Does that show a box or in the console ?

[2016-04-20 14:29] ErmiyaEskandary commented on #603
Some people might want to know when he is online -

Same here

[2016-04-20 14:29] FliiFe commented on #603
@ErmiyaEskandary That shows up like the "UPDATE BOT", kinda obtrusive, to be fair

[2016-04-20 14:29] ErmiyaEskandary commented on #595
https://github.com/Apostolique/Agar.io-bot/issues/597 already acknowledged

[2016-04-20 14:29] #595 closed

[2016-04-20 14:30] ErmiyaEskandary commented on #603
Doesn't it go away ?

[2016-04-20 14:31] ErmiyaEskandary commented on #603
I believe it shouldn't be there - but it's Apos's opinion. Should I change it so it only shows it in the console ? It won't be obtrusive then.

[2016-04-20 14:32] ErmiyaEskandary commented on #583
Acknowledged here - https://github.com/Apostolique/Agar.io-bot/issues/597

[2016-04-20 14:32] #583 closed

[2016-04-20 14:32] FliiFe commented on #603
@ErmiyaEskandary It won't be obtrusive, but It will be unuseful. I think we should wait ~1 week to collect advices from the community

[2016-04-20 14:33] ErmiyaEskandary commented on #603
@FliiFe I have no problem with that. :)

[2016-04-20 14:46] muratlahur commented on #603
I have a problem , I play with a bluetooth mouse and a projector, my keyboard is far away and I never ever touch it ..

I guess there maybe other examples..

besides forcing people to look at your stuff (I personally find it utterly boring and irrelevant) is just not the way to go ..

my two cents

[2016-04-20 14:47] FliiFe commented on #601
@ErmiyaEskandary Sometimes, cells can overlap with you without eating you (as if they eated you, exept they can't because they are too small, but still bigger than you)

@muratlahur What do you mean ? Shouldn't it be 1 instead ? I don't know this part of the code.

[2016-04-20 14:47] muratlahur commented on #594
Google tracks you , EVERY USER !! down to demographics.. how long you use , when you use, where you from , how old are you , if you've never used google analytics take a look ..

it's very very detailed tracking ..

THERE IS ABSOLUTELY NO NEED FOR IT IN ORDER FOR THE BOT TO RUN ..

[2016-04-20 14:51] muratlahur commented on #580
Hey man , truth .. Only the truth .. deal with it ..No seriously I mean absolutely no offense, it is what it is .. You'll copy  and paste that and it will work brilliantly..

I'm not helping because anyone asked, not doing for fame either.. I want people to have the best AI experience ..I have been developing bot since my botnet year back in the 90's ..

I love AI . ok .. And yet , very often I do

[2016-04-20 14:53] FliiFe commented on #594
What if this part was moved to the loader instead ? That gives a choice. If you don't want Google Analytics, then use the separate files. If you don't mind, use the loader.

[2016-04-20 14:53] Drflash55 commented on #603
It was used as a way to let people know that he's streaming on Twitch. It usually led you to watch the progress on the bot to see what kind of new features that he's implementing...

At least, when he USED to stream about Agar.io...

[2016-04-20 14:55] ErmiyaEskandary commented on #594
I totally agree with this :

[2016-04-20 14:55] Drflash55 commented on #601
@FliiFe Mura is talking about the ratio that was used for the canEat to canSplit range.

Me and Apostolique were testing the correct amount to see if it could be totally flawless... and we seemed to have got a really good estimate on the correct value, but it's not perfect.

[2016-04-20 14:55] ErmiyaEskandary commented on #594
The Google Analytics isn't Apos's - it's agar.io's own so we can remove it.

[2016-04-20 14:56] Drflash55 commented on #599
@ErmiyaEskandary I need the place to insert it, as to not interfere with the bot's internal coding.

[2016-04-20 14:57] ErmiyaEskandary commented on #599
Line 137 and Line 922. Read @muratlahur comment.

[2016-04-20 14:58] ErmiyaEskandary commented on #580
@Drflash55 @FliiFe Can you test ? I can't test due to where I'm at.

[2016-04-20 14:59] muratlahur commented on #603
Ok I chip in to the show it in the console idea !! If some geek really want to get to apos, (or whomever) the console will be a fair enough place ..

So not every user that downloads the bots has to get that in their face..

And FliiFe, you are more liberal than I thought ..

I start to like you :)

[2016-04-20 14:59] ErmiyaEskandary commented on #603
So he can't stream anymore about agar.io as it's copyright ?

[2016-04-20 15:02] muratlahur commented on #601
1.33 is what agar decides .. if a cel is 1.33 times bigger then the other cell/virus it can eat it ..

[2016-04-20 15:04] ErmiyaEskandary commented on #601
Where is the canEat part in the code ? I can change it to 1.33 if @muratlahur is sure.

[2016-04-20 15:04] Drflash55 commented on #599
@ErmiyaEskandary I've tried inserting it into the launcher.user.js, but my school firewall is being a d**k.

I'm sorry, I will have to test this at home...

[2016-04-20 15:05] Drflash55 commented on #580
@ErmiyaEskandary Would love to, but my school firewall doesn't allow me to play Agar.io

Have to do it at home.

[2016-04-20 15:06] muratlahur commented on #601
it's not can eat

it's isFood

and I've just checked and it is at 1.33 anyway lol :P

[2016-04-20 15:06] ErmiyaEskandary commented on #599
@Drflash55 damn
@FliiFe Can you test ?

[2016-04-20 15:07] ErmiyaEskandary commented on #601
So no point of this issue or ... ?

[2016-04-20 15:07] Drflash55 commented on #601
@muratlahur It was at 1.2, but I decided to experiment with it, and so we went all the way to 1.33, which seemed to be the best place to leave it at...

If you can get an even more specific range, that would be nice.

[2016-04-20 15:08] muratlahur commented on #580
lol there is nothing to test . I am playing with it right now ..

copy / paste at the lines I've indicated and you are good to go :)

[2016-04-20 15:08] ErmiyaEskandary commented on #580
@muratlahur I can't edit the bot just because you say it works. I need someone else to test it as well, just to make sure. @FliiFe Can you ?

[2016-04-20 15:10] muratlahur commented on #594
well , I don't see why anyone would want apos to track them even remotely ..

and Fliife that's a brilliant idea.. the loader is not being updated for ages anyways.. almost everyone uses the two seperate files ..

but hey , hold your horses on these .. Apos put those tracking there and he might insist to have it..

I had all these discussions with him months ago to no success ..

[2016-04-20 15:11] ErmiyaEskandary commented on #594
@muratlahur

[2016-04-20 15:12] Drflash55 commented on #601
@FliiFe was wanting the ratio to be a bit bigger for the isFood, so that cells that are a little bit bigger will still be considered a threat for splittage. But, I was against this, because I wanted to have the EXACT amount so that if you try to split, the fire won't be a dud.

So, we're at opposite ends.

[2016-04-20 15:13] muratlahur commented on #603
I'd say the hell with it . but it's apos stuff .. I assume he'll have the last word..

I personally find it irritating and it is the first bit of code I've deleted from his bot

[2016-04-20 15:14] Drflash55 commented on #594
@ErmiyaEskandary Kinda. He made a few commits to this during this month, so he's still aware of this, just not as active as he was back in September.

[2016-04-20 15:15] Drflash55 commented on #603
I think it's kind of useless, because he can't stream Agar.io anymore... You can get another extensions which will enable desktop notifications for when a twitch streamer you follow goes live, so this is no longer necessary.

[2016-04-20 15:16] muratlahur commented on #601
ok , the number for split is 2.66 technically perfect , because when you are 2.66 times of someone and you dive yourself to half , each half will still be 1.33 rimes bigger so can eat..

I MADE THAT NUMBER TO 2.8 , it is one of my early contributions to this bot..

The reason is a sure shot..like you said no dud ! and 2.8 work perfect...
also both ways because the cansplit is also used when checki

[2016-04-20 15:17] muratlahur commented on #603
so you can safely do what I did. delete the code entirely .. less bandwidth use , less game clutter etc.

[2016-04-20 15:17] ErmiyaEskandary commented on #594
@Drflash55 I guess we have to wait for his input then...

[2016-04-20 15:19] muratlahur commented on #594
guys, it's evil tracking of google , I use it for my websites so I know what it can do ..

YOU want it gone from your computer trust me !!

[2016-04-20 15:20] ErmiyaEskandary commented on #594
Issue on hold.

[2016-04-20 15:21] Drflash55 commented on #601
The reason why I thought 1.33 was kind of perfect was that when testing it, I only eat a little piece of food, and the bot did not say he was eatable at the time, but I eat him anyways.

If 2.8 is the perfect range, I will try to implement that into the test script I have at home so I can try it out...

[2016-04-20 15:22] ErmiyaEskandary commented on #601
So 2.8 ? If so @FliiFe @Drflash55 test please and post your results here so I can be sure and then I can change the number.

[2016-04-20 15:23] muratlahur commented on #601
The bot is already at 2.8 I've merged that months ago .. You all are using 2.8 and it is quite ok .. And the is food is at 1.33 the mathematically perfect ratio and I also think it should be left at that

[2016-04-20 15:24] ErmiyaEskandary commented on #603
@Drflash55 so remove ?

[2016-04-20 15:24] Drflash55 commented on #601
@ErmiyaEskandary Will do... I have about 2 hours and 51 minutes as of now, so when that time passes, I'll be at home so I can test it out.

[2016-04-20 15:24] muratlahur commented on #594
oh well .. then you are doomed as he is no where to be found for months and months ..

[2016-04-20 15:24] muratlahur commented on #594
how about a poll ??

[2016-04-20 15:24] ErmiyaEskandary commented on #601
So no changes to the current code? @muratlahur

[2016-04-20 15:26] ErmiyaEskandary commented on #594
Ok - so thumbs up this comment if you want Analytics code to be removed for the aforementioned reasons.

[2016-04-20 15:26] muratlahur commented on #601
I would suggest so .. 1.33 and 2.8 are both in the code and as I explained above they serve just fine

you could change the 2.8 to 2.66 , that is mathematically perfect but then , the bot will think it can split to 2.66 smaller guys and although it is possible it's a near impossible shot..

Also it will be afraid of guys 2.66 , the same althoug it is possible it's nearly impossible for them to eat

[2016-04-20 15:27] Drflash55 commented on #601
@ErmiyaEskandary It seems to be that the isFood ratio is perfect, at 1.33. As you need to be 33% bigger than a cell to eat them. And 66% to split them... Hence why I put in 2.66 for the split ratio. But, I could be wrong...

[2016-04-20 15:28] ErmiyaEskandary commented on #601
So issue will be closed.

[2016-04-20 15:28] #601 closed

[2016-04-20 15:28] ErmiyaEskandary commented on #580
@Drflash55 @Drflash55 @muratlahur I can test all of these in 40 minutes.

[2016-04-20 15:30] Drflash55 commented on #603
@ErmiyaEskandary You can remove it, as it's entirely useless...

[2016-04-20 15:30] FliiFe commented on #594
I propose this, so that we can compare the + and the -. Strawpoll under maintainance.
http://polls.cc/AZiMuj/

[2016-04-20 15:31] ErmiyaEskandary commented on #594
@FliiFe We want it removed completely - not moved to the loader.

[2016-04-20 15:32] muratlahur commented on #594
it's evil .. It tracks you .. and your sister and your cat ..

lol hhihihihihi  :P :P

[2016-04-20 15:33] muratlahur commented on #580
N-Joy :)

[2016-04-20 15:33] FliiFe commented on #594
I updated the link

[2016-04-20 15:33] ErmiyaEskandary commented on #603
@Drflash55 In progress..

[2016-04-20 15:35] muratlahur commented on #601
2.66 is mathematically perfect as I've said.. 2.8 gives the bot a bit of a character if you will .. It takes tiny risks and gains headroom with that and also does sure-kill shots due to 2.8

up to you ..

[2016-04-20 15:36] #603 closed

[2016-04-20 15:37] ErmiyaEskandary commented on #594
We have three thumbs up anyway and the poll is 100% for remove. What's your stand on this @FliiFe ?

[2016-04-20 15:39] muratlahur commented on #594
lol I officially like FliiFe now.. That poll was cute ..

LMFAO @ nah. love being tracked

[2016-04-20 15:40] ErmiyaEskandary commented on #594
Poll closed so will be removed shortly.

[2016-04-20 15:44] ErmiyaEskandary commented on #247
Just random - We'll use those colours later.

[2016-04-20 15:47] muratlahur opened #606 "Dynamic Threat Management"
`var splitDangerDistance = (allPossibleThreats0[i].size + 930) / Math.sqrt(badAngles.length + 1);
                    var normalDangerDistance = (allPossibleThreats0[i].size + 200) / Math.sqrt(badAngles.length + 0.8);`

If you change your codes into this , now the split danger distance and the normal danger distance of the enemies will be reduced if there are more of them around , so if a few of t

[2016-04-20 15:48] ErmiyaEskandary commented on #606
Needs testing.

[2016-04-20 15:49] ErmiyaEskandary commented on #594
What's your stand on this @FliiFe ? Helloooo ?

[2016-04-20 15:51] FliiFe commented on #594
@ErmiyaEskandary Didn't see that. I personally don't really care about what google do with my infos, but I don't see the point of using Analytics for such project...

[2016-04-20 15:53] ErmiyaEskandary commented on #594
@muratlahur @FliiFe @Drflash55 Will be removed now

[2016-04-20 15:54] tjbcg opened #607 "Code enhancement suggestion"
I'm creating this issue to avoid a lot of issues from being created for little code improvements.
So we should keep here every suggestion **directly related to code**, **no feature request or bug fix request, just code correction suggestion**.

Example of valid suggestion : #606

**You should give code along with your proposal and where it should be added.**

[2016-04-20 15:54] FliiFe commented on #606
@muratlahur Please see #607

[2016-04-20 15:54] #606 closed

[2016-04-20 15:54] muratlahur opened #608 "Sorting Threats According to distance"
In your bot find and un-comment the code below

`/*allPossibleThreats.sort(function(a, b){
                        return a.enemyDist-b.enemyDist;
                    })*/`

in doing so you will sort the threats according to their distance , when this is used in conjunction with the dynamic threat management , bot becomes very very slippery and almost impossible to eat ..

[2016-04-20 15:54] FliiFe commented on #608
Please see #607.

[2016-04-20 15:54] #608 closed

[2016-04-20 15:54] ErmiyaEskandary commented on #607
@muratlahur add virus code here

[2016-04-20 15:55] muratlahur commented on #607
k fine..

[2016-04-20 15:56] muratlahur commented on #607
code to remove food under and around the viruses

`for (var j = clusterAllFood.length - 1; j >= 0; j--) { if (this.computeDistance(allPossibleViruses[i].x, allPossibleViruses[i].y, clusterAllFood[j][0], clusterAllFood[j][1]) < (allPossibleViruses[i].size * 5)) { clusterAllFood.splice(j, 1); } }`

[2016-04-20 15:56] FliiFe commented on #607
@muratlahur That's in order to keep issues ordered. Not in order to annoy you ಠ_ಠ

[2016-04-20 15:57] #594 closed

[2016-04-20 15:57] FliiFe commented on #607
@muratlahur Where should it be included ?

[2016-04-20 15:58] ErmiyaEskandary commented on #607
@muratlahur Already in another issue.

[2016-04-20 15:58] FliiFe commented on #607
@ErmiyaEskandary Check that issue

[2016-04-20 15:59] ErmiyaEskandary commented on #580
@FliiFe Can you test this code?

[2016-04-20 16:01] muratlahur commented on #607
find and replace the below code for improving virus situations

`this.isVirus = function (blob, cell) {
        if (cell.isVirus() && this.compareSize(cell, blob, 1.1)) {
            return true;
        } else if (cell.isVirus() && cell.color.substring(3, 5).toLowerCase() != "ff") {
            return true;
        }
        return false;
    };`

first off this is a much more inexpensive way of

[2016-04-20 16:02] ErmiyaEskandary commented on #607
@muratlahur Is this seperate from https://github.com/Apostolique/Agar.io-bot/issues/580 ?

[2016-04-20 16:04] muratlahur commented on #607
yes , this is where we are defining what is a virus or not , this is way up in the code

[2016-04-20 16:05] FliiFe commented on #580
@ErmiyaEskandary Yes, I will

[2016-04-20 16:05] ErmiyaEskandary commented on #607
With this, is #580 fixed or is that also needed ?

[2016-04-20 16:06] muratlahur commented on #607
no no they are completely different things, one is about food, the other is about deciding if a virus is a threat or not

[2016-04-20 16:07] ErmiyaEskandary commented on #607
@muratlahur Ok - added now.

[2016-04-20 16:10] ErmiyaEskandary commented on #580
@FliiFe please post results here after testing.

[2016-04-20 16:10] muratlahur commented on #607
Add this code right under the mergelist code to dynamically decide threat level for multiple cells..
(if a player is in many pieces it is much less likely to split at you , so in those situations we'll make their threat circles smaller)

`for (var i = 0; i < threatList.length; i++) {
            for (var z = 0; z < threatList.length; z++) {
                if (z != i && (that.canSplit(blob, threat

[2016-04-20 16:11] ErmiyaEskandary commented on #607
Many pieces ? Then it can't split.

[2016-04-20 16:12] muratlahur commented on #580
KNOWN BUG... As this effectively deletes the food around viruses , if there are many viruses around and you are right in the middle of them , the bot kinda drifts as it has no food to eat until it reaches some food..

[2016-04-20 16:12] FliiFe commented on #607
@ErmiyaEskandary Bot doesn't work anymore

[2016-04-20 16:13] muratlahur commented on #580
to avoid that ( and to get only the food under the virus deleted ) you should remove the * 5 ( this removes virus in a 5 x virus size diameter, if you delete that it will be just the virus size )

[2016-04-20 16:16] muratlahur commented on #607
ermm .. lol .. after which code ??

by the way guys I've realised this will be really hectic this way

I have loads of code to give ..

How about I just mail you guys the source (and you wet yourselves with it for a few days :P :P :P)

and you test modify and do whatever you like , and once ready you make a pull request ..

how's that ??

I mean since we are cool now with ads and analytics. I can

[2016-04-20 16:16] muratlahur commented on #607
ermiya , more than one pice I meant . let's say two pieces .. That guy will be a smaller risk than a guy with one piece ..right ?

[2016-04-20 16:17] muratlahur commented on #607
because really , almost NOTHING is the same in my bot, the wall code , food code , everything is heavilt modified.. this will be very difficult like this

[2016-04-20 16:18] muratlahur commented on #607
and besides . the code I have now is in a one piece working state . and I have comments and indicators all around it so you won't get lost

[2016-04-20 16:19] FliiFe commented on #607
@muratlahur Could you make a repo for this ? So we can work on this more collaboratively, and then merge everything back to this repo ?

[2016-04-20 16:20] muratlahur commented on #607
guys.. I suck at these.. I am a musician .. I have never used github before .. I seriously have no idea. I'm an old man and kind of outdated...

Please pretty please.. I give you the source. Do all you want with it

I mean jeez .. you are supposed to say yes to that lol :P

[2016-04-20 16:20] FliiFe commented on #607
@muratlahur Send an email then

[2016-04-20 16:21] muratlahur commented on #607
ahh now we talkin

[2016-04-20 16:21] muratlahur commented on #607
ermiya ?

or will you just clone it anyways ?

mwahaha (had to sorry)

:P

[2016-04-20 16:22] FliiFe commented on #580
@ErmiyaEskandary I'm sorry to tell you there is a problem somewhere. The bot is definitely trying to work but can't manage to.

[2016-04-20 16:22] FliiFe commented on #580
@ErmiyaEskandary Waiting for the bot to grow

[2016-04-20 16:23] muratlahur commented on #607
done .. ahhh now I'm relaxed.. it's off my hands .. now it's your baby.. take well care of it ..
and see you guys around :P :P

[2016-04-20 16:23] FliiFe commented on #607
No problem. Do you want us to give credits ? (You said in another comment you didn't, but asking anyway)

[2016-04-20 16:24] ErmiyaEskandary commented on #580
@FliiFe can you test now ?

[2016-04-20 16:25] muratlahur commented on #607
It's not that I didn't .. No one ever really cared before .. I'd love to why not ?

by the way , I'm assuming there will be some stuff that you might want to ask in the code , feel free to use my e-mail to ask anything you feel like

[2016-04-20 16:26] muratlahur commented on #580
ermiya , FliiFe has the entire source now .. I suggest you get it as well and just test and play with that as everything is where it should be

[2016-04-20 16:26] ErmiyaEskandary commented on #607
If it can't run smoothly anymore, then there is surely a problem.

[2016-04-20 16:26] FliiFe commented on #607
@ErmiyaEskandary Can you test on your side ?

[2016-04-20 16:26] muratlahur commented on #580
ESPECIALLY THE MULTICELL CONTROL JUST LOOK AT THE BRILLIANCE :D :D :D

[2016-04-20 16:27] ErmiyaEskandary commented on #580
We don't want the whole source - we want what's new. Let's go step by step. FliiFe did the virus code work ? Let's start with this...

[2016-04-20 16:27] FliiFe commented on #607
@muratlahur We're not going to just copy-paste your code, if you want credit, then you will have credit. We are open-source guys :smile:

[2016-04-20 16:28] muratlahur commented on #607
it does run smoothly for me ..keep in mind four cell control is effectively running the bot four times over for everything and is a serious cpu burden

[2016-04-20 16:28] ErmiyaEskandary commented on #580
Otherwise that's just copying your code.

[2016-04-20 16:29] ErmiyaEskandary commented on #607
We won't do the multi cell control just for now. @FliiFe will test in 5 min

[2016-04-20 16:29] muratlahur commented on #607
man , just do whatever you want with it . modify , tweak , take parts of it and embed .. whatever

just let's make it better and better .. that's all I want

[2016-04-20 16:29] ErmiyaEskandary commented on #580
@FliiFe we think the same lol

[2016-04-20 16:29] muratlahur commented on #607
well if you run the code I sent FliiFe it does everything , including the multicell and everything else

[2016-04-20 16:30] ErmiyaEskandary commented on #607
I'm not objecting just saying let's go step by step...

[2016-04-20 16:30] ErmiyaEskandary commented on #607
When I commit the new virus code after it has been tested, then we move onto another feature.

[2016-04-20 16:30] ErmiyaEskandary commented on #607
Wait 5 min and I'll test.

[2016-04-20 16:31] muratlahur commented on #607
by the way I also have a very modified version of the launcher hihihih

I've even changed the scoring system of the game .. we'll also get to those soon

[2016-04-20 16:33] FliiFe commented on #607
@ErmiyaEskandary Seems to work. You can make a PR

[2016-04-20 16:34] FliiFe commented on #607
Gonna clean this issue up

[2016-04-20 16:34] muratlahur commented on #607
there are only two things to be implemented .. For some bizarre reason (and I've made an issue before on this but you closed) the bot doesn't send opCodes anymore..So no split to kill and no split to evade and no purge to evade (although the code is perfect just the opcodes are not sent )

and The map . we need to know the correct map and that is back to the finding a corner issue

[2016-04-20 16:36] muratlahur commented on #580
ok , but my code  is apos bot + what's new .. so it's the same thing at the end lol ..

if you merge all the new things , you'll end up with my code anyway hehe

[2016-04-20 16:37] muratlahur commented on #580
anyhow..Look , I've given it all to you guys ....and I'm delighted that we understood each other on the ads and analytics..

so my job here is done really . .

I'll be @ my mail when you need me ..

Peeez out. . .

[2016-04-20 16:37] FliiFe commented on #607
@muratlahur No, there was an update on the map issue. Please see #597

[2016-04-20 16:39] muratlahur commented on #580
by the way , do study my code . there are many many many changes that I can't list..

From which food to chase , to how to handle threats to , re-unite and re-merge system to alone in the dark etc etc etc..

it will take you a while to completely understand what I did ..

[2016-04-20 16:40] ErmiyaEskandary commented on #607
So it works ?

[2016-04-20 16:43] muratlahur commented on #607
I know , I monitor everything 24/7 remember..

But that's not what's needed .. We NEED to know the entire map as we did before .. for several reasons..

For example in there you will see a corner code (not marked specifically so)
here :
`for (var j = foodList.length - 1; j >= 0; j--) {
            if (this.computeDistance(getMapStartX(), foodList[j][1], foodList[j][0], foodList[j][1]) < blob.size

[2016-04-20 16:45] muratlahur commented on #607
so I'm telling you two geniuses , things to do :
Define the square map like before
get the opcodes running ..(run my bot and check the console you will see it's trying to send opcodes but it can not)

[2016-04-20 16:47] muratlahur commented on #607
I know agar doesn't want us to know the map , but hey we like hacking things right ? there are already a few hacks inside my bot that agar does not allow us to do ..

[2016-04-20 16:49] FliiFe commented on #607
This is a behavior we don't want. We want food to be available wherever it is (except viruses), except when an enemy is dangerous.

[2016-04-20 16:50] ErmiyaEskandary commented on #607
That's what he's saying. @muratlahur don't continue here - issue is being worked on

[2016-04-20 16:51] kakol20 opened #612 "Cannot read property 'size' of null"
The bot freezes and shows `Cannot read property 'size' of null` on the console.

It unfreezes after a while.

Screenshot : http://i.imgur.com/QKgkAcz.png

[2016-04-20 16:53] muratlahur commented on #607
no no you want that behaviour FliiFe . look , you don't want the bot to go near walls or definetely not near corners ..

and other than being chased (which none of the food stuff applies anyway) the only way the bot moves is for feeding . so if the bot has no food towards the wall and a lot of food the other direction of course it goes away from the wall , and you REALLY want that ..

this is the

[2016-04-20 16:54] ErmiyaEskandary commented on #612
Can you tell me where you get the apos not defined error ?

[2016-04-20 16:56] muratlahur commented on #612
yes that was a bug I've fixed in my bot .. true , you'll get that error with apos bot

[2016-04-20 16:56] kakol20 commented on #612
I'm not too sure

[2016-04-20 17:00] muratlahur commented on #607
btw , enemy threat circles are commented out in the code I sent you .. kindly un-comment them because I want you to visually see what the dynamic threat management does .. you'll see the sizes of the circles wiggle as threats come near and in many numbers..

by the way I didn't mention before but there is also the same dynamic system for virus threats and their circles are also commented out .. so

[2016-04-20 17:01] ErmiyaEskandary commented on #612
Fixing right now ....

[2016-04-20 17:01] muratlahur commented on #607
now I'm out .. I think today I will be kraken finally

YAAAAAY !!!

[2016-04-20 17:03] FliiFe commented on #612
Fixed with last commit. Closing.

[2016-04-20 17:03] #612 closed

[2016-04-20 19:27] Drflash55 commented on #599
@ErmiyaEskandary Trying to use this, the bot breaks... Not sure if I should've inserted this into bot.user.js. But, launcher.user.js doesn't seem like the place to put this.

The current update shows this error as I try to use this code...
![This is the error](http://i.imgur.com/ZQDN5c7.png)

[2016-04-20 23:40] shyon-k commented on #572
@FliiFe I tried on both Firefox and Chrome, but I get the same results. Tampermonkey for Chrome, and Greasemonkey for Firefox.

[2016-04-20 23:46] shyon-k commented on #572
@FliiFe Thank you, I tried on Both browsers but it seemed to work on only  Firefox.

[2016-04-20 23:46] #572 closed

[2016-04-21 07:37] kaboom-industries opened #615 "Bot doesn't work at all"
￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Potato! ￼Pot

[2016-04-21 11:48] Drflash55 commented on #615
This is considered as spam, and it will be taken as such...

[2016-04-21 11:48] #615 closed

[2016-04-21 14:08] FliiFe commented on #572
@shyon-k It should work on chrome, if you use tamperMonkey (which uses `EcmaScript`)

[2016-04-22 21:48] kakol20 commented on #436
What happened to the wall code from your twitch stream? It worked really well. As far as I can tell

[2016-04-22 21:50] kakol20 opened #616 "Wall code"
What happened to the wall code from Apostolique's twitch streams? It worked really well.

[2016-04-22 22:57] Drflash55 commented on #616
Apos has decided to leave this bot as it is.
https://gitter.im/Apostolique/ACS?at=571a762d0eef754b5ea9961f

Read down from there on to find out why he's not working on this bot anymore... and for why we collaborators have to move on to another project.

[2016-04-23 20:09] ErmiyaEskandary commented on #616
That other project is https://github.com/ErmiyaEskandary/slither.io-bot which is a slither.io not. It's a collaborative project by @FliiFe and me. Feel free to check it out and it's a WIP and is going pretty well. For reasons why us collaborators stopped working on this project, refer to @Drflash55's comment above.

[2016-04-24 10:36] DeadWarrior58 opened #617 "I can't join party"
self explained

[2016-04-24 17:54] ErmiyaEskandary commented on #617
#616

[2016-04-24 19:55] Bahabb commented on #558
Thanks i will look

2016-04-18 0:04 GMT+01:00 Drflash55 <notifications@github.com>:

[2016-04-24 19:57] Bahabb commented on #558
Can u Put me the Link for the new script i really wanna try it and i Use
OPERA so you know..

2016-04-24 20:55 GMT+01:00 Timi Bahabb <timibaha@gmail.com>:

[2016-04-24 20:40] asllani94 commented on #617
same

[2016-04-25 18:06] chugzyboi opened #619 "update"

[2016-04-25 18:26] chugzyboi commented on #617
same

[2016-04-25 18:30] ErmiyaEskandary commented on #617
#616 my comment and @Drflash55 comment

[2016-04-26 11:46] Drflash55 commented on #619
Invalid issue...

[2016-04-26 11:46] #619 closed

[2016-04-29 14:19] rcdarich commented on #619
Main Characters

         Bobby and Logan

Chapter 1 Uh-Oh We Got Caught

Bobby and Logan are brothers that live in Boston, Massachusetts right next
to the Boston Red Sox field one night they had an idea while their mom was
at work and their dad was running on the beach. They always wanted to go to
the Boston Red Sox field so they got some rope and threw up the rope into
the Red Sox field and clim

[2016-04-29 15:00] Drflash55 commented on #619
Since this is an invalid issue, it will be treated as such...

[2016-05-02 02:40] KingRaze opened #621 "Won't Let Me Play (Won't Connect)"

[2016-05-02 11:48] Drflash55 commented on #621
You need to provide a description to your problem.

[2016-05-03 01:55] Keney1 commented on #621
It won't let us connect to the game without turning off the script. I guess they created a firewall for it :P

[2016-05-03 03:50] CosmicCreator opened #622 "Invalid?"
this.keyAction = function(key) {w;};
It says that the w is being mistaken as an expression and that a semicolon is missing can someone please tell me how to fix (Ps using tampermonkey and i suck at programing.)

[2016-05-03 03:50] CosmicCreator commented on #622
this.keyAction = function(key) {w};*

[2016-05-03 22:47] Apostolique commented on #436
I think I must have lost the code.

[2016-05-04 20:01] Drflash55 commented on #436
Oh darn...

[2016-05-05 21:25] Stedman42 opened #623 "Agario update"
I think agar updated today, and this brilliant bot no longer works. I have been using it for a few weeks now and it always amazes me how well it did. Could someone please fix it so it works again? Please?

[2016-05-06 11:41] Drflash55 commented on #623
Refer to #616.

[2016-05-07 09:40] 5p1Ky commented on #380
Does anyone make bots After the update ?

[2016-05-07 20:28] Superdoggy commented on #380
HAHA NOOBS no more cheating for you! :D

[2016-05-07 21:58] PrimeBagel commented on #380
Why the fuck are you here?

Sent from my iPhone

[2016-05-07 22:07] MasonBurdette commented on #380
lol rip agar bots, slither ur next

[2016-05-07 22:08] camilleeyries commented on #380
:( raga.pw published some videos

[2016-05-08 08:47] 5p1Ky commented on #380
Haha I just post this message because I hope all the dev will stop programming it so agario will be agario forever and not lagario, like the last month ...

[2016-05-08 08:55] 5p1Ky commented on #380
Please @PrimeBagel I know you've done a very intelligent bots script but if you succeed in re-making it (after the update) please keep it for your own use, and don't release it ... Please stop the bots in Agar, and don't ruin slither like we did for agar...

[2016-05-08 12:59] Superdoggy commented on #380
@5p1Ky no prob lel, my message wasn't directed toward you specifically, just anyone here :P

[2016-05-08 16:33] Nero7634 opened #624 "UI"
moves around everything on the screen when enabled

[2016-05-08 17:54] Drflash55 commented on #622
Refer to #616.

[2016-05-09 13:37] PrimeBagel commented on #380
I plan on releasing it again when I solve the new protocol

Sent from my iPhone

[2016-05-09 15:03] FlexibleSwift commented on #380
Primebagel add me on skype mirtre3

On Mon, May 9, 2016 at 3:38 PM, PrimeBagel <notifications@github.com> wrote:

[2016-05-09 17:54] ErmiyaEskandary commented on #380
Check a slither.io bot here :
https://github.com/ErmiyaEskandary/Slither.io-bot
On 7 May 2016 10:41, "5p1Ky" <notifications@github.com> wrote:

[2016-05-10 04:45] cornernote commented on #621
I get the same issue... Just can't connect to the server if the bot is running.

![image](https://cloud.githubusercontent.com/assets/51875/15135789/8f10bf34-16b9-11e6-9f60-4859a776e434.png)

[2016-05-10 04:47] cornernote commented on #621
![image](https://cloud.githubusercontent.com/assets/51875/15135832/f023b7a4-16b9-11e6-9fe7-b9e1b36e5a69.png)

[2016-05-10 11:43] Drflash55 commented on #621
Refer to #616.

[2016-05-11 00:29] TheFlyingPlatypus commented on #380
(:        ^ ^ ^
           |  | |

[2016-05-17 11:42] Drflash55 commented on #624
Refer to #616.

[2016-05-17 19:42] #569 closed

[2016-05-18 19:03] 5p1Ky commented on #380
This topic is definitely dead xD

[2016-05-19 03:37] arojasgloria commented on #138
the circle did not show up

[2016-05-19 11:44] Drflash55 commented on #138
Refer to #616.

[2016-05-19 16:48] 5p1Ky commented on #380
ClientM.pw just fucking bypass the last agar.io update. Bots are fu**** back noooooo !! D:

[2016-05-29 17:29] ester110 opened #626 "fack"
not found!!

[2016-06-05 10:17] tonimark opened #627 "invisible begin button"
screen scrolled down and i can't scroll up and click begin button

[2016-06-05 10:20] tonimark commented on #624
me too!

[2016-06-06 19:10] elprincefosdo2 commented on #627
yes me too what i make??

![image](https://cloud.githubusercontent.com/assets/19784260/15834299/16384370-2c2b-11e6-9f13-cc5517901001.png)

[2016-06-06 19:11] elprincefosdo2 commented on #627
help me please

[2016-06-10 15:30] DanielGuevara45 commented on #627
Hey I Have The Same Problem To

[2016-06-11 12:47] SscSPs commented on #627
This will supposedly not be fixed anytime in the foreseeable future

[2016-06-13 03:58] Detectivek opened #628 "WTF"
What is this? Please help I think I got here by accident

[2016-06-13 03:58] Detectivek opened #629 "Where am I here. I was trying to see if my husband was on my phone stalking me and somehow I wound up here please enlighten me"

[2016-06-13 12:21] MRebhan commented on #629
k

[2016-06-16 02:42] georgeedmard opened #630 "Cant connect"
it says
If you cant connect to the server  check if you have some antivirus or firewall blcoking the connection

[2016-06-16 21:14] 5p1Ky commented on #380
Anyone here has solved the new agario protocol ? Cuz bagar.io Did... :(

[2016-06-16 23:03] MasonBurdette commented on #380
I made my own solution and have bots!  Rewriting it to be in Node.js.

[2016-06-18 15:33] Drflash55 commented on #627
Refer to #616.

[2016-06-18 15:33] #627 closed

[2016-06-18 15:33] #629 closed

[2016-06-18 15:33] Drflash55 commented on #630
Refer to #616.

[2016-06-18 15:33] #630 closed

[2016-06-18 15:34] #624 closed

[2016-06-18 15:34] Drflash55 commented on #626
Refer to #616.

[2016-06-18 15:34] #626 closed

[2016-06-23 11:37] VanillaVoid opened #631 "2400 coins/24 hours"
Hi, my name is Vanilla Void and i am an agar.io twitch streamer and i have come up with an idea of a way in which you could earn 2400 coins everyday in agar.io. On agar.io, you get 20 free coins per hour, if you could create a code (tampermonkey or chrome extension) you would be able to manipulate it to collect every hour without you having to phisically enter agario. I have no intention of using

[2016-06-23 11:37] VanillaVoid commented on #631
Email me at vanilla.kidgo@gmail.com

[2016-07-03 14:58] MinersMC commented on #631
i already have that.

[2016-07-03 15:05] MinersMC commented on #631
https://gyazo.com/c4595fd58051e022a90383cc9697879f

[2016-07-03 15:06] MinersMC commented on #631
its a gif.

[2016-07-03 21:22] VanillaVoid commented on #631
anyway you could possibly help me get this?

[2016-07-03 21:22] VanillaVoid commented on #631
that would be awesome

[2016-07-10 14:45] HugoMSantos commented on #631
@VanillaVoid
You already can do it with [Agar.io Auto Respawn Evergreen](https://greasyfork.org/en/scripts/14297-agar-io-auto-respawn-evergreen)
Autospawn + Autoclick coin + Profiles w/ autosave settings + Macros + Reload server button + Spectate mode and more!

[2016-07-10 15:00] HugoMSantos commented on #631
And.. I think you dont know maths.
Agario "gives" you *20 COINS EACH TIME* you press the coin button (each hour)
so, if you multiply 20 x 24 (hours) it will be 480 and not 2400 coins.

[2016-07-22 13:43] DaAwesomeRazor opened #632 "Bring Back Apos Bot For Private Servers?"
Now that many multi protocol ogar servers are pooping up, we can bring back this bot for them. Im gonna see what I can do. Mabye other people can help too :D

[2016-07-27 01:55] henopied commented on #632
?

[2016-09-04 09:53] sumedang commented on #632
23

[2016-09-13 03:47] furkankucukuysal opened #634 "Connecting Error."
What is the problem?

[2016-11-18 23:11] jimmy-changa opened #635 "question from a new programmer"
Hey!  newb-lord jimmy-changa here!  I was wondering how you get the pos. info for the different cells/ blob things?  I'm trying to make a bot for a different game, www.spaceuncharted.com, but I cannot seem to find how the client receives all the visible ship and planet locations.  I will not be creating a wall hack script, because that would be too cheaty for my liking..  The game is fairly tediou

[2016-11-25 04:58] Apostolique commented on #635
Sorry for late reply.

I don't know if you have that for your game, but for agar, gcommer made a website where he described the protocol:

http://agar.gcommer.com/index.php?title=Protocol

Originally though, I had to reverse engineer the game's obfuscated Javascript code in order to understand what everything did. Perhaps you can check your game's rendering part and figure out where the ships are

[2016-12-02 17:48] haxer7t55356 opened #636 "messes up when i load it"

[2016-12-03 02:22] johnroberton commented on #636
same here

[2016-12-20 22:14] aweaweaweawe opened #638 "only half appears"
when it falls down, only half of it comes and wont let me connect

[2017-01-22 16:33] Markithias commented on #638
me too!!

[2017-01-28 15:28] DemonBytes commented on #638
Same here. The bot is not loading or something is wrong. Tested on Chrome and Opera.
Screenshot: http://prntscr.com/e1gife

[2017-03-05 01:12] BRONJAMES commented on #634
same

[2017-03-06 22:42] viziionary opened #639 "Inquiry"
Sorry this isn't an issue at all, it's just that I'm working on an artificial intelligence program to play agar.io with neural networks, and I was trying to look into your code to see where you're grabbing the enemy data from. I found in your launcher where you're using a function `lb` to add human players to a list in the global scope, but for the life of me I couldnt find where you're getting lo

[2017-03-09 07:17] Apostolique commented on #639
This might be outdated too, but: http://agar.gcommer.com/index.php?title=Protocol

The blobs objects have a size variable that you can read. Example: https://github.com/Apostolique/Agar.io-bot/blob/master/bot.user.js#L888

Those values come from the network update: https://github.com/Apostolique/Agar.io-bot/blob/master/launcher.user.js#L610

Obviously, that code is pretty old. The game changed a l

[2017-03-09 07:30] viziionary commented on #639
@Apostolique right, well thanks. Yeah the obfuscated code makes it tough, but this info should help toward tracking down the right part.

[2017-03-09 07:30] #639 closed

[2017-03-09 22:45] henopied commented on #639
Agar.io now has a new protocol with custom encryption and only a few have found this new protocol.

[2017-03-13 16:52] ErmiyaEskandary commented on #638
Refer to README

[2017-03-20 12:26] capeboi opened #640 "only quarter appears"
it shows half or even 1/4 of the screen. what the heck.
for further explanation: i can only see Connecting
If you cannot connect to the servers, check if you have some anti virus or firewall blocking the connection.

,even if i zoom out i can only see an advert THEN i cant close the ad.How do i solve this?
one time it worked but i cant click the join button.omgosh
![image](https://cloud.githubuser

[2017-03-25 05:52] capeboi commented on #638
GOSH SAME

[2017-03-25 09:48] ErmiyaEskandary commented on #638
Bot has been discontinued. Please read readme.

On Sat, Mar 25, 2017 at 5:52 AM, capeboi <notifications@github.com> wrote:

[2017-04-17 02:25] josedanp commented on #634
Does not start me

[2017-04-19 14:06] ghost opened #642 "Bot for allkeyshop agar.io?"
Can you make it work for allkeyshop version of agar.io?

http://www.allkeyshop.com/blog/agario/

[2017-04-30 07:10] misha-marinenko opened #643 "Whats wrong with launcher.user.js"
![image](https://cloud.githubusercontent.com/assets/22631701/25562373/3804e17a-2d8d-11e7-87d2-7cd582b9f015.png)

[2017-05-21 23:58] Santi12008 opened #644 "Connecting"
Nothing happens. I just get this message.

[2017-05-24 13:17] Santi12008 commented on #644
No ask yet?

[2017-06-20 19:56] YTJellyisamezing commented on #644
i cant connect

[2017-07-12 01:18] ahmedei150 commented on #631
god

[2017-08-22 18:02] jacksalssome opened #645 "I know its dead, but i'm having a try."
Hi, you don't have to answer, I saw issue 616, but I'v been working on getting the bot working all day.

I cant seam to get the right opcode("ff23123809", should be "ff0387592d") to keep the web socket alive, as the server sends back opcode 80 and kills the connection. I know the problem is between "x.onopen = function()" and "x.send(a.buffer)".

This might be some simple problem, i only learned h

[2017-08-22 18:22] Apostolique commented on #645
AFAIK, the protocol is different nowadays. I think the data is also encrypted. You might have to look at the new game code and reverse engineer it more.

[2017-08-23 06:05] jacksalssome commented on #645
Yeah, the more i look at the protocol the harder it gets to understand. Thanks for replying, i think I'm forced to give up.

[2017-08-23 10:34] #645 closed

[2017-09-10 15:42] EpicSkullYT opened #646 "Wont let me connect to agar.io"
When I have the Agar.io bot cheat on it won't let me connect to the game I use tampermonkey

[2017-10-13 02:29] amrloard commented on #631
Hello
بتاريخ ١٢‏/٠٧‏/٢٠١٧ ٣:١٨ ص، جاء من "ahmedei150" <notifications@github.com>:

[2017-11-29 21:13] Drflash55 commented on #646
Agar.io has changed so much since this bot was last updated.
It's not going to change anymore in the near future, so there's no point in trying to get help with it.

Closing this issue.

[2017-11-29 21:13] #646 closed

[2017-11-29 21:15] Drflash55 commented on #640
Refer to issue #616 for why this bot is no longer being updated.

Closing issue.

[2017-11-29 21:15] #640 closed

[2017-11-29 21:16] Drflash55 commented on #644
Refer to issue #616 for why this bot is no longer getting updated.

Closing issue.

[2017-11-29 21:16] #644 closed

[2017-11-29 21:18] Drflash55 commented on #643
This bot is over a year old, so a lot of old code that got used with Agar.io does not function anymore.
Refer to issue #616 for why this bot is no longer getting updated.

Closing issue.

[2017-11-29 21:18] #643 closed

[2017-11-29 21:19] Drflash55 commented on #638
Or, refer to issue #616 for why this bot is no longer getting updated.

Closing issue.

[2017-11-29 21:19] #638 closed

[2017-11-29 21:20] Drflash55 commented on #636
This bot uses a lot of code that Agar.io used to use. Since it has updated so much, most of what it could do no longer functions.
Refer to issue #616 for why this bot is no longer getting updated.

Closing issue.

[2017-11-29 21:20] #636 closed

[2017-12-04 18:29] WojteHH opened #648 "Problem"
If you cannot connect to the server. check if you have sove anti virus or firevallblocking. if the launcher is off, it does not. If you do not understand, I'm sorry but I'm using google because I'm from Poland

[2017-12-08 01:16] Drflash55 commented on #648
The connection issues happen due to how Agar.io's network services have changed since the last time this bot was updated. It also probably wouldn't work anymore since Miniclip's is putting a massive ban on those who try to use these 'gameplay enhancers.'
Refer to issue #616 for more reasons as to why this bot is no longer getting updated.

Closing issue.

[2017-12-08 01:16] #648 closed

[2018-02-09 16:55] bithc commented on #634
same

[2018-02-11 19:06] mreduar commented on #634
same problem

[2018-02-17 21:22] GhostShot3 commented on #634
SAME

[2018-05-29 16:14] ghost commented on #634
Same

[2018-08-01 20:23] downloadpizza opened #649 "Unable to find Arena while Bot active"
While the bot is active the "finding arena" text stays forever and the dev console outputs:
[code]

[2018-08-07 20:13] ghost commented on #634
same

[2018-08-20 02:32] MrWhale18 commented on #649
I have the same problem too it just says "Connecting Finding Arena..."

[2018-08-20 02:36] MrWhale18 opened #650 ""Connecting Finding Arena Bug""
I have this problem with the bot scripts. So I'm running the 3 scripts you install from the website but I can't play agar.io while the scripts are running it just says "Connecting Finding Arena..." Please help!!!!

[2018-08-23 20:44] AntiMatterAMA commented on #649
Yeah me too.

[2018-09-03 00:35] ghost commented on #650
You do realize this is an abandoned project right?

it's mentioned here https://github.com/Apostolique/Agar.io-bot/issues/616

[2018-10-29 23:29] freaky767 commented on #649
This project has been abandoned for over 2 years now... This wont be updated.
If you want a bot, make your own, or don't.

[2019-02-09 23:20] ughhhg opened #651 "'No Script is running'"
It says the script is not running near the small 'i' icon when I click the tampermonkey extension even though at the top it says enabled and in settings its enabled

image:

https://gyazo.com/2046133ef742d81b8c8034ed0bd544a2

[2019-02-10 04:29] Apostolique commented on #651
AFAIK the code in this project doesn't work anymore. It's mostly kept for historical purposes at this point.

[2019-02-10 04:29] #651 closed, assigned to nobody

[2019-06-02 08:21] ZonderoUik opened #652 "Limited runtime host permissions might break some Tampermonkey features like script update, GM_xmlhttpRequest and others!"
I cant use scrips
Chrome blocking Tampermonkey
Chrome 76+

[2019-06-02 08:24] ZonderoUik commented on #652
im just opened agario dark theme
Script work in 1 second and not working

[2019-06-10 18:48] freaky767 commented on #652
This project has been abandoned for 3+ years and will not be continued to be developed.

[2019-06-14 16:33] #649 closed, assigned to nobody

[2020-04-27 13:34] 50izac02 opened #654 "it just doesnt work"

[2020-06-05 18:49] rynduse commented on #654
i thing outdated.

[2020-12-29 16:35] EinsMalte commented on #654
Me too

[2021-06-29 17:08] CheaterXd opened #655 "Дайте пожалуйста чит на agario"
CHEAT AGARIO PLEASE